[2020-12-04 17:48] acoburn commented on #225
I will make a very concrete argument for why recommended claims should *not* be required. This is based on code that is currently running in production contexts.

I agree that if you are writing an identity provider (e.g. OIDC or based on OIDC) that generates JWT tokens, then yes, you will certainly want these _recommended_ claims to be present. Without those claims, you will likely be limiting yo

[2020-12-08 11:03] sberyozkin commented on #225
@ghunteranderson

No, it is not correct, please see below. What is correct here it is indeed a not-goal to attempt to certify IDPs for example, but the complete statement is not correct.

Identity Providers are issuing the tokens according to the best security practices, but also some claims can be present or absent depending on how a given Keycloak or other certified OIDC provider has had its rea

[2020-12-08 11:10] sberyozkin commented on #225
@ghunteranderson

Re my comment,

That said, lets see how it goes. If we will get a really successful MP JWT specification in time, then we can consider having some kind of campaign where IDP providers can set `MP JWT Compliant` badge if they verify their tokens are verified by all the compliant  MP JWT implementations :-), but it is certainly not a goal now and IMHO even it it happens, the situat

[2020-12-08 15:17] ghunteranderson commented on #225
Hey @sberyozkin. Thanks for bearing with me on this. 🙂 I want to be on the same page but I don't feel like I am 100% there yet.

I think there's a lot of value in this being true but I'm confused with how it doesn't contradict this excerpt from the spec.

For example, it sounds like you're saying a token with all required claims that does not include the recommended `typ` header must be accepted b

[2020-12-08 15:26] ghunteranderson commented on #225
I don't want to derail our thread with the idea of MP JWT compliant IDPs. The content of the token is what I really should have been focusing on in earlier comments. Still, I think this is a really great idea from a developer's perspective and I suspect IDPs would be interested if MP JWT was successful enough.

[2020-12-08 17:13] sberyozkin commented on #225
@ghunteranderson

There are many places in the spec, some of them originating from the very beginning, example, optional key sizes or algorithms. `RECOMMENDED` is in the same space - it is optional. Same as the MP JWT implementations may choose to require RSA keys 4096 bit or some obscure algorithm.

`RECOMMENDED` is an advice for the issuers to include these claims but no more than that - and now

[2020-12-08 18:08] ghunteranderson commented on #225
@sberyozkin

I see how the text doesn't suggest implementations reject them but it does seem to allow implementations to reject those tokens. I suppose I was expecting the spec to be more strict in this area than it is. However, I also get there's a tradeoff with security when the upper bound on requirements becomes more strict; something I hadn't considered before opening this issue.

I'm happy w

[2020-12-09 11:31] sberyozkin commented on #225
@ghunteranderson Well, we can just drop the whole section about the RECOMMENDED claims (i.e, do not advice anything at all) but would the spec win :-) ? Like I said, since these claims are effectively optional, it is in the optional space how the implementations may react to their presence or absence. Asking the implementations to reject the claims would make these claims required - which would al

[2020-12-10 21:20] kwsutter commented on #227
I find the [Actions output](https://github.com/smallrye/smallrye-jwt/actions/runs/401187578) for the TCK results hard to decipher...  For example, I can see that tests were run for both Java SE 8 and 11.  But, how many tests are part of the bucket, how many were executed, and how many were successful.  Where is that data?

I'll trust you for this ballot.  I've had a similar question on another Spe

[2020-12-10 21:40] radcortez commented on #227
Do you notice the attached tck-report in the artifacts sections? That is just a zip file that you can download and see the TestNG report. Does that work for you?

[2020-12-10 22:01] emecas commented on #227
@radcortez  @sberyozkin

Regarding to tests, when I tried to build `3.0.0-RC1` locally using different environments, I faced an error about `PS256 is an unknown, unsupported or unavailable`

I'm wonder if there is any particular dependency outdated on my local, but I could not find an indication in the README file about prerequisites, special procedure, or additional parameters during the build. N

[2020-12-10 22:24] radcortez commented on #227
I believe you required a more recent JDK 8 version. Can you please try to update yours and run again?

[2020-12-10 23:18] sberyozkin commented on #227
@emecas - `PS256` is not a required algorithm to support for `MP-JWT 1.2; but in either case, you need Java11 or install BouncyCastle and it might work, I think Jose4j will be able to translate `PS256` to `SHA256withRSAandMGF1`... But yeah; only `RS256`, `ES256` are required signature algorithms

[2020-12-11 10:43] sberyozkin commented on #227
@emecas Actually, I looked more carefully at the stack trace, as Roberto said, for Java 8 the more recent Java8 edition should help; I'm running Java11 myself but obviously some backporting has been done in the latest Java8 as well.

[2020-12-11 10:51] #218 closed

[2020-12-11 13:14] emecas commented on #227
Thanks @sberyozkin @radcortez

I got eventual problems with Java 11, in a different part of the build process (`SmallRye: MicroProfile JWT TCK ..................... FAILURE`), but after some retries I got the `BUILD SUCCESS` message

Finally, I was able to build it locally upgrading to the following JDK versions:

 - Java8:  `openjdk-8u272-b10-x64`
 - Java11:   `openjdk-11.0.9.1-x64` and `jdk-11.0

[2020-12-11 13:22] radcortez commented on #227
Was the issue related with the JDK 11 version as well? Or something else?

[2020-12-11 15:09] sberyozkin commented on #227
As I mentioned at https://github.com/smallrye/smallrye-jwt/issues/347, the `PS256` test is not related to MP JWT 1.2 and is only part of JWT builder API module, with this API not being a standard at the moment

[2020-12-11 16:06] sberyozkin commented on #227
@emecas Looks like a transient JVM fork problem on Windows.

Also re the `PS256` test failure with the old Java 8, since we have also discussed it here, the fix is at https://github.com/smallrye/smallrye-jwt/pull/348 and will be rebased into 3.0.0 RC2 or final - but what is important and which has already been discussed above it is not related to Mp JWT TCK.

Thanks

[2020-12-16 17:06] commodis opened #231 "Idiomic way to customize HTTP_UNAUTHENTICATED(401) response?"
Greetings!

I am running mp-jwt on Widlfly 22 using this quickstart

https://github.com/wildfly/quickstart/tree/master/microprofile-jwt

Running the command

[code]

results in HTTP 200 and in 401 if I modify the bearer token (as expected). The response is

[code]

having a HTML-body of `<html><head><title>Error</title></head><body>Unauthorized</body></html>`. I tried to overwrite
this behavior us

[2020-12-16 21:39] sberyozkin commented on #231
@commodis thanks for this issue, I believe it is better be discussed at the WildFly or possibly smallrye-jwt forums/issues, CC @darranl

[2020-12-17 08:24] commodis commented on #231
This issue could also start a discussion about clarifying this aspect within the specification

[2020-12-17 08:52] darranl commented on #231
+1 this is definitely an area I would like to discuss further both at the specification and SmallRye level.

The MicroProfile JWT specification is built on top of existing RFCs which if I am recalling correctly did have the provision to provide a real challenge for clients to understand.

But as @sberyozkin for the WildFly specific you may be better in the WildFly Google Group for discussions.

[2020-12-17 09:14] rdebusscher commented on #231
The customization of the error page/message should be described in the
JAX-RS specification. However, it seems it is not clearly defined there
also, assuming that it is built on top of the servlet specification (which
is not always the case) that has ways of defining custom error pages.

I'm not aware that ContainerResponseFilter can be skipped in certain
conditions so that should be looked at in

[2020-12-17 18:42] sberyozkin commented on #231
Hi @darranl I'm not aware of any specification in the OAuth2 or OIDC space which would recommend returning anything beyond 401.
Hence some resource servers may return 401, some 403, 401 is most used. May be somewhere some text does mention 401, I think I saw it somewhere.
The best I believe we can add here is a requirement in `2.0` to also return `WWW-Authenticate: Bearer` which is recommended for

[2020-12-18 09:46] darranl commented on #231
@sberyozkin In this case it is more the optional nature of the challenge header I am talking about so a client can understand why a 401 was received, additionally there is an option for this challenge to contain the required scopes so the client understands the minimal set required on the token it recieves.

One aspect related to this however is I think we are going to find a general gap that need

[2020-12-18 14:05] #225 closed

[2020-12-18 15:47] sberyozkin commented on #225
@ghunteranderson thanks; I think it would make sense to make some text clarifications in 2.0, lets continue the discussion later

[2020-12-18 15:56] ghunteranderson commented on #225
@sberyozkin Sounds good. Thanks again for going back and forth with me on this. The MicroProfile specs are important for my work and I'd love to help however I can. 🙂

[2020-12-18 16:35] sberyozkin commented on #231
Hey @darranl

Indeed. IDPs should be managing it, it can detect how many times the token has been used, etc - but MP JWT 1.2 verification is always local. Perhaps we should support a remote token introspection - so there IDP can tell the endpoint if the token is still active based on its own checks (number of calls, etc)

This was my point as well; if we start formalizing that 401 response should

[2020-12-18 19:38] commodis commented on #231
I agree that leaking more information than necessary is a bad practice
and it should not be enabled by default.
What I am asking for is a way to overwrite this behavior if my business demands it.

In JAX-RS you can do it by using a `ContainerResponseFilter`. MP-JWT builds on top of JAX-RS and I believe an implementation of MP-JWT should not reduce the degree of freedom of JAX-RS.

[2020-12-18 23:30] dblevins commented on #227
See the comments on https://github.com/eclipse/microprofile-open-api/issues/459#issuecomment-748362004 for ways we can improve the public TCK results summary.  This one at least mentions the spec name and version, which is a bit better.

[2020-12-21 11:24] sberyozkin commented on #231
@commodis

This is not really correct, there is no specification level requirement for MP JWT implementation be JAX-RS-based . But as Darran implied, it can be useful to report the addition information about the reason behind a verification failure

[2020-12-21 11:32] sberyozkin commented on #231
@commodis [See this code](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/jaxrs/RolesAllowedFilter.java#L59). If WildFly uses this JAX-RS filter then you can intercept it with `ExceptionMapper` and provide your own error response - but again it is not an MP-JWT level concern.
Note I've added an `MP JWT 2.0` milestone tag - but it won'

[2020-12-28 01:38] keilw opened #233 "Changing Java EE to Jakarta EE"
As JWT-Auth 1.2 already uses Jakarta EE 8 these changes better should have been done before 1.2 went final.
The spec mentions Java EE in at least 13 places and old pre Jakarta EE JSRs like 375 as a depencency beside others especially half a dozen references to JSR 250.

All of these should be changed to the appropriate Jakarta EE successors.

[2021-01-03 04:02] keilw opened #234 "Spec Bug under "Additional Claims""
In the "Additional Claims" paragraph (p17 of the PDF) the specification contains a bug because it mentions a `JsonWebToken getOtherClaim(String)` method that neither exists in the code extracts above it nor in the latest JavaDoc.

[2021-01-03 04:24] keilw opened #235 "Incomplete JavaDoc in JsonWebToken"
The JavaDoc of `JsonWebToken` is incomplete at least in the `getSub()` method:
"This is the token issuing IDP subject, not the"
 is an incomplete sentence, there is nothing after "not the" explaining what it isn't.

[2021-01-03 21:18] #227 closed

[2021-01-03 21:39] keilw commented on #235
@sberyozkin So it seems you don't have resources to fix those smaller issues before a 2.0 release? When would that be expected and should it already use Jakarta EE 9 (in which case much more significant changes will be necessary anyway everywhere, not just the spec)
Btw, what's the difference between the milestones https://github.com/eclipse/microprofile-jwt-auth/milestone/8 and https://github.com

[2021-01-04 11:12] sberyozkin commented on #235
@keilw

First of all, referring to the 3 issues you have opened - thanks for that and for the careful review.

The release process is long and requires the coordination from all of the MP community, so trying to do a new minor release to fix the text typos/bugs is not something I'd consider.

I've no idea right now - I suppose we just need to wait and see till the steering team decides on the time

[2021-01-04 11:21] keilw commented on #235
@sberyozkin Thanks for the reply. As for the spec, those aren't just typos, they are just plain wrong and should be fixed. IMO it was rushed trying to get LWT out with the others and the same care everyone has to take for e.g. the Jakarta EE specs in order to meet the Jakarta EE 9 goal did not fully apply here ;-/
That is what a MR (Maintenance Release) is meant for in the case of JSRs and there s

[2021-01-04 13:18] ederks85 commented on #235
Hi all,

Thanks for bringing up the details for this issue. I would advise though, if changes are really necessary, to pursue these and get that released with a maintenance release of the MP platform. Yes, people and processes need to align here, but with the right focus, it technically should not be a big and long hurdle.

As for the Jakarta EE 9 alignment, I'm planning to bring that up and hopef

[2021-01-04 13:24] keilw commented on #235
Hi @ederks85 Thanks for the reply. I will propose a PR for each of those, most came out of my work on Jakarta EE Security with your Fellow "Dutchmen" @arjantijms and @thodorisbais, and it would be nice, if especially the spec may arise in a maintenance or service release because things like `JsonWebToken getOtherClaim(String)` are just wrong and irritating, so they should be fixed sooner.

[2021-01-04 13:29] ederks85 commented on #235
@keilw that would be great. Please notify me of those and I can take them up for discussion when and how to release

[2021-01-04 13:58] Emily-Jiang commented on #235
As mentioned on the google mailing list, MicroProfile platform release does not pick up the maintenance releases of the component specs. MP JWT can go ahead to create a bug release whenever it is necessary.

[2021-01-04 13:58] Emily-Jiang commented on #235
Personally, I think this fix can wait for the next release of MP JWT.

[2021-01-04 14:00] keilw commented on #235
On the spec side I don't really agree. How long has an obvious bug like
`JsonWebToken getOtherClaim(String)` (a method that was either dropped or never existed) been around btw?

[2021-01-04 15:53] Emily-Jiang commented on #235
well, does the bug stop you from using MicroProfile JWT into production? It will be nice it is bug free, but it is not reality. For some errors we can leave with it for sometime especially for the ones that do not prevent you from using MicroProfile JWT. We continue the release journey and prioritise the issues all the time. We have to judge what issues need to be fixed and released asap and what

[2021-01-04 15:58] keilw commented on #235
It confuses the users of MP JWT, e.g. from a user perspective I try to explain how to use it in a Jakarta EE context, which is also made harder by all the outdated specs like "JSR 375" which no longer apply to version 1.2 but the wrong API reference (for almost 4 years now that is quite embarassing) is the most frustrating part in the spec. The outdated references may bother Oracle's lawyers more

[2021-01-05 15:40] sberyozkin commented on #235
@keilw As I said, I don't think some old spec text bugs should warrant an immediate release. No-one noticed before so I guess it has not been a show-stopped for other users. And indeed when the users will start their work with MP JWT 1.2, I nearly 100% sure no-one will read the PDF in order to figure out how to use `JsonWebToken` but look at itsJavaDocs. So, no, I don't share your major concern ab

[2021-01-05 16:18] sberyozkin commented on #235
@keilw, more comments

You are over-generalizing here. You are the first user who have found this outdated reference so lets not go into asserting how everyone in the world who is reading the specification text is now confused and does not know what to do with `JsonWebToken`.
Besides, MP JWT 1.2 has not really focused on any Jakarta EE related integration - the focus has been on making the spec li

[2021-01-05 16:30] keilw commented on #235
@sberyozkin Avoid where, in our book, rest assured we fix them there, another good reason to buy it then ;-D

[2021-01-05 16:37] sberyozkin commented on #235
Hey @keilw, sounds like I should get it then, may be even 2 copies :-)

You said you'd open PRs, are you still OK with it ? Can you please open one PR tackling the typo in this PR (just dropping `, not the` would be fine I guess) and the `getOtherClaim()` typo ? (or I can do this one)

And another PR dealing with the old JSR refs ? (that one may be more involved).

Then we can discuss again the id

[2021-01-05 16:54] keilw commented on #235
@sbegaudeau No I created those tickets, no PRs yet. Yes mostly for the old JSRs, as I know pretty well what the replacements are from the Spec Committee. You'd be welcome to propose or fix the `getOtherClaim()` bug (it's not just a typo ;-) with an appropriate wording. I could only imagine what Scott's blog post did around the same time: https://www.eclipse.org/community/eclipse_newsletter/2017/se

[2021-01-05 22:49] sberyozkin commented on #235
@keilw

Pretty sure this type (come on, who is going to check page N of the spec PDF to find out how to get the other claim :-) ? ) is originating from that time. OK, np, I'll fix it

Thanks, I won't be taking this opportunity; good luck with the book

[2021-01-06 14:45] keilw opened #237 "What's the purpose of keeping LoginConfig in a separate package?"
Unlike all the other elements the `LoginConfig` annotation sits lonely in an `org.eclipse.microprofile.auth` package.
This is at least weird especially when JPMS (Jigsaw) style modularity comes into play and sooner or later this will affect Jakarta EE given the service loading mechnism via the old "services" folder does not work anymore if you use a newer JDK and modules and it may eventually be r

[2021-01-06 20:55] sberyozkin commented on #237
Hey @keilw I'm going to close this one as a duplicate of #182 - where we are actually considering to drop this annotation altogether - I'd prefer not to keep one issue discussing removing it and another one proposing a breaking move to a different package - even if we do keep it in 2.0 then it would be the last thing I'd consider prioritizing upon - please do not hesitate to put your argument for

[2021-01-06 20:55] #237 closed

[2021-01-06 21:11] sberyozkin commented on #237
@keilw I commit to re-opening it if the resolution of #182 would be to keep `LoginConfig` around, thank you

[2021-01-06 21:19] sberyozkin commented on #233
@keilw yeah, a few references to the old JSR-250 in the `interoperability.adoc` (we should rename this doc I guess). I think the reason no one really touched that outdated text is that our EE TCK suite is basically non-existent or barely exists - that was certainly not a focus for `1.2` - like I said - the main goal was to make it live again and bring some practically useful base level non-breakin

[2021-01-07 11:43] #234 closed

[2021-01-07 11:43] #235 closed

[2021-01-07 16:33] keilw commented on #173
Are you sure this is necessary and helpful for every single MP spec or attempt right now?
There are roughly 20 or so if you exclude the parent or sandbox (which could probably justify such kind of separate list a bit more)
Plus why another google group, aren't there Eclipse mailing lists now or soon after the whole WG establishment, too?

[2021-01-07 17:59] rdebusscher commented on #173
There was the suggestion on the Hangout meeting of Jan 6th 2021 to activate the GitHub discussions option for each spec.

[2021-01-11 12:48] commodis commented on #231
Thanks for sharing the code and I already tried it.
When Smallrye throws the `NotAuthorizedException` my custom `ExceptionMapper` will not be triggered.
When I throw the exception "manually" by `throw new NotAuthorizedException(response);` it is triggered.

So I guess this might be a bug?

[2021-01-14 14:52] sberyozkin commented on #231
@commodis - this is probably because WildFly does not use those JAX-RS interceptors but HTTP auth mechanism - please discuss it in the WildFly forum - there should be a way to intercept the response at that level

[2021-03-05 23:37] dentonmwood commented on #182
Was there a decision reached on this? We're adding MP-JWT for the first time, and I need to know if we should continue to use web.xml or use @LoginConfig and dump our web.xml file.

[2021-03-18 14:53] sberyozkin commented on #199
@rdebusscher Hi Rudy, I misinterpreted your comment,

I don't think we have to mandate in 2.0 that the users use complete PEM file content with the headers - this is simply much more complex to do and less readable compared to inlining the encoded key content alone which MP JWT already supports.
But what should become a requirement is that the implementations must be able to accept the the PEM hea

[2021-03-25 13:29] matheusdallrosa commented on #145
Is there a way to get a header programmatically?
This is needed when you are not using Rest Client : )
ATM I have a custom solution with ThreadLocals, but is not a code I want inside an application.

[2021-04-09 11:39] sberyozkin opened #239 "Support multi-tenancy (dynamic configuration selection)"
@teddyjtorres and @ayoho have had an interesting idea about supporting more than issuer for a single MP JWT endpoint.
During the 2 latest MP JWT calls/notes it was agreed that rather than overloading each MP JWT configuration property (ex, `mp.jwt.issuer=iss1, iss2` where each of these issues may have its own token security requirements) it would be better to follow a multi-tenancy principle or si

[2021-04-09 11:45] sberyozkin commented on #239
I've removed the milestone at the moment until we agree on some final option.

In both (and likely other) cases the extra complexity is that the implementation would have to manually parse the headers first and then once the configuration is chosen - get the underlying JOSE library to parse it (and the whole token again).
The other concern is that we can't expect many providers to set a `tenantId`

[2021-04-10 13:55] rdebusscher commented on #239
I would go for option2 as you also indicate that providers need to set a `tenantId`.  This option2 is more generic and an implementation of the 'interface' can still look at the header tokens to retrieve the value of `tenantId`.

As you also mention, besides the token, the (HTTP) Request as a whole should also be passed to that method.

[2021-04-14 13:09] sberyozkin commented on #239
@rdebusscher thanks for the comments.

Right - that can be problematic as it can be hard to come up with a portable representation of HTTP properties which work for all the containers :-). I suppose it can be implicit - the interface implementations can inject `HttpServletRequest` or other implementation specific HTTP request instance representations - I guess it can work...

[2021-04-27 09:32] sberyozkin opened #241 "Release MP JWT 1.2.1"
A number of documentation fixes have been applied; I'm going to look into adding a test to verify fully formatted keys can be inlined

[2021-04-27 12:08] sberyozkin commented on #199
@vsmid Hi - I've just looked closer into this issue - MP JWT TCK already enforces a fully formatted inlined public key is accepted, see the [test properties](https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/src/test/resources/META-INF/microprofile-config-publickey.properties).

I've also verified it works in `smallrye-jwt` which is used by Quarkus (about to open a PR there) - you m

[2021-04-27 12:26] sberyozkin commented on #199
OK, the spec does not explicitly allow the encoded keys without PEM headers - but in that case there is nothing needs to be clarified for MP JWT 1.2.1 - as I said I'd be against starting failing the applications which have for example
[code]

as opposed to
---
mp.jwt.verify.publickey=-----BEGIN PUBLIC KEY-----\n\
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtL6HShqY5H4y56rsCo7VdhT9/eLQwsJpKWg66j98X

[2021-04-28 15:01] sberyozkin commented on #241
`1.2.1` has been staged, see https://ci.eclipse.org/microprofile/job/MicroProfile%20Releases/601/. I'm going to release soon.

CC @radcortez, @rdebusscher, @teddyjtorres, @ayoho, @Emily-Jiang

thanks

[2021-04-28 15:06] sberyozkin commented on #241
Staging repository:
https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1462

I'll release it tomorrow

[2021-04-29 10:13] sberyozkin commented on #241
Released in Nexus

[2021-04-30 13:09] #241 closed

[2021-05-03 15:38] teddyjtorres commented on #199
I agree with making this a 2.0 requirement.

[2021-05-07 19:12] jitendrakalyan opened #242 "security-role to group mapping not working as expected with auth-method MP-JWT"
We have simple webapp with a couple of JSPs. we want to deploy it on open liberty server (MicroProfile) and do authentication and authorization using MP-JWT. The plan is to have Webseal authenticate the user and generate a JWT. The WebApp will verify the JWT is valid and provide access to resources based on groups claim.

web.xml
===============================================================

`<l

[2021-05-17 22:23] Emily-Jiang opened #243 "Integrate with Bean Validation"
As part of the program plan 2021, the community would like to see some integration between JWT and Bean Validation. I think Spec and TCKs will need to be updated to ensure the two technologies work together.

[2021-05-18 06:01] rdebusscher commented on #243
Can we first discuss the benefits and drawbacks of adding this to the spec and requiring that Bean Validation is added to MicroProfile?  If we want that MicroProfile can easily be adopted by new implementations we should make it as easy as possible and thus do not require many specifications.

Also, when adding almost the entire Web profile stack of Jakarta EE, it is no longer lightweight and heav

[2021-05-18 10:15] Emily-Jiang commented on #243
@rdebusscher this issue is for conversation within JWT group. If it deems not useful, it is fine and we can just summarise why not.

[2021-05-18 10:35] sberyozkin commented on #242
@jitendrakalyan Can you please move this issue to the OpenLiberty project ?
CC @teddyjtorres @ayoho

[2021-05-18 10:40] sberyozkin commented on #243
@Emily-Jiang

First time I'm hearing about it - where it was proposed, what are the use cases ?
IMHO it is out of scope for MP JWT - the only angle is, at some point, hopefully in 2.0, we may support injecting complex claims as beans - but even if we do it - application of Bean Validation is orthogonal

[2021-05-18 10:50] sberyozkin commented on #243
@Emily-Jiang, for example:

[code]

or, when talking about the bean validation:

[code]

Now, here you can see it is not an MP-JWT concern - whose responsibility is to make sure the `address` claim is produced as `Address` - but Bean Validation constraints is something the user would apply independently - for ex to `Address` fields/methods

[2021-05-18 10:59] jitendrakalyan commented on #242
Hi, I opened an issue ok open liberty project and @teddyjtorres helped me with a solution. You can close this issue. I wasn't sure when I opened the issue if it was related to this project or open liberty. I apologize for opening the issue here.

[2021-05-18 12:41] sberyozkin commented on #242
@jitendrakalyan No problems at all :-), thanks

[2021-05-18 12:41] #242 closed

[2021-05-18 15:37] jitendrakalyan commented on #242
Link to to the issue in open liberty project where this issue resolution is posted.
https://github.com/OpenLiberty/open-liberty/issues/17096

[2021-05-18 18:58] rdebusscher commented on #243
To clarify the history behind the creation of this issue; It is indicated in the Program Plan that the Bean Validation could be interesting to add to a couple of specifications.

So this issue is created to gather some use cases where the usage of the Bean Validations annotations could be useful for this spec.

[2021-05-18 21:21] Emily-Jiang commented on #243
@sberyozkin this was raised on the 2021 MicroProfile Program Plan [googledoc](https://docs.google.com/document/d/1fC3UFXBqrlxDIURJ3ZIUOeGdZELfo1yPOOjyTR5uNkY/edit#heading=h.4lyopu2gbqrg) Question 1 - bulletin point 11.

As explained earlier, if this is not something we envisage with a valid and immediate use case, we can put this on hold or close this issue. These are all valid outcomes. I just wa

[2021-05-19 09:08] sberyozkin commented on #243
@rdebusscher @Emily-Jiang Thanks for the clarification.
I can certainly imagine how `Bean Validation` can be usefully applied alongside `MP-JWT` in the MP platform where `MP-JWT 2.0` would have an ability to inject claim objects other than `JsonObject` - but I'd be concerned about making it a direct dependency.
Example, I'd like to avoid something like `If the claim is represented as a custom bean

[2021-05-19 10:42] Emily-Jiang commented on #243
ah, I see. The current valid claim types are
-     java.lang.String
-     java.lang.Long and long
-     java.lang.Boolean and boolean
-     java.util.Set<java.lang.String>
-     javax.json.JsonValue.TRUE/FALSE
-     javax.json.JsonString
-     javax.json.JsonNumber
-     javax.json.JsonArray
-     javax.json.JsonObject
-     java.util.Optional wrapper of the above types.
-     org.eclipse.micropro

[2021-05-19 13:54] sberyozkin commented on #243
@Emily-Jiang Exactly, #100 was the main issue opened by the user awhile back where we started narrowing down on a possible solution. I guess It would indeed make sense to open a more concrete issue - will do soon, thanks

[2021-05-20 14:51] sberyozkin opened #244 "Support the typed claim conversion"
This issue is related to #100.

There should be 2 ways to support a typed claim conversion:

1.

[code]

2.

[code]

See also #243.

[2021-06-22 09:54] sberyozkin opened #245 "Support the token introspection"
Introduce a property `mp.jwt.introspection.address` (or similarly named) which will be used to introspect the token remotely. It can be useful when dealing with the inner-signed or encrypted tokens produced by OpenId Connect providers.
It may need to be aligned with the current standartization effort to return the introspection responses as JWT.
Or the introspection response may be converted into

[2021-07-01 10:20] Emily-Jiang opened #246 "Jakarta EE 9.1 Alignment"
### For each spec, the following updates need to happen, refer [this doc](https://docs.google.com/document/d/1bhhfmhxHJpQdmdUtQw5o_WtScpzkfHoTNGPvrQnGhc0/edit) for instructions:

- [x] Create a branch called `jakarta91-branch` off master to perform Jakarta EE 9.1 alignment
- [x] Only jakarta namespace changes are allowed in the release without any other functional changes with the exception of typ

[2021-07-12 14:49] sberyozkin commented on #246
Thanks @Emily-Jiang for providing this list

[2021-07-15 14:51] sberyozkin commented on #233
Closing as a duplicate of #246

[2021-07-22 10:12] #233 closed

[2021-08-24 14:52] teddyjtorres opened #251 "TCK fails in when using Java 17 - jose4j needs updating to at least 0.7.9"
As reported in https://github.com/OpenLiberty/open-liberty/issues/18296, following failure happens when running the TCK with Java 17,

The jose4j problem was reported in jose4j's issue https://bitbucket.org/b_c/jose4j/issues/189/a256kw-is-not-recognized-as-aeswrap-in and fixed in jose4j's commit https://bitbucket.org/b_c/jose4j/commits/beb97bf . The jose4j's 0.7.9 release is now available in https

[2021-08-26 10:41] Emily-Jiang opened #252 "Release this spec to be part of 5.0"
- [x] Create release note 2.0 for the spec
- [x] Perform a release 2.0-RC1 off the branch jakarta91-branch to be included in MP 5.0

[2021-08-30 21:41] #251 closed

[2021-08-30 21:41] sberyozkin opened #254 "Add Java17 PR build"

[2021-08-31 09:51] Emily-Jiang commented on #252
@sberyozkin can you resolve this issue asap? Most of the specs have created release candidates. Please let me know if you need any help with this.

[2021-09-01 09:46] sberyozkin commented on #246
FYI, on Fedora `-i ''` sed argument needs to be dropped

[2021-09-01 21:49] sberyozkin commented on #246
@Emily-Jiang
Re `deliver the changes to both jakarta91-branch and master` - I believe, once #255 is merged to `jakarta91-branch`, it has to be merged next to master, right ?

[2021-09-01 21:51] sberyozkin opened #257 "Eclipse formatter ignores 'formatter:off' instruction with MP Parent 2.1"
Which causes `Claims.java` being misformatted during the build - has to be fixed before 2.0

[2021-09-01 21:55] Emily-Jiang commented on #246
You can deliver to jakarta91-branch and then sync up master with jakarta91-branch.

[2021-09-01 21:55] sberyozkin commented on #252
@Emily-Jiang, can you clarify please,
Do we really need the release note for `2.0` while we are releasing `2.0-RC1` ?
And what do you mean by `Perform a release 2.0-RC1 off the branch jakarta91-branch to be included in MP 5.0` - MP 5.0 will include the final `2.0` release ?
Also #257 has to be fixed for 2.0 - where do we record it, in this task ?

[2021-09-01 22:10] Emily-Jiang commented on #252
Yes, you need a release note in the spec. The release note is for releasing 2.0. `2.0-RC1` is the release candidate for 2.0. You should mention the 2.0 release. See an [example](https://download.eclipse.org/microprofile/staging/microprofile-config-3.0-RC4/microprofile-config-spec-3.0-RC4.html#release_notes_30) .

No need to mention #257. There is no user impact what so ever. Besides, it is just a

[2021-09-01 22:21] sberyozkin commented on #252
@Emily-Jiang I think #257 will have to be fixed for 2.0 - it is just too messy to have a build producing a new format every time and it looks not good IMHO. I'll talk to Roberto about it. But for RC1 it is not a problem.

[2021-09-02 12:48] sberyozkin commented on #252
@Emily-Jiang The staging repo is here, https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1507, will promote shortly

[2021-09-02 12:56] sberyozkin opened #259 "Release MP JWT 1.2.2"
Staging repo is here: https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1508

I'll do a quick test with it and promote then

[2021-09-02 13:31] sberyozkin commented on #259
@Emily-Jiang @radcortez Something got broken in the way TCK is built and now  `microprofile-jwt-auth-tck-*-tests.jar` is not built - I have verified that it still works just before the point MP Parent 1.3 got introduced.

Compare https://repo1.maven.org/maven2/org/eclipse/microprofile/jwt/microprofile-jwt-auth-tck/1.2.1/

with

https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1

[2021-09-02 13:36] sberyozkin commented on #252
@Emily-Jiang That was already promoted. But RC2 would definitely be needed (see #259) - not a problem for RC1 I'd say as I don't think anyone would be ready to run TCK with it straight away. This is a problem with doing a release without testing it works. RC2 will need to be tested that TCK works, etc for sure

[2021-09-02 14:49] sberyozkin commented on #259
@Emily-Jiang @radcortez

I've done a new release from a new `1.2.2` branch
https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/658/,
all worked, tag is available in GitHub, but staging repository is not available, can you check please, may be you can see it ?

[2021-09-02 14:50] sberyozkin commented on #259
@Emily-Jiang @radcortez

I've done a new release from a new `1.2.2` branch
https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/658/,
all worked, tag is available in GitHub, but staging repository is not available, can you check please, may be you can see it ?

[2021-09-02 14:59] Emily-Jiang commented on #259
@sberyozkin you should not use parent pom 2.1 for JWT 1.2.2 release as the dependencies in the version 2.1 of parent are Jakarta EE 9.1. You should use parent pom 1.3.

[2021-09-02 15:10] sberyozkin commented on #259
@Emily-Jiang I did not use parent pom 2.1, I used 1.3 and it did not work, you can try it on the master

[2021-09-02 15:13] sberyozkin commented on #259
@Emily-Jiang Can you give me a favor please and check if you see what the problem with the staging repo, see https://github.com/eclipse/microprofile-jwt-auth/issues/259#issuecomment-911769288 ?

[2021-09-02 15:44] Emily-Jiang commented on #259
I can't see it either. You might have to delete the tag and start again. I have not seen this issue before.

[2021-09-02 16:05] Emily-Jiang commented on #259
@sberyozkin I looked at the build log. I think it did not connect to sonatype at all. No remote snapshot was created. Normally, you should see this:
[code]
But in the 1.2.2, it did not happen, as shown below.
[code]

[2021-09-02 16:10] sberyozkin commented on #259
@Emily-Jiang Grand, I'll retry - I wonder if there was some temp conflict as I had to remove the broken 1.2.2 tag. I'll remove it now and will retry a release in a few hours, cheers

[2021-09-02 16:18] sberyozkin commented on #259
Renamed the branch as well just in case to `mpjwt1.2.2`

[2021-09-02 21:46] sberyozkin commented on #259
@Emily-Jiang Unfortunately it did not work again,
https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/659/ passed, github tag published, nothing in the staging repository.

I'm going to update the branch head, drop the tag, and then may be you can try to do a `1.2.2` release from the `mpjwt1.2.2` branch (`1.3-SNAPSHOT` is a snapshot value) tomorrow ? May be it will work fo

[2021-09-03 09:07] #257 closed

[2021-09-06 09:26] #246 closed

[2021-09-06 09:36] Emily-Jiang commented on #259
@sberyozkin I was off on Friday. Do you still want to do the release for you? Is the branch `mpjwt1.2.2` ready to be released?

[2021-09-06 09:37] sberyozkin opened #261 "microprofile-jwt-auth-tck tests jar is no longer built"
microprofile-jwt-auth-tck tests jar is no longer built, after an update to MP Parent 1.3 (so the problem started happening before upgrading it further to 2.1).
How to reproduce:
- checkout the master branch at the commit preceding an update to the 1.3 parent and confirm the tests jar is built
- checkout the master branch at the commit updating it to the 1.3 parent and confirm no tests jar is built

[2021-09-06 15:40] radcortez commented on #261
I believe it never worked with the new parent POM. You need a specific configuration in the jar plugin to build the tests jar, which never existed in the parent POM.

Since this is specific to the JWT project, we can add it directly.

[2021-09-07 08:50] #261 closed

[2021-09-07 08:56] sberyozkin commented on #259
@Emily-Jiang Np, let me try one more time, thanks

[2021-09-07 10:05] sberyozkin commented on #259
Hi @Emily-Jiang and @radcortez, it worked this time (and the 2nd one I did on Fri also worked - it just took a long time for Nexus to show the staging repository which I now dropped).
But there is something broken in the 1.2.2 release,
https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1510

When running TCK in `smallrye-jwt` with a `1.2.2` version, I'm seeing
[code]

But if I bu

[2021-09-07 10:25] radcortez commented on #259
Let me have a look.

[2021-09-07 11:18] Emily-Jiang commented on #259
@teddyjtorres can you try to run 1.2.2 tck against Open Liberty to see whether you can get it to pass?

[2021-09-07 11:33] sberyozkin commented on #259
@Emily-Jiang @teddyjtorres My local Maven repository was broken, Roberto helped to verify it.

Teddy, indeed, please double check on your end, I'm planning to promote tomorrow

[2021-09-07 13:09] Emily-Jiang opened #263 "A few more issues with JWT 2.0 release"
When I tried to do a fix on JWT master branch for attaching source jar for test dir, I noticed a few more issues:
1. In the past, a few profiles were defined in the tck pom.xml. Now, they were removed. I think the two profiles should be added back in as at least one of them were mentioned in READM.ADOC.
2. README.ADOC needs to be updated to mention JWT 2.0 as the current version mentions 1.2.
3. N

[2021-09-07 13:10] Emily-Jiang commented on #263
@sberyozkin can you take a look at the above issues?

[2021-09-07 16:59] sberyozkin commented on #263
@radcortez Hey Roberto, PR where an update to MP 1.3 parent was made got the local licenses removed I believe, see #232, can you please give me a favor and check point 3 above ?

I can take care of points 1/2, will restore the [profiles section](https://github.com/eclipse/microprofile-jwt-auth/pull/232/files#diff-c7973ae892437cdc63d039ee91cf6d93bc035ba2f77d5cfaf8c326924b6ffa2dL255)

[2021-09-07 17:30] sberyozkin commented on #259
@Emily-Jiang I'm not sure it is worth dropping a 1.2.2 tag and do another release just so that `tck/README.adoc` can refer to `1.2.2` as opposed to `1.2`, I'd postpone updating the doc till `1.2.3` if it happens and someone notices (no one has noticed it does not refer to 1.2.1 - I guess because the whole pom fragment example is not reusable). `1.2.2` addresses 2 concrete TCK issues and the fact t

[2021-09-07 18:08] radcortez commented on #263
Let me have a look.

[2021-09-08 09:00] sberyozkin commented on #252
@Emily-Jiang We can do RC2 once #264 is merged

[2021-09-08 09:11] Emily-Jiang commented on #259
@sberyozkin I don't think it is worth redoing the release. It's a maintainence release anyway.

[2021-09-08 09:58] sberyozkin commented on #252
@Emily-Jiang Forgot the licenses are missing, so we can go ahead once #264 is merged and Roberto helps to resolve #263

[2021-09-08 10:12] sberyozkin commented on #259
@Emily-Jiang yes, makes sense. MP JWT 1.2.2 staging repository has been promoted - thanks

[2021-09-08 10:12] #259 closed

[2021-09-08 10:27] radcortez commented on #263
Are you verifying the license files by building locally? To change to the EF license files you need to run with `-Drelease.revision=Final`.

I've tried it and it works for me. Can anyone else confirm?

[2021-09-08 11:14] sberyozkin commented on #263
@radcortez I've tried with and without `-Drelease.revision=Final` and I see `tck/target/licenses`containing `al-2.0  al-2.0.html  efsl-1.0.html  eftckl-1.0  eftckl-1.0.html` - did you mean something else ?

[2021-09-08 11:14] sberyozkin commented on #263
Here is TCK RC1: https://repo1.maven.org/maven2/org/eclipse/microprofile/jwt/microprofile-jwt-auth-tck/2.0-RC1/

[2021-09-08 14:21] Emily-Jiang commented on #263
Can you open the test and api javadoc jar and verify the license?

[2021-09-08 15:56] radcortez commented on #263
Yes, all the htmls are copied, what changes is the link used in the javadoc, so you need to open the javadoc and check if the link is correct.

[2021-09-08 15:57] radcortez commented on #263
I've checked FT, and the issue is that you are missing the marked file (an empty tck file) in `src/main/resources/META-INF`.

[2021-09-08 16:10] Emily-Jiang commented on #263
I did more digging and found out that the missing licenses are for all non-final releases. For non-final releases, the jars should use Apache v2 licenses @radcortez .

I will add the marker file for all of the rest specs. I think a few of them might have missed that marker.

[2021-09-08 17:30] sberyozkin opened #267 "Clean up TCK module"
TCK module needs some cleanup:

- @radcortez has noticed the pom profiles do not make much practical sense
- README needs some clean up as well
- Lots of deprecated TCK code using the deprecated token utility signing code,
- etc

[2021-09-08 21:14] Emily-Jiang commented on #259
@sberyozkin please go ahead to promote the build as we have tested this tck jar against open liberty. The reported Java 17 issue was fixed.

[2021-09-09 09:42] sberyozkin commented on #263
@radcortez @Emily-Jiang

With `-Drelease.revision=Final` the `index.html` in the TCK (and also API) javadoc jar links to the EF license, without  `-Drelease.revision=Final` - to the AF one. This is correct I believe.

After copying https://github.com/eclipse/microprofile-fault-tolerance/tree/master/tck/src/main/licenses to MP JWT,  the TCK jar itself also contains `LICENSE` if `-Drelease.revision=

[2021-09-09 10:25] radcortez commented on #263
Yes, there is no action associated with a `LICENSE` and the API jar. The `LICENSE` needs to be placed in the `resources/META-INF` folder to be copied to the resulting jar if a LICENSE has to be included (this is standard behaviour of the jar plugin and not related with the settings of the parent pom).

From my understanding, the API jar just needs to ship with whatever `LICENSE` is present in the

[2021-09-10 15:16] #263 closed

[2021-09-10 15:19] sberyozkin commented on #252
@Emily-Jiang I believe it can now continue from the `master` branch, as opposed to having to pick up all the recent post `RC1` updates from `master` and get them into `jakarta91-branch`, right ?

[2021-09-10 17:03] Emily-Jiang commented on #252
@sberyozkin that's fine.

[2021-09-13 13:09] sberyozkin commented on #252
@Emily-Jiang I can do RC2 later today

[2021-09-29 14:13] arjantijms commented on #246
@sberyozkin it seems #258 is merged, so this can be closed and JWT can be ticked off at https://github.com/eclipse/microprofile/issues/223?

[2021-11-02 17:29] teddyjtorres opened #269 "Open Liberty 21.0.0.12-beta: MicroProfile JWT RBAC 2.0 RC2 Compatible Certification Request"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
  IBM
- [x] Product Name, Version and download URL (if applicable):<br/>
  [Open Liberty 21.0.0.12-beta](https://github.com/OpenLiberty/open-liberty/releases/tag/gm-21.0.0.12-beta)
- [x] Specification Name, Version and download URL:<br/>
  MicroProfile Interoperable JWT RBAC 2.0
- [x] (Optional) TCK Version, digital SHA-256 fin

[2021-11-02 22:14] #252 closed

[2021-11-02 22:26] sberyozkin commented on #269
@teddyjtorres, @Emily-Jiang   Should this CCR be created against yet to be staged MP JWT 2.0 ?

[2021-11-02 22:31] Emily-Jiang commented on #269
This CCR is for the latest RC, which is the identical to the staged JWT 2.0 to workaround the chicken egg problem.

[2021-11-02 22:37] Emily-Jiang opened #270 "Stage the final release of JWT 2.0"
Please update the dependency to Config 2.0 and then release the final version of JWT 2.0.

[2021-11-02 23:24] sberyozkin commented on #270
@Emily-Jiang Did you mean 3.0 ? I've asked in the MP JWT chat; it does not pull it from Central so is it expected the master branch will fail ?

[2021-11-03 09:46] sberyozkin commented on #270
@Emily-Jiang It has been staged to https://oss.sonatype.org/content/repositories/orgeclipsemicroprofile-1539

[2021-11-03 09:46] #270 closed

[2021-11-11 17:23] kwsutter commented on #269
Why does the reference to the TCK Version show a link to the TCK Results?
[code]

[2021-11-11 17:24] kwsutter commented on #269
But, I think the CCR should still reference the final 2.0 Specification.  Maybe this update can or should be done after the vote is completed, but it looks odd to reference a preliminary version of the Specification for the final TCK results.

[2021-11-11 17:24] kwsutter commented on #269
Also, like my other comments on the various CCRs, I think you should specific the specifics of the Java 8 and 11 runtimes that were used to certify.

[2021-11-11 23:23] Emily-Jiang commented on #269
@kwsutter please see the comments from @radcortez and me regarding the CCR requirements [here](https://github.com/eclipse/microprofile-config/issues/725)

[2021-11-15 17:43] Emily-Jiang opened #275 "License files are missing on some artifacts"
The following jars have no license files attached:
microprofile-jwt-auth-tck-2.0-test-javadoc.jar
microprofile-jwt-auth-tck-2.0-test-sources.jar
microprofile-jwt-auth-tck-2.0-tests.jar

I think the Javadoc jar should have EF license while the -sources and -tests jars should have Apache V2 license as they only contain source files.

[2021-11-15 19:12] radcortez commented on #275
I've updated the Parent POM to place the EF License files on the Final release. The Apache files still need to be added manually.

[2021-11-15 19:15] radcortez opened #277 "Move TCK test sources to main sources"
I believe that we shouldn’t use the test sources to place the TCK files. This just adds an additional setup to run the TCK, plus these tests are not meant to be executed from the project directly.

Actually, if we try to update the surefire plugin, the build fails because the tests are executed. The only reason why is not failing at the moment is that the current surefire plugin is not picking up

[2021-11-15 20:58] #275 closed

[2021-11-16 12:13] Emily-Jiang commented on #275
@sberyozkin for javadoc one it should be EF license and the -sources and -tests need to add Apache License.

[2021-11-16 12:47] radcortez commented on #275
Are we sure that it needs to be Apache LICENSE for `Final`? Right now all the binaries coming from the TCK on `Final` use the EF TCK License.

[2021-11-16 13:00] Emily-Jiang commented on #275
For a final release, IIRC, api jar and source files, I think we need Apache licenses. For tck jar, spec doc, all of the javadoc jars, we need EF licenses. @kwsutter can you confirm?

[2021-11-16 13:20] radcortez commented on #275
Ok, let me try to summarize what we are doing right now to make sure that we are doing the right thing or if we need to change something.

For a `Draft` release:

We don't touch any LICENSE file. Whatever LICENSE file is present in the sources ends up in the resulting binaries. Remember that a LICENSE file in `main` sources will only end in the main binaries (jar, javadocs and sources). If a LICEN

[2021-11-16 14:13] Emily-Jiang commented on #275
Agree with the above statements.

The `sources` and `test-sources` jars are in Apache v2 while the other tck jars should have EFTCKL. I double checked with @kwsutter and he confirmed this.

[2021-11-16 16:15] radcortez commented on #275
Ok, I need to adjust the Parent POM for it.

[2021-11-22 18:43] rdebusscher opened #280 "Replace various references to Java EE in specification document"
In the specification document, various references are made to Java EE (Java EE application, Java EE standards such as JSON-P, ...). These should be replaced by 'Jakarta EE'

[2021-12-17 15:30] #269 closed

[2021-12-17 15:32] sberyozkin commented on #269
Hi @teddyjtorres, @ayoho, @Emily-Jiang  I'm closing it now, I believe it has been resolved :-)

Happy Christmas and New Year

[2021-12-17 15:33] #280 closed

[2022-01-07 18:43] fschuerer opened #282 "Unauthorized response on a unprotected Endpoint, when a token is sent"
Hi,

I am using payara with mp-jwt.

My REST service has one unprotected endpoint. I want to forward a different JWT to another service. However this is not possible, due to the fact that the JWT will be validated by a non fitting publickey and issuer, although the endpoint is not protected.
Why it is necessary to validate the JWT for unprotected endpoints ?

Thnx
Frank

[2022-01-23 16:41] sberyozkin commented on #282
Hi @fschuerer, as far as MP JWT is concerned, the token sent to the public endpoint has to be verified only if the endpoint has this token injected, see https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/interoperability.asciidoc#injection-of-jsonwebtoken

Please move this issue to the the Payara repository
thanks

[2022-01-31 06:33] bacehanural opened #283 "MicroProfile Interoperable JWT RBAC 1.2 Compatible Certification Request - Payara Community 5.2021.10"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
[Payara Services Ltd.](https://www.payara.fish/)

- [x] Product Name, Version and download URL (if applicable):<br/>
[Payara Platform Community 5.2021.10 Release](https://www.payara.fish/downloads/payara-platform-community-edition/)

- [x] Specification Name, Version and download URL:<br/>
[MicroProfile Interoperable JWT RBAC 1

[2022-02-02 10:32] fschuerer commented on #282
Hi @sberyozkin,

thanks for your support. I created an [issue](https://github.com/payara/Payara/issues/5582) at the Payara repository.

[2022-02-03 10:18] sberyozkin commented on #282
@fschuerer thanks

[2022-02-03 10:18] #282 closed

[2022-02-03 10:41] Emily-Jiang commented on #283
What you mentioned is the minimum requirement for releasing a spec. This issue is to certify a runtime after the release.
It is okay for a runtime to submit a CCR here to certify the support of a particular release of the corresponding spec. However, it will save time to just raise a CCR to cover all of MP 4.1 specs on the eclipse/microprofile repo. At the moment, we are standardising the TCK cert

[2022-04-07 10:44] #195 closed

[2022-04-07 10:47] sberyozkin commented on #199
@teddyjtorres Hi Teddy, I was about to start catching up on this one - but I wonder if we are here in the same boat as we were after 1.2 was out. MP JWT 2.0 does not require it so therefore we can't enforce this requirement for 2.1. I propose to delay it till 3.0

[2022-04-21 14:33] sberyozkin opened #285 "Release MP JWT 2.1 RC1"
CC @teddyjtorres

[2022-05-03 18:38] rdebusscher opened #288 "Change JWE Algorithm from RSA-OAEP to RSA-OAEP-256"
The specification says

But _RSA-OAEP_ uses SHA-1 which is considered unsafe.  The spec (and the tests) should be updated to make use of RSA-OAEP-256 (makes use of SHA-256)

[2022-05-05 13:43] #285 closed

[2022-05-05 13:48] sberyozkin commented on #288
@rdebusscher I think we may need a better justification as the message digest is not what in itself is determining the overall security of the RSA-OAEP encryption. There are a few references on the web like
[code]
which you can find from https://en.wikipedia.org/wiki/Optimal_asymmetric_encryption_padding

The reason `RSA-OAEP` was selected by default was because it has a `Recommended+` rating at h

[2022-05-05 15:43] sberyozkin opened #289 "Add `mp.jwt.decrypt.key.algorithm` property"
Add `mp.jwt.decrypt.key.location` property to let users choose the algorithm which should be used to decrypt the content encryption key. `RSA-OAEP` will remain a default value for `2.1` to maintain the backward compatibility, but `RSA-OAEP-256` will also be required to be supported (might become a new default value in one of the next major releases, see  #288), support for other key management alg

[2022-05-05 17:49] rdebusscher commented on #288
@sberyozkin thank you for the references, but some remarks

The word **may** suggest it is not to be excluded that a problem can arise.

The RFC 7518 you linked is dated May 2015, thus before the announcement in 2017 that SHA-1 is to be considered unsafe (https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html)

I don't get the reason why a new config property is needed since

[2022-05-05 17:56] rdebusscher commented on #288
The reason why I opened this is the following.

I'm currently writing a new implementation of JWT-Auth spec and can't pass the current TCK since it is mandatory to support RSA-OAEP (the RolesAllowedSignEncryptTest TCK test makes use of it also).  It will be used in an environment where RSA-OAEP-256 is used. Users are also making the remark why an 'old' algorithm is required and you can't make use

[2022-05-05 17:56] rdebusscher commented on #289
I don't get the reason why a new config property is needed since the JWE algorithm comes from the header of the token.

[2022-05-06 15:23] sberyozkin commented on #289
@rdebusscher Accepting the algorithm requirements from a client is indeed considered to be a security risk. While, in general, in JOSE, one can just dynamically determine everything, whether to decrypt first, how to decrypt, how to verify, it is not what a real production should do where the concrete security policies, keys are in place. There was a known issue related to a case where a server was

[2022-05-06 15:29] sberyozkin commented on #288
@rdebusscher I've added a comment at #289 to explain why depending on the headers alone is not a good idea.

Can you explain why you can't pass it ? Any JOSE library supports it.

We'll add this property and your users will be to enforce `RSA-OAEP-256`, no problems

[2022-05-06 15:46] sberyozkin commented on #288
@rdebusscher

I appreciate it and I don't take it lightly. But we can't just dismiss `RSA-OAEP` because of some use of `SHA-1` in the bigger encryption process, just because `SHA-1` on its own is unsafe. `RSA-OAEP` is not `SHA-1`. We'll need a better justification to drop it, with some reference to at least some public expert analysis why it is unsafe - I don't see any such analysis.

We can't dro

[2022-05-06 16:19] sberyozkin commented on #288
@rdebusscher If the TCK issue is related to the fact that you'd like to certify MP JWT 1.2/2.0 implementation in the environment where implementing `RSA-OAEP` is technically impossible then I guess we should be open to updating TCK itself to use RSA-OAEP-256 in `MP JWT 2.1`, by adding `mp.jwt.decrypt.key.algorithm=RSA-OAEP-256` - while as I said in MP JWT 3.0 it can become a default

[2022-05-09 06:38] rdebusscher commented on #289
mp.jwt.decrypt.key.algorithm must be a list of all JWE algorithms (RSA-OAEP, RSA-OAEP-256, RSA-OAEP-384, RSA-OAEP-512).  Currently, all algorithms can be used and we can't exclude one with this property by default as that would be a breaking change.

Spec already says that the other algorithms are optional but that means they are allowed and RSA-OAEP is not the only one that is allowed.

This prop

[2022-05-09 06:42] rdebusscher opened #290 "Allow application to accept JWS and JWE tokens"
Currently, when the property `mp.jwt.decrypt.key.location` is specified, signed tokens must be rejected. But this means that a service that is part of two or more applications, a basic concept of a microservice architecture, that has different token schemas can't function properly. (now you need to duplicate the service with a different configuration)

[2022-05-09 06:44] rdebusscher commented on #290
Another breaking change that is needed to make use of the spec in all situations.

[2022-05-09 11:41] sberyozkin commented on #290
I do not think it is a good idea. It is mostly a theoretical argument IMHO. That would mean that either of the applications can accept both the encrypted and signed or signed only tokens at the same time. But as I said earlier I don't think this represents a realistic security policy requirement.

[2022-05-09 11:43] sberyozkin commented on #289
No, there must an exact requirement at the spec level, you can have your implementation to accept whatever the client posts if you'd like

[2022-05-09 11:45] sberyozkin commented on #289
@rdebusscher

Can you point to the spec text confirming it please ?

[2022-05-09 11:58] sberyozkin commented on #289
@rdebusscher Rudy, here is a text:

[code]
The rest is up to implementations.
Please note, this property will only add an extra requirement for `RSA-OAEP-256`, everything else will stay optional. It won't be restricting to only these 2 algorithms in a sense that the application won't be able to use some other algorithm (by the way where did you see RSA-OAEP-384/512 defined ?), this property will r

[2022-05-09 12:19] rdebusscher commented on #289
I did not interpret the spec as you do, and there are no TCK tests to backup the claim.

So you say that `RSA-OAEP` is the only allowed algorithm that can be handled but that all other algorithms, RSA-OAEP-256, -384, and -512) are forbidden and are not allowed to use (as there is no indication in the spec text that other JWE algorithms are allowed by the implementation, only a required one).  But

[2022-05-09 12:25] sberyozkin commented on #290
My concern is we can easily slip into supporting a totally dynamic token decryption/verification process, as I've already said, the headers may have all the data including the inlined JWKs - why not support the token decryption with the private key included in the headers - this will be a step backwards.
Lets review this task for MP JWT 3.0

[2022-05-09 12:50] sberyozkin commented on #289
@rdebusscher
Can you please avoid referring to non-existent `RSA-OAEP-384 and -512` ?

How would such an implementation do it without having an implementation specific property  ? By checking the JWE headers ? But that is not a sound security approach - the application should expect what is coming.

I think because the spec is not referring specifically to any other algorithms, it means it is an i

[2022-05-09 12:52] sberyozkin commented on #289
@rdebusscher We can also consider supporting something like `ALL` as a value of this property - it basically will let users say that any algorithm set in JWE headers is supported. That should allow for more open-ended configuration.

[2022-05-09 12:58] rdebusscher commented on #289
They do exists.  you can use any Hash algorithm of the SHA2 algorithm. Here are some references where it is already supported:

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsaencryptionpadding.oaepsha384?view=net-6.0

https://connect2id.com/blog/connect2id-server-12-4

https://cryptography.io/en/latest/development/custom-vectors/rsa-oaep-sha2/

https://www.openscdp.org

[2022-05-09 13:00] sberyozkin commented on #289
@rdebusscher I see, yes, I'm keeping referring to the outdated JWA spec

[2022-05-09 13:05] rdebusscher commented on #289
I agree it should not just be anything, but the list should be definable and indeed at best at the implementation level.  So spec should not be s restrictive that it only allows 1 or 2 of the algorithms.

So having the default  mp.jwt.decrypt.key.location=RSA-OAEP, RSA-OAEP-256, RSA-OAEP-384, RSA-OAEP-512 makes a compromise that probably 99.9% is supported by default, and if needed, can be restric

[2022-05-09 13:09] sberyozkin commented on #289
@rdebusscher `RSA-OAEP-384, RSA-OAEP-512` are not supported by all JOSE libraries yet. So lets limit it to `RSA-OAEP, RSA-OAEP-256` for 2.1, I'll work on a PR and ask you and @teddyjtorres to review and I'm sure we'll workout the text which works. In 3.0 we can push it further I guess.

[2022-05-10 10:23] sberyozkin commented on #289
@rdebusscher Hi, I've thought more about it, unfortunately I don't think making this property a `list` property works.

The problem is, I don't believe having a single key to handle more than one algorithm is sound or secure. In MP JWT we can point to a JWK set which may have more than one key but single PEM keys won't really do. It might be possible technically but I don't think a practical scena

[2022-05-11 12:11] sberyozkin commented on #288
@rdebusscher I've asked a question about `RSA-OAEP` in the JOSE forum, I've got an answer from a well-known expert saying that he was not aware of any `SHA-1` weaknesses in scope of `RSA-OAEP` but also assumed it could be because no one is looking into trying to find such a weakness - which is a fair comment but obviously it is just a thought.
This is only FYI,  I support your request to allow `RS

[2022-05-13 11:13] sberyozkin commented on #289
@rdebusscher I think we will be able to transition it over time into a list property without breaking anything if it will be necessary for practical cases

[2022-05-15 10:17] sberyozkin commented on #290
@rdebusscher Another likely problem with it is that it will have a performance impact, the implementations will have to do the first round of parsing by checking if it is a JWS or JWE sequence. If it is a JWE sequence, they'd have parse the decrypted sequence and check if it is JWS. I doubt support of this kind of dynamics is needed. But indeed, lets review it for 3.0

[2022-05-19 11:23] sberyozkin opened #294 "Release MP JWT 2.1-RC2"

[2022-05-19 11:24] sberyozkin commented on #294
CC @teddyjtorres @rdebusscher MP JWT 2.1-RC2 should make it to Maven Central later today

[2022-05-19 11:24] #294 closed

[2022-05-27 17:31] dblevins commented on #289
I agree with @rdebusscher, this should be a list.

[2022-05-27 17:45] dblevins commented on #289
For my benefit, @rdebusscher and @sberyozkin did you two come to some agreement outside this thread, perhaps on a call, or was this simply closed despite there being disagreement?

[2022-05-27 18:13] rdebusscher commented on #289
No discussion outside this thread and no agreement. But I'm no longer trying to make the implementation pass the TCK as I need multi-tenancy/multi-source and don't want to implement some of the unnecessary restrictions that MP JWT imposes on top of the JOSE Specs.

[2022-05-27 19:36] sberyozkin commented on #289
@dblevins This issue was thoroughly discussed and while @rdebusscher did disagree I assured him we would be able to convert it to list should a practical requirement arise.
@rdebusscher I'm always taking your comments on board so I'm finding it disappointing that your last comment presents it as if I just closed without listening to you.
We have also discussed introducing this property with @teddy

[2022-05-27 19:45] #289 closed

[2022-05-28 09:10] rdebusscher commented on #239
Alternative for multi-tenancy support

- key `mp.jwt.verify.publickey.location` supports a list of locations
- key `mp.jwt.verify.publickey.algorithm` supports a list of Signatures algorithms.
- Key `mp.jwt.decrypt.key.location` supports a list of locations
- Key `mp.jwt.decrypt.key.algorithm` supports a list of encryption algorithms.
- Key `mp.jwt.verify.issuer` support a list
- Application can a

[2022-05-28 09:16] rdebusscher commented on #289
There was never a discussion on a call proposed and I was not aware of any calls that are happening.

I can't find the mailing list, can we add it to the Github Readme or Wiki page?

[2022-06-09 08:43] rmartinc opened #295 "TokenUtilsEncryptTest is failing on OpenJDK 19 EA"
We do periodic runs of the tck tests with newer versions of the JDK. And `TokenUtilsEncryptTest` is failing in JDK-19 EA because AES KeyGenerator has changed its default size from 128 to 256 ([commit](https://github.com/openjdk/jdk/commit/313bc7f64f69d8f352d495d2c35bea62aca910e4)).

The error reported is the following:

[code]

I'm sending a little PR to force the bits in the AES secret key genera

[2022-06-16 14:45] sberyozkin commented on #289
@rdebusscher Hi,  it is all in the MP calendar; link to the call notes is in this repository's README.

We can also do `Discussions`.

But in any case, let me repeat, please don't be concerned about the current restrictions. MP JWT will be capable of supporting the practical requirements. IMHO we'd just need to avoid solving the multi-tenancy problem in the adhoc way starting from this property.

[2022-06-20 09:48] #295 closed

[2022-08-23 15:01] Verdent opened #297 "RolesAllowedSignEncryptTest.callEchoSignToken TCK test challenge"
Hi,
I would like to ask, why is it expected for [this](https://github.com/eclipse/microprofile-jwt-auth/blob/09ba972d86498a4e20db569bd9d9627534123126/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/jwe/RolesAllowedSignEncryptTest.java#L194) test to pass?

This is how I understand it:
1. Public key for signature verification is provided over the createDeployment() method
2. JWT i

[2022-08-25 15:19] sberyozkin commented on #297
Hi @Verdent The reason the failure is expected is that the test endpoint expects a inner-signed encrypted token - so the successful verification is not enough - the token has to be decrypted first - however the test sends a signed only token.

[2022-08-25 15:34] sberyozkin commented on #297
We'll need to discuss the dynamic token verification in more detail for 3.0, hopefully in scope of the multi-tenant support

[2022-08-31 14:10] Verdent commented on #297
@sberyozkin Thank you for clarification. I have completely missed that. :-)

Closing issue

[2022-08-31 14:10] #297 closed

[2022-09-14 06:40] rdebusscher opened #301 "Reject token with un-encoded payload (b64=false)"
As stated in RFC-7797  JSON Web Signature (JWS) Unencoded Payload Option,

   "b64" with a "false" value.

This means that the this spec must be updated to mention that token with `b65=false` header must be rejected and a TCK test is needed to confirm an implementation handles it correctly.

[2022-09-14 09:09] sberyozkin commented on #301
I'm not sure MP JWT spec needs to focus on this property as it also involves the use of the `crit` header, https://www.rfc-editor.org/rfc/rfc7797#section-6, and it just can make it tricky to deal with; but please investigate if you'd like.

[2022-09-23 13:14] JanWesterkamp-iJUG opened #303 "Normalize Project Naming"
I would like to suggest a refactoring of this project to use consistent naming.

This project uses deviating names on different locations, i.e.:

- github: eclipse/microprofile-jwt-auth
- microprofile-spec: MicroProfile JWT Authentication
- Maven Group ID: org.eclipse.microprofile.jwt
- Maven Artifact ID (API): microprofile-jwt-auth-api
- Spec document headline: Eclipse MicroProfile Interoperable

[2022-09-24 10:14] sberyozkin commented on #303
`JWT Propagation` on the website is certainly wrong

[2022-10-04 10:01] sberyozkin opened #304 "Release MP JWT 2.1 Final"
CC @teddyjtorres, @dblevins @rdebusscher  - are we OK to go with the final Release ? What is the deadline for the final release ? CC @radcortez @Emily-Jiang

[2022-10-04 12:27] Emily-Jiang commented on #304
@sberyozkin you need to have the final RC either today or tomorrow so that Open Liberty have time to consume it in the next beta. Otherwise, JWT 2.1 will need to end up in the next MP release.

[2022-10-04 14:19] rdebusscher commented on #304
@sberyozkin

I did not look into detail, but do we have a TCK test that fails when token is using _RSA-OAEP-256_ and no `mp.jwt.decrypt.key.algorithm` value is specified (so default is _RSA-OAEP_)

This makes sure that applications that are upgraded (and people don't update their config) suddenly aren't accepting tokens that are encoded with other algorithm.

[2022-10-04 14:23] rdebusscher commented on #304
@Emily-Jiang

You mean `need to have the final RC either today or tomorrow to be included in MicroProfile 6.0`. I cannot believe that the release cycle of an implementation decides if something will be in a release of MP or not. That would make MicroProfile no longer vendor neutral but owned by OpenLiberty team.

[2022-10-04 14:29] Emily-Jiang commented on #304
@rdebusscher MP 6.0 uses Open Liberty as the compatible implication in or der to get released. In order to release MP 6.0 in November, the specs need to get their final RC to be in the beta image of Liberty so that a ballot can be started with it. It's fine for JWT team not to board this train, it will mean 1.2 version will not be included in MP 6.0.

[2022-10-06 14:05] sberyozkin commented on #304
@Emily-Jiang I'll release it today, as I wanted to wait till the call today to avoid any confusion re the technical discussion we are having with @dblevins.

[2022-10-06 14:09] sberyozkin commented on #304
@Emily-Jiang By the way, can you please update Teddy on how to do the release in Jenkins, it should def not depend only on me doing the MP JWT releases.

[2022-10-06 14:57] sberyozkin commented on #304
@Emily-Jiang

That needs to be fixed as Teddy has been contributing to the calls for the last while, and he contributed with several patches.
Can you please remind how to start a nomination ? We can tall in the gitter if you'd like

[2022-10-06 14:58] sberyozkin commented on #304
@Emily-Jiang

Thanks, well, unless there will be objections then I'd go for staging 2.1.Final next, otherwise we'll never make it to 3.0, going directly to 3.0 would be a problem

[2022-10-06 15:55] Emily-Jiang commented on #304
You can nominate MP committers from [here](https://projects.eclipse.org/projects/technology.microprofile/nominate/CM). By the way, you need to log on first to be able to see the form. We can talk on gitter if you hit any issues.

[2022-10-21 09:30] sberyozkin opened #307 "Improve the token age TCK test"
Teddy has mentioned the way the current token age is tested causes some side-effects as it is done as part of the older, large test, so he agreed to improve it by moving it into its own deployment.
We can then re stage the final release once this issue is done

CC @teddyjtorres @dblevins @Emily-Jiang

[2022-10-25 09:32] sberyozkin commented on #307
Fixed by #308

[2022-10-25 09:32] #307 closed

[2022-10-25 09:39] sberyozkin commented on #304
Hi @Emily-Jiang  @teddyjtorres I think all is ready now for MP JWT 2.1 Final, but since we have merged PRs from David @dblevins and Teddy, we should drop the staged final release and re-stage it, Emily, can you please re-stage ?

[2022-11-03 10:44] arjantijms commented on #303
Big +1 for this. I was involved with the 1.0 spec, but even so never understood all the different naming.

[2022-11-04 17:08] arjantijms opened #310 "API 2.1 excludes EE 10 versions in Manifest"
The Manifest of the latest 2.1 API (RC6) contains the following import line:

[code]

This will fail on EE 10 OSGi environments such as GlassFish 7:

[code]

[2022-11-07 18:00] Emily-Jiang commented on #310
Since MP JWT 2.1 works with Jakarta EE 9.1 and it uses the "Compile low, run high", this spec primarily works with EE 9.1 but also works with Jakarta EE 10 Core Profile. In Open Liberty, we did manifest rewrite to allow the bundlised version working with EE 10. I think we can fix this in the bnd.bnd to make the version range inculde EE 10 range if necessary.

[2022-11-07 18:17] radcortez commented on #310
I agree that it should be open to allow "compile low, run high", but it doesn't seem consistent with the discussion on the ML when @dblevins brought this up.

If we enforce a minimum on EE 10 at the platform level, then all platform specifications should also enforce the minimum requirements.

[2022-11-07 22:31] Emily-Jiang commented on #310
It does operate on "compile low, run high". However, the manifest was not opened up for EE 10, as normally major version changes could break things. Since we have tested JWT 2.1 works with EE 10, its manifest can be relaxed to embrace CDI 4.0. I have done a PR to fix this.

[2022-11-07 22:32] Emily-Jiang commented on #310
@sberyozkin @arjantijms I have provided a PR to fix this.

[2022-11-07 22:56] arjantijms commented on #310
Incidentally, we have a manifest rewriter available in GlassFish as well. But using it always feels like a hack, and if possible we like to avoid using it.

[2022-11-08 16:47] #310 closed

[2022-11-22 18:13] Emily-Jiang opened #312 "MicroProfile JWT RBAC 2.1 Compatible Certification Request"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
IBM
- [x] Product Name, Version and download URL (if applicable):<br/>
 [Open Liberty 22.0.0.13-beta](https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/beta/22.0.0.13-beta/openliberty-22.0.0.13-beta.zip)
- [x] Specification Name, Version and download URL:<br/>
  [MicroProfile JWT 2.1](https://download.ecl