[2017-07-30 20:54] johnament opened #5 "Fix group Ids/artifact Ids"
Group ID should be in the format of `org.eclipse.microprofile.jwt` (or maybe `.jwt.auth`?).  Please fix the group Ids to match.  Please also fix the artifact Ids to line up with other specs.

[2017-07-30 21:00] johnament opened #6 "Don't rely on Keycloak"
specific vendor tooling should not be required to use MicroProfile

[2017-07-30 21:01] johnament opened #7 "Don't rely on full Java EE API"
Don't rely on the full Java EE API, not all vendors will provide it.

[2017-07-30 21:01] johnament opened #8 "There is no ASLv2"
There is no license "ASLv2" remove references to it.

[2017-07-30 21:05] johnament opened #9 "TCK should only provide tests"
The current TCK seems to assume that you're using Wildfly Swarm or Weld SE.  We should only be providing the tests in the TCK, and allowing the vendors to test with these tests.

[2017-08-02 20:46] starksm64 opened #10 "The JWTPrincipal#getGroups() method should simply return the JWT "groups" claim"
After further review of the JSR-375 proposed final draft section 3.2.2. Retrieving Caller Information, as well as discussions with @chunlong, it is not appropriate for the JWTPrincipal#getGroups() method to be doing any mapping as other authorization modules and identity store may existing to handle this. The JWTPrincipal#getGroups()  should just be returning the names of the groups in the "groups

[2017-08-02 22:26] starksm64 commented on #5
The api style was based on some version of the config spec usage, but I have updated the conventions to be consistent with the current config project.

[2017-08-02 23:02] starksm64 commented on #5
This is addressed in #11

[2017-08-02 23:23] starksm64 commented on #6
Why is Keycloak fundamentally different than Google's gson? It is just an open source project that has component libraries that touch on JWT parsing and validation.

Keycloak is not and really could not be a MicroProfile implementation for JWT RBAC, even though it can be a component of such an implementation.

[2017-08-02 23:26] starksm64 commented on #9
We are scheduled to discuss specific vendor profiles, but the Weld SE profile is simply an extension of the Arquillian test environment as some container runtime is needed for CDI based tests. The weld-se profile will be used to test basic parsing and presentation of JWT tokens as JWTPrincipals independent of a complete JWT RBAC implementation.

[2017-08-04 14:33] dblevins commented on #5
We can use the Nimbus Library for creating JWTs for the TCK.

 - https://connect2id.com/products/nimbus-jose-jwt

[2017-08-04 22:20] starksm64 opened #13 "Generalize the otherClaims accessors to provide access to all claims"
Currently the getOtherClaim(String) and getOtherClaimNames() methods only deal with the non-required claims. It has been suggested for the consistency, these method be general accessors for any claim in the JWT, including the required claims, and that the required claim names have constants in the interface.

[2017-08-04 22:31] starksm64 opened #14 "Java SE javax.security.auth.Subject#getSubject() behavior"
We should define the behavior of the static javax.security.auth.Subject#getSubject() in the context of a secured endpoint that is utilizing MP-JWT authentication.

[2017-08-04 22:35] starksm64 opened #15 "Drop the roles claim in favor of the more general groups claim"
We had a discussion and decided that there is no reason to support both a roles and a groups claim as if a container could configure or default to a one-to-one mapping between IDP groups and application roles, the groups claim could satisfy all RBAC requirements.

[2017-08-10 00:18] starksm64 opened #18 "The api module needs to generate a source jar"
The api/pom.xml is currently missing the source jar generation.

[2017-08-10 22:19] starksm64 opened #20 "Add @LoginConfig annotation to replace web.xml/login-config"
Based on discussions around wanting to limit dependencies on servlet metadata descriptors, we decided a LoginConfig annotation that includes equivalent information would be the way to address this.

[2017-08-15 19:18] #18 closed

[2017-08-16 11:08] johnament commented on #20
@starksm64 so where is this supposed to go? the JAX-RS resource?

[2017-08-17 19:00] starksm64 commented on #20
This goes on the JAX-RS Application:

import org.eclipse.microprofile.jwt.LoginConfig;

[code]

[2017-08-17 19:01] starksm64 commented on #15
This has been incorporated into the current 1.0-RC1 candidate release

[2017-08-17 19:01] #15 closed

[2017-08-17 19:03] starksm64 commented on #13
This has been superseded by the latest JsonWebToken interface changes:

[code]

[2017-08-17 19:03] #13 closed

[2017-08-17 19:04] starksm64 commented on #10
This has been incorporated into the current 1.0-RC1 candidate release

[2017-08-17 19:04] #10 closed

[2017-08-17 19:04] starksm64 commented on #8
This has been incorporated into the current 1.0-RC1 candidate release

[2017-08-17 19:04] #8 closed

[2017-08-17 19:06] starksm64 commented on #6
The token dependency parsing is now using the com.nimbusds:nimbus-jose-jwt library.

[2017-08-17 19:06] #6 closed

[2017-08-17 19:08] starksm64 commented on #5
This has been incorporated into the current 1.0-RC3 candidate release.

[2017-08-17 19:08] #5 closed

[2017-08-17 19:14] starksm64 commented on #7
The core container TCK dependencies have been paired down to javax.json-api, cdi-api, javax.ws.rs-api and javax.annotation-api as of 1.0-RC1.

[2017-08-17 19:14] #7 closed

[2017-08-17 19:18] starksm64 commented on #9
As of the 1.0-RC1 release, the TCK only provides tests and harness code that MP-JWT implementations can use with an implementation provided TCK harness artifact to run the tokens-se and container profile tests.

[2017-08-17 19:18] #9 closed

[2017-08-27 03:56] johnament opened #25 "Scanning the dependency for tests doesn't seem to work"
I have the following configuration in place that runs the test suites.

[code]

I added JWT to the tests to see what happens.  It doesn't seem to scan anything though.  Are the tests ending up in the dependency?

[2017-08-28 19:47] starksm64 commented on #25
There needs to be a dependency on both the jar and test-jar types of artifacts:

[code]

[2017-08-31 11:02] johnament commented on #25
Do you mind adding that to https://github.com/eclipse/microprofile-jwt-auth/tree/master/tck#creating-your-implementation-tck-harness-artifact ?  I see it's later in the doc, but would be good to be here as well.

[2017-08-31 11:08] johnament opened #27 "Both scopes or one scope?"
We had a similar issue on the JMS spec, and it leads to a potentially much more complex implementation

https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/interoperability.asciidoc#cdi-injection-requirements

In this section, its declared that we need to support injection of either RequestScoped or Dependent scoped identity.  Is dependent really appropriate here?

[2017-08-31 11:09] johnament opened #28 "Remove target from Claim"
For better reuse in many use cases (beyond whats defined in MP) it would be good if Claim did not specify a target, which would allow implementations more freedom on where users could put the claim.

[2017-08-31 11:21] Emily-Jiang commented on #28
If it does not specify target, we need to support all targets. I think it is better to list the targets we support in 1.0. It is fine to add more targets in 1.1, which is still backward compatible.

[2017-08-31 11:42] johnament commented on #28
I don't believe that's a requirement.  The spec should be clear on where you can use it as a part of MP.  However, it shouldn't preclude using it in other places.

https://github.com/eclipse/microprofile-health/pull/70 for a related issue in Health spec.

[2017-08-31 11:43] johnament commented on #28
At a minimum we need to support the elements mentioned in config property

`@Target({ElementType.METHOD, ElementType.FIELD, ElementType.PARAMETER, ElementType.TYPE})`

[2017-08-31 22:35] starksm64 commented on #27
A producer for a javax.injection.Provider<String> requires Dependent scope due to the unproxyable nature of String. I raised an issue with the CDI spec on why the javax.injection.Provider is not essentially a wrapper, thus creating a proxyable type and did not get a satisfactory answer.

[2017-08-31 22:48] starksm64 commented on #28
That is the current list of targets, so for 1.0, let's stick with that and define how it applies to other scopes for 1.1.

[2017-08-31 23:02] starksm64 commented on #25
Ok, I have done that.

[2017-08-31 23:02] #25 closed

[2017-08-31 23:04] starksm64 commented on #20
The ultimate location is the org.eclipse.microprofile.auth package:

[code]

[2017-08-31 23:04] #20 closed

[2017-08-31 23:04] starksm64 commented on #14
This has been defined as an optional container integration API for 1.0

[2017-08-31 23:04] #14 closed

[2017-09-01 16:13] starksm64 commented on #27
So based on today's MP-JWT call, what this issue comes down to is the following:
1. The JsonWebToken needs @RequestScoped scoping.
2. The associated claim values need @Dependent scoping and implementations should verify that injection of a raw claim value into a non-requestscoped context results in an error or warning.

[2017-09-01 16:24] johnament commented on #27
Sorry I had to head out early.  What I would recommend:

- Optional, String, Long, Date etc injection points have scope dependent
- All other injection points have request scope

It would be preferable that we don't even call out injection of provider & instance, since those are built in CDI constructs.

[2017-09-01 17:06] johnament commented on #28
@starksm64 that's not the current list of targets.  https://github.com/eclipse/microprofile-jwt-auth/blob/master/api/src/main/java/org/eclipse/microprofile/jwt/Claim.java#L34

We need to add `TYPE` to that list.

[2017-09-01 21:12] starksm64 opened #29 "Some TCK tests are missing the @RunAsClient annotation"
Some of the tests, e.g., RolesAllowedTest#callEchoNoAuth() do not have a @RunAsClient to execute on the client, and this is causing a requirement for test classes to be included in the WebArchive. This is an error in the test definition as all tests should be running as simple JAX-RS clients outside of the container runtime.

[2017-09-01 21:19] #29 closed

[2017-09-01 21:25] starksm64 commented on #27
Should we just say any non-proxyable type as defined by the CDI spec must have dependent scope, and list a few example like you have mentioned?

[2017-09-01 21:57] Emily-Jiang opened #30 "Produce a proper bundle to be used in OSGi environment"
need to add bnd.bnd to export the packages and also use the latest bnd plugin

[2017-09-01 22:27] #30 closed

[2017-09-02 12:03] johnament opened #32 "Should claims be non-binding"
I suspect that the Claim qualifier should be nonbinding. https://docs.jboss.org/cdi/api/1.0-SP2/javax/enterprise/util/Nonbinding.html

Basically, the current impl requires registering beans of each claim type to satisfy injection points.  By making the attributes nonbinding, you can satisfy in a single producer method.

[2017-09-02 12:10] johnament opened #34 "Which attribute takes precedence?"
The current usage of Claim allows for an ambiguity:

[code]

In this situation, which claim should be searched for, or is there an error thrown?

[2017-09-02 13:20] johnament commented on #27
I guess its a question of what we consider to be the finite list of fields injectable with `@Claim`.  I think the spec should clarify that.

What I'm now seeing is that in order to create any `@Claim` injection point, I need the JWT and the requested claim, which means I always need dependent scope beans.

[2017-09-02 15:59] johnament opened #35 "Why isn't ITokenParser in the API?"
It seems weird to me that for TCK purposes only we have to implement a `ITokenParser`.  Why not just put this class in the API and look it up via CDI injection?  End users may find this useful as well.

[2017-09-02 16:04] johnament opened #36 "Finite list of supported injection points"
Looking between the spec and the tck, its not clear to me what the actual list of types supported.  If you look, the MP config spec lists this as a finite way, as well as how to register custom types.

[2017-09-02 17:43] johnament opened #37 "Endpoints used in TCK are not necessarily CDI beans"
I have an issue with the endpoints listed in the TCK.

If I look at `UnsecuredPingEndpoint`, `ClaimValueInjectionEndpoint` etc they lack a bean defining annotation.  As a result, these classes are not necessarily CDI managed beans.

There's two ways to solve this.

1. The TCK passes in a valid CDI 1.1 `beans.xml` that includes `bean-discovery-mode="all"`
2. We add a scope annotation, e.g. `@Reques

[2017-09-02 19:01] starksm64 commented on #34
The enum based claim should take priority in this circumstance, or it should be an error.

[2017-09-02 19:02] starksm64 commented on #37
All tests do have a beans.xml, but it is empty, so it would be easy to update it to include the bean-discovery-mode="all"

[2017-09-02 19:09] starksm64 commented on #36
The set of valid claim types is the org.eclipse.microprofile.jwt.Claims.type + the JSON-P types for custom claims: JsonValue.TRUE/FALSE, JsonString, JsonNumber, JsonArray, JsonObject.
I'll add a clarifying sentence to this effect in the spec.

[2017-09-02 19:28] starksm64 commented on #35
Originally this was in the API via a ServiceLoader pattern. If there is agreement on moving back that is fine.

[2017-09-02 19:31] starksm64 commented on #32
It was seemingly an issue when we were trying to only use @RequestScoped values since such producer methods cannot have an InjectionPoint argument. It is probably better to have non-binding claims.

[2017-09-02 21:27] johnament commented on #37
Sounds good to me.

[2017-09-02 21:32] johnament opened #38 "Client used in tests does not register any providers"
The JAX-RS client used in the tests does not register any providers.  I believe you may be relying on resteasy specific behavior where providers are automatically registered.  However, I don't believe that's a requirement of the [JAX-RS Client API](https://github.com/jax-rs/spec/blob/master/chapters/clientapi.tex).  Don't forget that since your tests run as client, they are always running outside

[2017-09-02 21:39] johnament commented on #34
Does it maybe make more sense to have a `@Claim` and `@NonstandardClaim` as two different qualifiers?  One taking a `String` and the other taking an `enum`.

[2017-09-02 21:41] johnament commented on #36
well that's not good.  There's this line `UNKNOWN("A catch all for any unknown claim", Object.class);` which basically makes everything a valid type.

[2017-09-02 22:26] starksm64 commented on #36
Ok, excluding UNKNOWN which is just a place holder for a custom claim

[2017-09-02 22:30] starksm64 commented on #38
You have to provide a JAX-RS client implementation as part of the test harness. It is describe with a comment in the example skeleton pom.xml with a callout on the topic:

        <4>
        <dependency>
            <groupId>org.jboss.resteasy</groupId>
            <artifactId>resteasy-client</artifactId>
            <version>3.1.1.Final</version>
        </dependency>

<4> The TCK unit tests mak

[2017-09-02 22:34] starksm64 commented on #34
I'm not for that change at this point. This can be brought up for discussion post the 1.0 API freeze, but it is not something I want to try to squeeze in at the last minute.

[2017-09-02 23:18] starksm64 commented on #36
The
Custom claims not handled by the Claims enum are required to be valid JSON-P `javax.json.JsonValue` subtypes. The
current complete set of valid claim types is therfore, (excluding the invalid Claims.UNKNOWN Void type):
* java.lang.String
* java.lang.Long
* java.lang.Boolean
* java.util.Set<java.lang.String>
* javax.json.JsonValue.TRUE/FALSE
* javax.json.JsonString
* javax.json.JsonNumber
* jav

[2017-09-02 23:20] johnament commented on #36
one of the tests requires `String[]`

[2017-09-02 23:34] johnament commented on #38
Ok, sorry I wasn't clear then.

The Provider I'm referring to is the JAX-RS Provider, which is the base interface for `MessageBodyReader/Writer`, `Feature`, etc.  The automatic registration of these providers are handled on the server, which is as per the JAX-RS spec.  However, the Client API does not require automatic registration.  Based on the few people I spoke with it wasn't clear why they we

[2017-09-02 23:37] johnament commented on #34
I think we need to clarify something for 1.0.  The spec's a bit light in this area.  I think for 1.0 we should indicate that it's not supported and a deployment exception is thrown.

[2017-09-03 01:00] starksm64 commented on #38
Then why not simply move the rest-easy dependency into the TCK and drop the requirement that the tck harness provides it. The rest-easy dependency that enables the json provider is:
        <dependency>
            <groupId>org.jboss.resteasy</groupId>
            <artifactId>resteasy-json-p-provider</artifactId>
            <version>3.0.6.Final</version>
        </dependency>

Since the tests onl

[2017-09-03 01:06] starksm64 commented on #36
I see the old "roles" claim using that. Is that what your referring to? It's not tested and just needs to be removed.

[2017-09-03 01:09] starksm64 commented on #34
That is fine.

[2017-09-03 11:34] johnament commented on #38
That's the dependency for JSON-P, however it is registered on the client side using resteasy specific behavior.

https://github.com/resteasy/Resteasy/blob/master/providers/json-p-ee7/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
https://github.com/resteasy/Resteasy/blob/master/resteasy-jaxrs/src/main/java/org/jboss/resteasy/plugins/providers/RegisterBuiltin.java#L23
https://github

[2017-09-03 14:42] johnament commented on #36
Ok, I must have had an older version locally.

So I think I saw what you're trying to do.  Assuming I start from my JWT in the form of `javax.json.JsonObject` then the return value is either the result of the underlying JsonValue of that attribute, or a minimal conversion (e.g. JsonNumber -> long).  I'm assuming I'll have to throw an exception if I looked for an attribute of the wrong type.

[2017-09-03 19:56] starksm64 commented on #38
Well that is a gaping hole in the JAX-RS client spec. The easiest thing to do is just to parse the json reply in the test client.

[2017-09-03 21:08] starksm64 commented on #38
The client tests have been updated to parse a string response instead of requiring a json-p provider.

[2017-09-03 21:08] #38 closed

[2017-09-03 21:08] starksm64 commented on #36
Correct.

[2017-09-03 22:33] johnament commented on #37
Ok, now that the rest issue is resolved, this is more of an issue.

I just looked, because there's no scope resteasy is behaving different than other JAX-RS impls.  Resteasy specifically makes [root resources request scoped when no scope present](http://docs.jboss.org/resteasy/docs/3.0.2.Final/userguide/html/CDI.html) but CXF does not.  The behavior is not defined by the spec.

[2017-09-03 23:00] starksm64 commented on #37
Try the latest update that sets request scoping explicitly.

[2017-09-03 23:37] johnament commented on #37
Agreed.

[2017-09-03 23:37] #37 closed

[2017-09-03 23:39] johnament commented on #36
Then I don't understand why `JsonValuejectionEndpoint.aud` is expecting a `JsonArray`.  The input type is a string type, I would expect that its an array type.

[2017-09-03 23:43] johnament commented on #36
Another fishy one.  `JsonValuejectionEndpoint.rawToken`, `raw_token` as far as I know isn't actually in the JSON payload, so I don't get why this would be a valid `JsonString` type.

[2017-09-04 00:03] johnament commented on #36
Yay fun times.

https://issues.apache.org/jira/browse/CXF-7493 was reported due to the TCK trying to send over a `List<Long>` and `List<Double>` as a query param.  As far as I can tell, there is no way to disable specific methods right now in my setup (have to switch to the TCK xml file to do that).

[2017-09-04 03:16] starksm64 commented on #36
aud is defined as a Set in Claims.aud due to the fact that it's RFC7519 general type is an array of strings or uris.

The raw_token claim is the original bearer token that maps to the JsonWebToken#getRawToken:
raw_token("MP-JWT specific original bearer token", String.class),

[2017-09-04 07:40] johnament opened #39 "Mapped Roles"
I see the TCK has the notion of mapped roles.  I thought I had it until I saw this test:

[code]

I don't see any roles mentioned in the JWT called `Group1MappedRole` so I have no idea how this role is mapped to the user.   Also, for the scope of processing roles, I'm ignoring the object `customObject` is that correct?

[2017-09-04 09:38] Emily-Jiang commented on #27
I agree this JsonWebToken bean should not have two scopes. However, I think it should match to the in-built Principal bean provided by CDI, because JsonWebToken is an extension to Principal. In CDI spec, there is a builtin Principal bean provided and it is Dependent scope. I ran this past Weld-dev team. Martin Kouba confirmed _"It's @Dependent. But a special proxy is injected and SPI
org.jboss.wel

[2017-09-04 12:24] johnament commented on #35
Ok, so I wanted to wait until I thought I had a decent grasp on how the TCK is using this interface.

It looks like these are implementation details.  You're supplying me a public key and a private key as a part of the TCK. Its up to me to configure Hammock to use them to ensure that the JWTs are properly signed.

If I look at some of the other tests in there, e.g. `TestTokenClaimTypesTest` and `I

[2017-09-04 21:46] starksm64 commented on #39
This test is about needing to map from a group1 assigned to the JWT to an application level role Group1MappedRole. The group to role mapping notion in Java EE is described here:
https://docs.oracle.com/javaee/7/tutorial/security-intro005.htm#BNBXJ

The only claim that carries any information about the authorization is the "groups" claim, so yet, the customObject claim has no effect on the roles.

[2017-09-04 22:24] starksm64 commented on #27
I don't believe it should behave the same as the CDI javax.security.Principal bean due to the fact that the JsonWebToken based principal is bound to the current javax.servlet.http.HttpServletRequest via the Authentication header of the current request. Changing the Principal along the flow of a request is possible, but it does not apply to the JsonWebToken based principal. It is a change in the cu

[2017-09-04 22:37] starksm64 commented on #35
For 1.0 I was not wanting to test the IToken interface itself as it has not been adequately discussed that the signature is how implementors wanted to deal with the validation context of the token.

Ok, I'll update the tests to use Arquillian and fallback to trying a CDI.current().select(IToken.class).get() call if there is no service provider.

[2017-09-05 00:18] starksm64 commented on #27
With the comment about JsonValue subtypes being non-proxyable, there essentially are only dependent scoped claim values.

[2017-09-05 00:24] johnament commented on #27
In most impls (and I can confirm within the Keycloak adapter), the KeycloakPrincipal is not injectable but it is bound to the actual request.  Also note that you get the principal from the request, so I don't think it would be a bad idea to fall back to the CDI behavior, especially since everything else is turning into a dependent scoped bean.

[2017-09-05 00:26] johnament commented on #39
Unfortunately, I don't see how that answers my question.  Where is the word `Group1MappedRole` coming from?

[2017-09-05 02:11] starksm64 commented on #39
Group1MappedRole is the application defined role. That is simply what the developer chose as the application level role. The container has to provide a mapping from the "group1" group from the "groups" claim to a Group1MappedRole assigned to the authenticated principal. This will require some additional authorization/role mapping step beyond the authentication of the JWT.

[2017-09-05 02:22] starksm64 commented on #27
And what about the issue we discussed with injection dependent values into application/session scoped beans? Is the same caching problem going to exist there for a usage like this now:

[code]

If so, we are now down to only dependent scope objects with a requirement to validate any injection of non-Provider wrapped value into application/session scope as an error.

[2017-09-05 02:28] johnament commented on #39
How is the application defining this role?

It sounds like this shouldn't be a MP TCK test.

[2017-09-05 02:29] johnament commented on #36
Yes, I know where `raw_token` is coming from, however I disagree with the notion that it should support a `JsonValue` injection point.  It's not from the JWT per-se, it is the JWT.

[2017-09-05 02:32] johnament commented on #27
That should be an `Instance<JsonWebToken>`.  One of the things missed in the call is that generally speaking, injecting a dependent bean using an `Instance` (Instance extends Provider) is generally considered bad practice.  To safely do it, you need to:

[code]

[2017-09-05 06:35] starksm64 commented on #39
The app has defined the role via the @RolesAllowed("Group1MappedRole") constraint on the method you showed. This is a requirement that we discussed early on.

[2017-09-05 06:50] starksm64 commented on #36
We added an accessor to the JsonWebToken to obtain the original raw token and have defined this as a pseudo claim in both the Claims enum and the JsonWebToken default implementation of the getRawToken() accessor. I would argue that any value accessible via JsonWebToken#getClaim(String) should be injected as a json-p type, but if there is an argument against it, let's hear it and we can vote on it.

[2017-09-05 09:21] Emily-Jiang commented on #32
+1

[2017-09-05 09:21] #28 closed

[2017-09-05 09:21] #32 closed

[2017-09-05 09:31] Emily-Jiang opened #40 "Clarification on Claim Deployment Exception"
"MP-JWT implementation are required to throw a DeploymentException when detecting the ambiguous use of a @Claim qualifier that includes inconsistent non-default values for both the value and standard elements as is the case shown here:

[code]

Do you mean value and standard cannot be used together?

[2017-09-05 14:48] starksm64 commented on #40
They cannot be used in an ambiguous ways, yes. They can be specified redundantly, but they cannot refer to different claims.

[2017-09-06 15:26] johnament commented on #40
@starksm64 so you're saying that this is valid?

[code]

[2017-09-07 00:55] starksm64 commented on #40
Yes, I don't see why it should fail.

[2017-09-07 03:12] johnament commented on #39
I get that the role is defined on the method.  What is not clear is how you're going from the JWT's contents to the user having that role.  That is completely unclear from the scope of the JWT spec.

[2017-09-07 03:41] starksm64 commented on #39
Ok, since this behavior is really defined for web profile and higher,
I'll classify the test using a new ee-security-optional that will not be included in the base MP-JWT tests.

[2017-09-07 03:41] #39 closed

[2017-09-07 03:48] johnament commented on #39
Scott, I'm not trying to be a pain, I'm just trying to understand what you're talking about.  It could be that there's a step missing with the TCK that I'm just blind to.

Are you referring to this mapping?

[code]

And expecting that an entry that maps group name `group1` into role `Group1MappedRole` is present somewhere?  If so, really at the bottom of this is you're just missing an instruction

[2017-09-07 04:05] starksm64 commented on #39
Yes, that is one example of the mapping one needs to do via a container specific descriptor.
I can certainly add that to the TCK readme instructions, but you are right that this is outside of the scope of the base MP 1.2 API feature set we are importing from Java EE 7.

[2017-09-07 04:11] starksm64 opened #41 "Test both javax.enterprise.inject.Instance and javax.inject.Provider in ProviderInjectionEndpoint"
Since the primary programmatic injection/lookup interface in CDI is the javax.enterprise.inject.Instance extension of javax.inject.Provider, we should be testing both in the org.eclipse.microprofile.jwt.tck.container.jaxrs.ProviderInjectionEndpoint

[2017-09-08 05:34] #41 closed

[2017-09-08 14:28] johnament commented on #35
I'm not sure that changing the tests at this point is the right thing to do.

It seems to me what's missing is a test that validates JWT (and invalid JWT) that is run as a part of sending the JWT over the wire.  Maybe we need to define an HTTP response code (401?) when the JWT is invalid?

[2017-09-08 14:30] starksm64 commented on #35
There are a few tests in this area in the InvalidTokenTest.java, so it is a question of verifying that there is sufficient coverage. The ITokenParser based tests are the only ones that cover the complete set of expected types from standard claims. These tests could be be moved into JAX-RS wrapped tests and run in the target container.

[2017-09-12 17:27] #40 closed

[2017-09-12 17:27] #36 closed

[2017-09-12 17:30] starksm64 commented on #34
The spec states that MP-JWT implementations are required to throw a `DeploymentException` when detecting the ambiguous use of a @Claim qualifier that includes inconsistent non-default values for both the value and standard elements

[2017-09-12 17:30] #34 closed

[2017-09-12 17:31] starksm64 commented on #27
We have the JsonWebToken at RequestScoped and all claim values at Dependent scoped for 1.0.

[2017-09-12 17:31] #27 closed

[2017-09-14 07:36] dblevins opened #44 "TCK lacks tests that assert `@Claim(standard=*)`"
All of our tests that result in a positive injection use `@Claim(value=*)`

[2017-09-14 07:51] dblevins opened #45 "`@ApplicationScoped` beans may use `@Claim ClaimValue` injection"
We have no tests that show an `@ApplicationScoped` bean using `@Claim ClaimValue` injection.

This is supported and should be tested

[2017-09-14 23:48] starksm64 commented on #35
We have left the ITokenParser in the tck along with the related tests for 1.0. Moving this to the API in some form is left for 1.1.

[2017-09-16 13:00] johnament opened #46 "AppScopedTest doesn't work"
Was trying to figure out the remaining TCK issues in Hammock.  I found that `AppScopedTest` isn't working.

https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/AppScopedTest.java#L38

It doesn't extend from `Arquillian` so it's not a valid CDI test, the CDI container never boots.

[2017-09-17 13:22] johnament opened #47 "Unclear how to validate JWTs using the resources provided"
https://github.com/eclipse/microprofile-jwt-auth/tree/master/tck#tck-resource-files-and-information lists a bunch of resources provided.  I'm attempting to make `InvalidTokenTest` pass.  When I enable token validation, since I'm using Nimbus Jose, I need to build a JWKSet.  Its not clear how to translate the resources you're providing into that JWKSet based on the instructions available.

[2017-09-22 13:53] starksm64 commented on #47
I have added a number of internal debug tests to the org.eclipse.microprofile.jwt.tck.parsing.DebugTest class that illustrate setting up the Nimbus library to validate the test JWT. See:

DebugTest.testNimbusExpGrace
DebugTest.testNimbusFailExpired
DebugTest.testNimbusFailIssuer
DebugTest.testNimbusFailJustExpired
DebugTest.testNimbusFailSignature
DebugTest.testNimbusValidation

A reference to thi

[2017-10-02 22:48] starksm64 opened #48 "Add a site.yaml file"
Apparently we need a site.yaml file to integrate with the Eclipse website?
https://github.com/eclipse/microprofile-fault-tolerance/blob/master/site.yaml

[2017-10-02 22:50] kwsutter commented on #48
Actually it's used to integrate with microprofile.io projects page....

On Oct 2, 2017 15:48, "Scott M Stark" <notifications@github.com> wrote:

[2017-12-06 15:54] arjantijms opened #49 "Clarify request scoped current caller and logout/login mid-request"
The MP-JWT spec 1.0 currently states in 7.1.1:

However, a caller can logout in the midst of a request (i.e. by calling `HttpServletRequest#logout`),  and even login again (i.e. by calling `HttpServletRequest#authenticate` or `SecurityContext#authenticate`).

An `@RequestScoped` JsonWebToken would have to be destroyed *immediately* after a logout in the middle of a request, but this requirement is

[2017-12-06 16:21] arjantijms commented on #45
@dblevins

I was surprised about this, as `ClaimValue` looks like a standard wrapper to allow a request scoped injection, but the MP-JWT spec doesn't say anything about this.

There's only 7.1.2 that says:

Where is it written that an `@ApplicationScoped` bean using `@Claim ClaimValue` injection is supported?

[2017-12-06 16:30] arjantijms commented on #36
@starksm64 @johnament

Technically as stated the list of supported types seems infinite.

7.1.2 lists:

* javax.json.JsonValue subtypes

Since `JsonValue` is an interface, it says here to support every subtype of that, which can be custom sub types, of which the amount is practically infinite.

[2017-12-06 16:43] heiko-braun commented on #49
Would it be better to inject a proxy for retrieval upon demand, rather then the token itself? This could ensure that no stale tokens linger and the backing implementation get's a chance to handle these situations.

I.e the aforementioned proxy could be a `Supplier< JsonWebToken >` or something along these lines.

[2017-12-06 17:08] arjantijms commented on #49
Probably would have been better indeed, but it's currently already being specified as being request scoped.

The claim values theoretically could stay available for the duration of the request, but after the caller logged-out it's application dependent I think whether these are still useful or not.

But one thing about which there can be no doubt is that after a log-out mid request the caller name

[2017-12-13 13:47] arjantijms commented on #45
@dblevins small ping ;)

[2017-12-13 14:01] arjantijms opened #50 "Add annotation literal builder to Claim annotation"
Claim is a CDI qualifier annotation, of which you need to have an annotation literal in order to do programmatic lookup via the bean manager and/or `CDI.current().select()`.

CDI 2.0 started a convention of adding literal instances and literal builders to the core and strongly related annotations. See http://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#built_in_annotation_literals

I think it would b

[2017-12-20 14:00] arjantijms opened #51 "Wrong usage of @HttpConstraint in TCK"
The MP-JWT TCK used the following construct:

[code]

This however can not work according to the Servlet spec; @HttpConstraint is supposed to appear within a @ServletSecurity annotation, and not be used on its own.

See:

* https://docs.oracle.com/javaee/7/api/javax/servlet/annotation/HttpConstraint.html
* https://docs.oracle.com/javaee/7/api/javax/servlet/annotation/ServletSecurity.html

[2017-12-20 14:07] arjantijms opened #52 "TCK swaps TestNG 'expected' and 'actual' outcomes"
Through the entire TCK, the `expected` and `actual` outcomes in an assertion are swapped.

E.g. see

[code]

The first parameter should be the actual outcome, while the second should be the expected one. See

* https://jitpack.io/com/github/cbeust/testng/master-6.13.1-gbf99034-6/javadoc/org/testng/Assert.html#assertEquals-boolean:A-boolean:A-

But as can be seen, the TCK reverses that.

As a resul

[2018-01-05 15:14] kwsutter opened #53 "Slightly reformat the package-info.java files for the javadoc"
Currently, the generated javadoc for JWT has the Description field running together.  I think a simple re-format of the package-info.java files would make this more readable.

The generated Description for the auth package looks like this:
`Metadata for JWT RBAC for Microprofile This package contains supporting metadata classes: LoginConfig: an annotation that is used by a JAX-RS Application to de

[2018-01-09 15:27] kwsutter opened #54 "Spec pom.xml needs updates for proper pdf and html generation"
Just a gentle reminder that since this component has not used the updated release process yet, you will need updates to your spec's pom.xml file for proper generation of the pdf and html.  We found a couple of hiccups with components during the MP 1.3 release, so I'm creating a couple of Issues as reminders.  You can reference the Config component as an example of proper usage.

[2018-01-17 11:01] arjantijms commented on #45
@dblevins Another small ping ;)

[2018-01-20 01:01] #44 closed

[2018-01-20 01:21] starksm64 commented on #45
7.1.2 is what implies that this should be supported. We went back and forth with regard to request vs dependent scoping of values and ended up settling on dependent scoping, so any inconsistencies should be clarified in 1.1 release.

[2018-01-20 01:27] starksm64 opened #55 "Define a standard Cookie for holding the MP-JWT token"
There is a desire to define the use of a standard cookie name,value for interop between applications as described in:
https://blog.angular-university.io/angular-jwt-authentication/

and MP microservices.

[2018-01-20 01:29] starksm64 opened #56 "Requirements for supporting JSON-B"
Review what changes would be needed to support the use of JSON-B with JsonWebToken and its claim values.

[2018-01-20 01:31] starksm64 opened #57 "Requirements for supporting JSR 375: Java EE Security API"
Define the requirements for aligning MP-JWT authentication with JSR 375.

[2018-01-20 01:37] starksm64 opened #58 "Define minimum useful support for JWE"
Would like to see if we can have interoperable encrypted JWT, maybe some minimum support requirement similar to OIDC, http://openid.net/specs/openid-connect-core-1_0.html#Encryption

JWE: https://tools.ietf.org/html/draft-ietf-jose-json-web-encryption-40

[2018-01-20 01:47] starksm64 opened #59 "Discuss pre-emptive authentication"
One additional point for discussion might be pre-emptive authentication, i.e. when the caller sends a JWT token to a non-protected resource. The system can easily authenticate the caller as well then, but the spec seems to be written (and the TCK only tests for) the case when a protected resource is accessed.

[2018-01-20 01:53] starksm64 commented on #59
When I think about pre-emptive authentication I think about seeding the client request context with the authentication information to avoid a challenge from a secured resource. @chunlong indicated that to him it meant allowing access to the JWT token information on unsecured endpoints and that liberty allowed this by default. I suppose that is what is more useful here?

[2018-02-02 15:18] jeanouii opened #60 "License not consistent"
Hi,

Some files like beans.xml or arquillian.xml don't have the same header as the Java source files. Is that desire?

Should I create a PR for it?

Thanks
Jean-Louis

[2018-02-02 17:42] kwsutter commented on #60
Yes, please.

On Feb 2, 2018 18:10, "Jean-Louis Monteiro" <notifications@github.com>
wrote:

[2018-02-09 16:06] starksm64 opened #61 "org.eclipse.microprofile.jwt.tck.container.jaxrs.PrimitiveInjectionTest is missing from tck/tck-base-suite.xml"
In reviewing the current tck against WFSwarm I noticed that the org.eclipse.microprofile.jwt.tck.container.jaxrs.PrimitiveInjectionTest  is not included in the tck/tck-base-suite.xml and tck/README.adoc, so it is likely that most runtimes have not validated this set of tests. When running against WFSwarm I do see that handling of injection of a claim like aud as a `Set<String>` fails:

[code]

Hen

[2018-02-11 19:57] jGauravGupta opened #62 "Configure issuer and public key in vendor-neutral way"
Currently following implementation supports the MP-JWT but  issuer and public key configuration way is bit different in each implementation. It would be great, if it can be configured in vendor-neutral way e.g using MP-Config etc.

### Payara
**issuer -** defined in "payara-mp-jwt.properties" which is placed in the classpath root of the application archive
**public key -** the file "publicKey.pem"

[2018-02-12 13:44] rdebusscher opened #63 "TCK : Missing test for required 'aud' claim"
According to the spec, 'aud' claim is required.

A same type of test as for issuer should be foreseen.

[2018-02-19 01:31] hrstoyanov commented on #55
Here is another good discussion on storing JWT tokens in cookies:
https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage

When is MP-JWT 1.1 due?

[2018-02-28 17:10] jeanouii opened #64 "TCK: swap actual and expected values in assertions"
While writing a MP-JWT, I realized when I was investigating TCK failures that many JUnit assertions were swapped out.

I have created a PR I'll submit shortly with all the issues I pointed out.

[2018-03-03 01:47] starksm64 opened #68 "Need test of injecting a java.security.Principal in addition to JsonWebToken."
As pointed out in this thread:
https://groups.google.com/forum/#!topic/microprofile/BJO50mFZd8w

we should hava a TCK test for both injection of the JsonWebToken interface as well as the java.security.Principal superinterface to ensure both are handled.

[2018-03-07 07:20] jeanouii opened #70 "Clarify @LoginConfig usage"
I have been implementing MP-JWT in TomEE.
And it's unclear to me where to use @LoginConfig.

I have assumed it can only be used to qualify a JAX RS Application.
It seems that Swarm did the same call (not sure though).

I see no problem technically to use @LoginConfig on a single JAX RS Resource.

What do you think?

[2018-03-07 16:21] urbim opened #71 "TCK: Arquillian sometimes generates trailing / when injecting URL and failing the tests"
In some cases Arquillian generates trailing / when injecting base URL with `@ArquillianResource`.

See: https://github.com/arquillian/arquillian-core/blob/master/container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/enricher/resource/URLResourceProvider.java

`toURL(Servlet servlet)` generates trailing / and `toURL(HTTPContext context)` does not.

This represents a proble

[2018-03-10 10:02] rdebusscher commented on #70
There are more things unclear about @LoginConfig usage.

According to the TCK tests (see UnsecuredPingTest), even when we have a JAX-RS application with @LoginConfig, a request matching the URL doesn't need to have the Authorization header with a valid JWT bearer token present.
In that case, no specific security context is setup and endpoints with no security requirements (like @RolesAllowed is no

[2018-03-10 10:10] rdebusscher commented on #70
an extended @LoginConfig section in the spec should have something like

- can it be placed on a JAX-RS resource and thus it affects then all Resources in that JAX RS application? (when JAX-RS Application class present or not)
- @LoginConfig doesn't mandate that JWT Bearer token needs to be present. But if presented, it should be used to set up the security context.
- What is the behavior when aut

[2018-03-16 20:16] arjantijms commented on #62
Any comments here?

With users now slowly beginning to try out MP-JWT this seems to be the major thing people struggle with.

[2018-03-19 10:37] Emily-Jiang commented on #62
+1 on using MP Config to unite the differences.

[2018-03-20 10:41] keilw commented on #56
That could be challenging. Right now, especially the TCK doesn't even support JSON-P because the Nimbus JWT/Jose library brings its own JSON framework other than JSON-P standards.

[2018-03-22 21:13] arjantijms commented on #71
I encountered the same issue, and solved is as follows. Not entire perfect perhaps and I'm probably missing some edge cases, but could serve as a starting point:

https://github.com/payara/MicroProfile-TCK-Runners/blob/master/MicroProfile-JWT-Auth/payara-jwt-auth-arquillian-extension/src/main/java/fish/payara/microprofile/jwtauth/tck/URLResourceProvider.java

[2018-03-22 21:23] arjantijms commented on #70
My proposal would be to deprecate `@LogingConfig`. It hints at being able to set other authentication mechanisms (such as FORM), but that's not a concern that the JWT spec should address.

JWT should only offer an annotation to state that the JWT authentication mechanism is to be used.

My proposal:

[code]

[2018-03-23 04:58] starksm64 commented on #71
This is using the 1.1.13.Final version of Arquillian? I never saw this while running the TCK so I'm curious where the error is coming from. Is it the JAX-RS client layer that is failing on the URL?

[2018-03-23 05:02] starksm64 commented on #64
Thanks, this has been merged.

[2018-03-23 05:02] #64 closed

[2018-03-23 05:03] starksm64 commented on #62
Yes, we need a way to enable configuration via MP Config.

[2018-03-23 05:06] starksm64 commented on #60
Did you have a PR for this? I'm not seeing one.

[2018-03-23 05:22] starksm64 commented on #53
The formatting has been fixed.

[2018-03-23 05:22] #53 closed

[2018-03-23 05:24] starksm64 commented on #52
Fixed by duplicate #64 PR.

[2018-03-23 05:24] #52 closed

[2018-03-23 05:46] starksm64 commented on #48
Done

[2018-03-23 05:46] #48 closed

[2018-03-23 05:47] #47 closed

[2018-03-23 05:58] starksm64 commented on #54
Done.

[2018-03-23 05:58] #54 closed

[2018-03-23 11:08] rdebusscher commented on #70
The @JWTAuthenticationMechanismDefinition is the style of Java EE Security/Soteria, but I have the impression that MP uses another style

- Shorter names (like RestClient)
- Config not as members but just read from config (like com.mycompany.remoteServices.MyServiceClient/mp-rest/url)

Although I like the way Java EE Security/Soteria style, we should stay consistent.

=> Something for the architec

[2018-03-23 11:48] arjantijms commented on #70
Hi,

*definition is also the style of Java EE in general, for example
@MailSessionDefinition, @DataSourceDefinition, etc.

As MP is Java EE based, and there's talk about potentially merging them
into Java EE/Jakarta EE at some point, it's probably a good idea to be
consistent with that style.

MP-JWT already derived from that config by introducing the @LoginConfig
annotation for saying that you wa

[2018-03-23 11:50] arjantijms commented on #70
Hi,

*definition is also the style of Java EE in general, for example
@MailSessionDefinition, @DataSourceDefinition, etc.

As MP is Java EE based, and there's talk about potentially merging them
into Java EE/Jakarta EE at some point, it's probably a good idea to be
consistent with that style.

MP-JWT already derived from that config by introducing the @LoginConfig
annotation for saying that you wa

[2018-03-23 14:21] keilw opened #72 "Could the TCK use auth0 instead of Nimbus JWT?"
While there is nothing wrong with Nimbus Jose JWT, it is quite intrusive bringing its own JSON processing library (minidev). The KumuluzEE implementation uses auth0 java-jwt and e.g.:
[JWTPrincipal](https://github.com/kumuluz/kumuluzee-jwt-auth/blob/master/src/main/java/com/kumuluz/ee/jwt/auth/principal/JWTPrincipal.java) demonstrates, Auth0 works perfectly fine with the JSON-P instead of its own

[2018-03-23 14:40] keilw opened #73 "Use Parent POM"
The appropriate Parent POM (either https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.eclipse.microprofile%22%20AND%20a%3A%22microprofile%22 or if that is the future direction https://github.com/eclipse/microprofile-parent) should be used in upcoming versions.

Allowing to coordinate the versions of Java EE/mandatory dependencies (like JSON-P, JAX-RS or CDI) and common libraries like Arquilli

[2018-03-23 14:54] starksm64 opened #74 "Clarify the interaction between @RolesAllowed, @DenyAll, @PermitAll"
We don't explicitly define the precedence and interaction between these annotations, especially when combined at class and method level. We also don't mention the use of @DenyAll, @PermitAll. This needs to be clarified in the spec.

[2018-03-23 18:55] rdebusscher commented on #72
As it is just used in the TCK, and thus every implementation can use whatever library it wants, what is the point in changing it then (except when the quality isn't good enough)

[2018-03-23 18:56] rdebusscher commented on #70
I agree that it is much more clear when you have additional attributes.
But MicroProfile isn't based on EL spec and thus not able to use EL Expressions.

[2018-03-23 19:09] arjantijms commented on #70
True, but MicroProfile's base is not set in stone (or "wat niet is kan nog komen" ;)), and EL is easy enough to add. Even as an optional dependency; if EL isn't present then expressions can't be evaluated, but otherwise everything would just work.

[2018-03-23 19:26] keilw commented on #72
It would reduce the overhead of multiple different JSON libraries, but it is not such a huge priority compared to getting the Parent POM in line so this TCK and others behave more consistently.

[2018-03-24 04:49] starksm64 commented on #73
The microprofile-parent pom project has not been released yet, so I asked about releasing it:
https://groups.google.com/forum/#!topic/microprofile/qSa138km2-Y

[2018-03-24 05:26] #61 closed

[2018-03-24 12:25] keilw commented on #73
The POM formerly known as BOM is available: http://search.maven.org/#artifactdetails%7Corg.eclipse.microprofile%7Cmicroprofile%7C1.3%7Cpom but it seems like a misunderstood BOM that only makes sense for e.g. the MicroProfile samples at Eclipse. So hope the real Parent POM is out soon and a proper BOM as well.

[2018-03-27 20:16] starksm64 commented on #62
Discussion on initial work is here:
https://groups.google.com/forum/#!topic/microprofile/LPe7N5CZqtE

[2018-03-27 20:22] starksm64 commented on #55
MP-JWT 1.1 will align with the MP 1.4 release which is due in just under 6 weeks, May 8.

[2018-03-28 02:14] starksm64 commented on #55
Discussion thread:
https://groups.google.com/forum/#!topic/microprofile/M4Nt7UGRnDI

[2018-03-29 13:17] mkouba commented on #72
By the way, `nimbus-jose-jwt` is using Maven version ranges and if I clone the repo and run `mvn clean install` I get:

I'm not sure if there's something wrong with my local config though...

[2018-03-29 13:20] heiko-braun commented on #72
@mkouba I encountered the same issue. I think if we bring in a dep into an eclipse project it would be to avoid this. Unfortunately the only way to handle seems to changes to the nimbus-jose-jwt project itself.

[2018-03-29 13:27] mkouba opened #77 "TCK: RolesAllowedTest only tests sub-resource methods"
I.e. only methods annotated with `@Path`. However, in JAX-RS _"Resource methods are methods of a resource class annotated with a request method designator"_ (e.g. `@GET`). So `@RolesAllowed` should probably also work for the following resource method:

[code]

[2018-03-29 14:15] rdebusscher commented on #72
You can fix the version of nimbus-jose-jwt by defining it within the
dependency management section of Maven

But it is indeed an issue that nimbus-jose-jwt works with ranges.

On 29 March 2018 at 15:20, Heiko Braun <notifications@github.com> wrote:

[2018-03-30 03:12] starksm64 opened #78 "Look into common CSRF configuration and behaviors"
With the introduction of a standard cookie for the storage of the MP-JWT token, it is natural to consider what standardization around configuration and behavior related to protecting against CSRF type exploits would make sense in Microprofile. Since we don't have time to consider the details for the 1.1 release, this issue will track the effort for the 2.0 release.

[2018-04-06 01:56] #68 closed

[2018-04-07 09:04] OndrejM opened #80 "Specify whether JAX-RS application class has to be CDI bean to support injection"
I tested injection of `JsonWebToken` with Payara Server and I found out that it only works there if the JAX-RS application class (annotated with `@ApplicationPath`) is a CDI bean. If bean discovery is "annotated" and not "all", it has to have a scope annotation to define it as a CDI bean.

I didn't find this requirement nowhere - not in the spec document and also nothing in the javadoc for `LoginC

[2018-04-09 17:50] smillidge commented on #80
Isn't this a JAX-RS issue. JAX-RS annotations aren't bean defining.
Raise the issue on the JAX-RS spec on EE4J as well.

[2018-04-10 07:55] Ladicek commented on #74
I think the behavior of these annotations should mirror the EJB security behavior as closely as possible. That is, only one of them can be used on the class level and on the method level (if not, it's an error), and if there is an annotation both on the method and on the class, the method one takes precedence.

[2018-04-10 09:05] Ladicek opened #81 "declarative security on JAX-RS resources is unspecified"
The MP JWT spec refers to some of the security annotations (`@DenyAll` and `@RolesAllowed`) a couple of times, in a way that implies that these annotations can be used for achieving declarative security on JAX-RS resources. However, that is totally unspecified, both in JAX-RS itself and MP JWT.

I believe this needs to be specified somewhere. Not sure where exactly, but my understanding is that ev

[2018-04-10 09:06] Ladicek commented on #81
Here's a consequence of this being unspecified: the WildFly Swarm MP JWT fraction implements declarative security by translation to `<security-constraint>`s in `web.xml`. That, however, can't possibly cover all of JAX-RS: https://issues.jboss.org/browse/SWARM-1955

[2018-04-10 09:08] Ladicek commented on #81
CC @starksm64

[2018-04-10 09:09] Ladicek commented on #81
Probably related to #74

[2018-04-12 02:24] starksm64 commented on #35
After discussing this, the use of the ITokenParser is an implementation issue in the TCK that is redundantly covered by other JAX-RS based tests. The original motivation for having tests that validated an implementation's parsing of the MP-JWT token was to allow for isolation of that testing. Since there is no real user oriented usecase for parsing the MP-JWT token, we are going to drop this issue

[2018-04-12 02:24] #35 closed

[2018-04-12 03:01] starksm64 commented on #81
Right, #74 is the task that was to clarify this underspecified extension of the security annotations to JAX-RS endpoints.

[2018-04-12 03:01] #81 closed

[2018-04-12 03:06] starksm64 commented on #71
So this appears to have been overlooked in my testing as the RestEasy JAX-RS client library handles the existence of double slashes transparently. The tests should just be updated to avoid the extra slash.

[2018-04-12 07:05] Ladicek commented on #81
The title and description of #74 are quite narrow, but if the intent is cover all of declarative security, then we're on the same page :-)

[2018-04-23 21:52] rmannibucau commented on #32
Should pby be binding since it allows a faster runtime without workaround and request scope constraint is random for these beans and should be removed which is backward compat.

[2018-04-24 08:00] rmannibucau commented on #45
+1 to support AppScoped injection of claimvalues - otherwise the api is useless by itself and user will need to take care himself to write a wrapper for its JWT to have the right scope without bad performances.

[2018-04-24 08:00] rmannibucau commented on #57
Would be great to not directly depend on JSR 375, current spec is light and efficient whereas JSR 375 is already quite heavy for end users.

[2018-04-24 08:01] rmannibucau opened #88 "release 1.1"
Current master has several fixes compared to last release, would it be possible to have a final version of it?

Thanks,
Romain

[2018-04-24 12:19] DennisBayer opened #89 "[help wanted] Securing an endpoint using Wildfly-Swarm, Keycloak and MP-JWT-Auth"
Hi there,

I hope this is the right place to raise my question. Currently I am having some problems to get my example working. The authentication works fine, but the authorization fails, because the roles are omitted during the request.

Thus it's mostly easier to have a reproducible example than writing a wall of text, I created a [project](https://github.com/DennisBayer/playground-mp-jwt-auth/).

[2018-04-26 10:27] OndrejM commented on #89
Hi,

According to the logs you seem to get roles passed from the JWT token but not propagated through keycloak. This is an implementation detail and in regards to the MicroProfile specification you are probably doing all things correctly.

Better ask KeyCloak or Wildfly Swarm maintainers what may be wrong in your setup.

[2018-04-27 14:14] starksm64 commented on #89
I know that Keycloak was not following the MP-JWT format for the token, and I had created an issue to provide support for that.

[2018-04-27 14:29] jeanouii commented on #60
Looks like it is all fixed now. Sorry for the noise. Can be close now

[2018-04-27 14:29] #60 closed

[2018-04-27 19:27] DennisBayer commented on #89
Hi @starksm64 ,

are you referring to the missing upn and group node? I think I stumbled over your issue. Someone mentioned that mappers could to the job atm. Therefore I added two mappers within keycloak to add both. See https://github.com/DennisBayer/playground-mp-jwt-auth/#example. So the format of my used token should be ok?!

Or do you assume that `org.keycloak.adapters.wildfly.WildflyRequest

[2018-05-16 05:39] rmannibucau commented on #88
up?

[2018-05-16 05:46] rmannibucau opened #92 "Drop or rephrase "When there are multiple JSON Web Keys (JWK) in the JSON Web Key Set (JWKS), the `kid` field is required in each JWK and incoming JWT being authenticated." requirement"
Rational is that it requires either a more precised definition or it can't be done.

1. Concretely the backend can not know there are multiple keys (mp-config doesn't give that info for instance or any key based backend) so it would require another flag to say "fail on missing kid"
2. It is fine to support a default kid (in particular for backward compatibility)

So the goal is fine but requires a

[2018-05-16 05:50] rmannibucau commented on #70
+1 to JL's proposal, @LoginConfig can be on any CDI bean technically and it makes sense
-1 to define a @JwtAuthenticationDefinition (based on the EE pattern), all the config is about environment configuration and must rely - for consistency - on MP-config so no real point allowing to hardcode it for now IMHO. Proposal also enforces some EL (or EL) dependency which is not the case today which is sa

[2018-05-16 06:57] struberg commented on #45
+1 as well. Actually it should be possible to inject it almost everywhere. We have CDI NormalScoping proxies to deal with invariances.

[2018-05-16 09:02] DennisBayer commented on #89
Hi there,

I did some debugging and might have found the issue. It seems that the keycloak logic has some issues with passing the roles (I added an update to the project readme).

If this is the cause this issue could be closed.

Does anybody here know some contacts in the keycloak project to poke someone since https://issues.jboss.org/browse/KEYCLOAK-7309 did not any attention so far? ;)

Regards

[2018-05-16 10:45] arjantijms commented on #70
I think it's probably not bad to align with EE. MicroProfile should eventually be merged with Jakarta EE (as a profile of it) and already the idea is that MicroProfile APIs work together with EE APIs.

MicroProfile is not a completely different build from scratch ecosystem, but already heavily leans on EE. To willingly go into different directions where there's no need makes little sense to me.

`

[2018-05-16 10:57] rmannibucau commented on #70
Ok, so I join you on the fact @LoginConfig is useless. What about just @Deprecated it and just not use it at all? If the server is configured to use jwt-auth then set it up, else ignore it. That's enough and solves all issues.

[2018-05-16 17:37] starksm64 commented on #74
Added a "Using the Common Security Annotations for the Java Platform" section that clarifies that this behavior should be as described in section 2.12 "PermitAll, DenyAll and RolesAllowed
interactions" of the JSR-250 spec.

[2018-05-16 17:37] #74 closed

[2018-05-16 17:38] starksm64 commented on #88
In progress, will get RC 1.1 out today.

[2018-05-16 19:14] Ladicek commented on #74
I can't find a commit with this change, so I figured I'd rather ask: could/should we also mention sections 2.9, 2.10 and 2.11? Because otherwise we don't define the intended behavior at all.

[2018-05-16 19:20] starksm64 commented on #55
Added a "Recommendations for Cookies" section

[2018-05-16 19:20] #55 closed

[2018-05-17 00:31] #51 closed

[2018-05-17 01:37] #71 closed

[2018-05-17 01:38] starksm64 commented on #62
The spec and tests have been updated with support for configuring the signer and optional issuer.

[2018-05-17 01:38] #62 closed

[2018-05-17 02:49] #50 closed

[2018-05-17 15:36] jeanouii opened #93 "Allow for custom authorization header and scheme"
It is very common to use `Authorization` header with `Bearer` scheme.
But there must be more than one JWT and therefor it would be useful to make this configurable even if they default to `Authorization` header and `Bearer` scheme.

As discussed together, this won't go into this release but we should address this issue later.

[2018-05-19 07:48] rmannibucau commented on #88
Any news? Is there some issues or just the classical time one ;)?

[2018-05-24 21:52] arjantijms commented on #45
Another mention of this issue: https://github.com/payara/Payara/issues/2742#issuecomment-391673838

[2018-05-30 14:27] jeanouii opened #94 "Introduce mapping for claims"
After creating a MP-JWT implementation in TomEE, I have done a small demo application using it so I could go and speed at conferences.

I found 2 things quite painful
- the 'aud' which is required and I'm not quite sure why
- the 'sub' which is also required.

Though I would be interesting in having details about why the 'aud' is required, I'd like to discuss here about the 'sub'.

The 'sub' claim

[2018-05-30 19:33] starksm64 commented on #94
The potential difficulty will be with the scope of the mapping. Is it global, or does it need to be keyed off of some other claim like iss, or even a hash of the signer public key. Meaning, are there multiple MP-JWT issuers being seen in a given runtime implementation, or can the runtime microservices be reliably partitioned based on the MP-JWT issuer.

[2018-06-06 11:49] rmannibucau opened #95 "Add OSGi metadata to API jar"
At geronimo we have a set of OSGi users and to fulfill all their requirements the API jar should support OSGi metadata.

It is mainly about providing the following metadata:

1. OSGi java contract (https://www.osgi.org/portable-java-contract-definitions/, example available at https://github.com/apache/geronimo-specs/commit/6718be8f735b0c50f0dc9b89da89c230b55cf166#diff-f75c44c910ca254b2b6eb71dee8a1

[2018-06-06 14:17] rotty3000 commented on #95
I wish for this proposal to become a general practice for all MP APIs.

There is a long tradition of Java API repackaging for use in OSGi. This has lead not only to multiple disparate repackaging efforts but to outright forks in some cases (as was the need in Geronimo as shown above, but also in many others.)

The above suggestion uses OSGi specifications which are the culmination of years of anal

[2018-06-14 07:02] DennisBayer commented on #89
The patch I created was merged into the adapter (https://github.com/keycloak/keycloak/pull/5222)

Greetings!

[2018-06-14 07:02] #89 closed

[2018-06-14 14:20] starksm64 commented on #88
Put out on June 1 2018

[2018-06-14 14:20] #88 closed

[2018-07-18 08:12] doychin opened #98 "There are some typos or repated words in the spec docs"
I found some repeated words and small typos in the documentation. Details are in the PR #97

[2018-08-02 14:26] ivanjunckes opened #100 "Long or JsonValue"
Hey guys I have an implementation question. What should be returned when we do:

jwt.getClaim("customClaimLong");

Should it be a Long or a JsonValue? It makes more sense to me to be a Long as we are in Java and all the other claims for the Claims Enum return the long wrapper.

[2018-08-02 14:28] ivanjunckes opened #101 "Enum injection"
Hi guys,

These are the supported values:
java.lang.String
• java.lang.Long
• java.lang.Boolean
• java.util.Set<java.lang.String>
• javax.json.JsonValue.TRUE/FALSE
• javax.json.JsonString
• javax.json.JsonNumber
• javax.json.JsonArray
• javax.json.JsonObject

Shouldn't we also support Enum classes? Strings could be transformed to a Enum using valueOf if the injection point is an Enum class.

What

[2018-08-02 20:01] dblevins commented on #101
We should have identical conversion capabilities as the Config API.  Last I checked they were something like the following:

 - `public TheType(String)` produce an instance using public string constructor on the type itself.
 - `public static TheType parse(String)` produce an instance using a static factory on the type itself.

There's an order of precedence and if I recall correctly at least one

[2018-08-06 20:06] cghislai commented on #70
I second the drop of LoginConfig and the addition of a JWT config annotation, similar to the others already present in the security api. Configuration could be set/overriden using the mp-config api, similar to what they did for the fault tolerance annotations (https://github.com/eclipse/microprofile-fault-tolerance/blob/master/spec/src/main/asciidoc/configuration.asciidoc)

[2018-08-08 09:15] cghislai commented on #63
According to https://tools.ietf.org/html/rfc7519#section-4.1.3, it is not: `Use of this claim is OPTIONAL.`, however processors must identify themselves in this claim if it is present.
It would be nice indeed to be able configure the container with accepted values, possibly with wildcards/regexp.

[2018-08-09 15:06] starksm64 commented on #101
I think this makes sense.

[2018-08-09 15:08] starksm64 commented on #100
I think how we define the behavior is that non-standard claims should be the underlying JsonValue type as these are just direct mappings from the payload.

[2018-08-09 15:10] starksm64 commented on #95
Agreed, we were just following what other MP projects were doing, so we must not have enough in general, or have fallen behind.

[2018-08-09 15:16] starksm64 commented on #94
Is there a Map<String, String> capability in MP Config? That would make this relatively easy to do. Otherwise, I guess we could just use a property prefix that allowed us to build this up from a set of properties.

[2018-08-09 15:17] starksm64 commented on #94
Let's get some usecases added so that we can start some TCK tests.

[2018-08-09 15:18] starksm64 commented on #80
This really is an architecture group issue, and it did come up in the last meeting. We need to update our umbrella spec to define this usage.

[2018-08-09 15:22] starksm64 commented on #58
JWK and headers need to be looked at.

[2018-08-10 07:57] rmannibucau commented on #95
@rotty3000 are you able to help and do a PR to fix this one and then we can propose it as a general solution for MP?

[2018-08-14 14:15] rotty3000 commented on #95
I will do that in the coming weeks.

[2018-08-16 12:30] jGauravGupta commented on #68
Hi @starksm64,
`@Inject java.security.Principal` always returns weld proxy object which is not instance of `JsonWebToken`. But this test validates injected instance for `JsonWebToken`

[2018-08-17 14:08] arjantijms commented on #80
Shouldn't the title reflect that this question is not so much about injection in JAX-RS resources, but as per Ondrej's comment whether the authentication mechanism definition annotation (`@LoginConfig`) should be discovered on CDI beans only, or an all classes.

[2018-08-17 14:48] arjantijms commented on #100
@starksm64 perhaps an idea, but for a next version of JWT it might make sense to remove all the conversion and mapping requirements from the JWT spec, and delegate that all to a potential MP Conversion Spec?

[2018-08-21 15:29] arjantijms opened #103 "Impossible test in JWT 1.1 TCK"
The JWT TCK contains the following test:

https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/PrincipalInjectionEndpoint.java#L58

This is however impossible to pass in general. `Principal` is a proxy, and in CDI the only guarantee you have is that the proxy implements the type of the injection point.

In other words, you

[2018-08-21 16:32] chunlongliang-ibm opened #104 "Invalid MP-JWT TCK test cases"
1. The test org.eclipse.microprofile.jwt.tck.config.IssValidationFailTest checks for a property that is no longer part of the spec  mp.jwt.verify.requireiss=false.

2. The test org.eclipse.microprofile.jwt.tck.config.PublicKeyAsPEMTest  uses a Pem key without the required ---BEGIN--- , which is not in PKCS#8 PEM key format

3. The tests PublicKeyAsJWKLocationURLTest and PublicKeyAsPEMLocationURLTe

[2018-08-21 21:26] Emily-Jiang commented on #103
Proxy is a subclass. Why cannot the instanceof be done on the proxy? By the way, you need to provide an alternative Principal bean other than the in-built Principal.

[2018-08-22 00:06] arjantijms commented on #103
Because in CDI there's no guarantee on what the actual class of the proxy is. The only guarantee is that it is the type that the injection target has. This is a well known "problem" (some would say it's by design) in CDI.

See https://issues.jboss.org/browse/CDI-10 and more directly https://issues.jboss.org/browse/CDI-597

I'm not sure that is needed. Where would it say that?

If you set the princ

[2018-08-22 00:09] arjantijms commented on #104
See also this PR https://github.com/eclipse/microprofile-jwt-auth/pull/102

[2018-08-22 09:04] arjantijms commented on #103
@Emily-Jiang just to be sure the @Injected `Principal` by CDI, is the `JsonWebToken`. If you would add a bunch of methods to it that `getName()` would call, then these would be called correctly on the injected principal. You just can't cast it.

You can cast the `Principal` returned from an injected `SecurityContect` to `JsonWebToken`.

[2018-08-22 16:09] starksm64 commented on #104
What I had to do was to replace the CDI java.security.Principal bean implementation for this to work with the Weld/WildflySwarm(now Thorntail) implementation. If this is not a generally applicable approach, we can just have the test validate that the Principal#getName() value maps to what is expected based on the underlying JWT. I see in the PR that the injection is being changed to a SecurityCont

[2018-08-22 17:30] arjantijms commented on #104
@starksm64 I agree that for this specific test it's indeed not the best approach to inject a security context and test that. The test should indeed test for the injection of Principal directly.

I think it does reveal the need for two tests:

1. Testing that injection of Principal works, and that it has the correct name.
2. Testing that the Principal obtained from SecurityContext can be downcasted

[2018-08-22 19:44] starksm64 commented on #104
@arjantijms, sorry I meant for that comment to be on your #103 issue, but yes, the principal replacement should be local to the war, but I did not test for side effects. What your proposing for the split of the test into two is what I'll do when I merge the #102 PR.

[2018-08-22 20:30] starksm64 commented on #104
@chunlongliang-ibm, on your 5) issue, those are the 1.0 tests that were not updated to include mp config properties as a test of allowing vendor specific settings to work as they did in 1.0. The expectation was that if a test war did not contain a META-INF/microprofile-config.properties resource, the vendor test harness adaptor would setup the application deployment as it did for the 1.0 TCK. This

[2018-08-22 20:31] starksm64 commented on #104
@chunlongliang-ibm, on your 4) issue, that was an artifact from when we were discussing that as a supported URL scheme to support, but this does need to be reverted.

[2018-08-22 20:51] arjantijms commented on #104
@starksm64

No problems, I understood that ;)

I took a look at this, but it looks troublesome:

https://github.com/thorntail/thorntail/blob/master/fractions/microprofile/microprofile-jwt/src/main/java/org/wildfly/swarm/microprofile/jwtauth/deployment/auth/cdi/PrincipalProducer.java

[code]

What you're doing here is returning a dependent scoped instance, i.e. an instance without a proxy.

This in

[2018-08-23 14:50] arjantijms commented on #104
@starksm64

Looking a bit more at the repo, I see there's actually an (Undertow) authentication mechanism being used that "officially" installs the principal:

https://github.com/thorntail/thorntail/blob/master/fractions/microprofile/microprofile-jwt/src/main/java/org/wildfly/swarm/microprofile/jwtauth/deployment/auth/JWTAuthMechanism.java#L84

I must have been confused with SmallRye then, where t

[2018-08-23 15:14] Emily-Jiang commented on #103
@arjantijms yes, what you said is the mandated by the spec. Principal you get will be JsonWebToken.

[2018-08-23 18:30] brutif commented on #104
@starksm64
regarding item 3, the tests need something like this:
[code]

[2018-08-23 20:37] brutif commented on #104
@starksm64
update on above, - Now that I think about it, System.getProperty is probably better, as java can't do setenv on the fly.

[2018-08-26 20:12] starksm64 commented on #103
The test has been updated to validate that the Principal name matches rather than being castable, and that SecurityContext#getUserPrincipal does cast to JsonWebToken.

[2018-08-26 20:12] #103 closed

[2018-08-27 04:27] starksm64 commented on #104
I have merged fixes/updates for all of these issues. I'll look to do a 1.1.1-RC1 release early this week so these can be tested.

[2018-08-27 04:29] starksm64 commented on #98
Thanks, the PR has been merged.

[2018-08-27 04:29] #98 closed

[2018-08-27 20:51] brutif commented on #104
@starksm64 Thanks for the quick updates!    I tried the new updates today and saw just a couple of minor things
- the test jar isn't picking up the new util package
- the test jar says v1.2
- publicKeyAsPEMLocationURLTest#114 still has hardcoded URL.

[2018-08-28 20:27] chunlongliang-ibm opened #107 "MP-JWT configuration property name with dot (.)"
MP-JWT configuration property name contains dot (.), like mp.jwt.verify.publickey.location. However, you can not define mp.jwt.verify.publickey.location as environment variable in some OS, for example Ubuntu. See https://unix.stackexchange.com/questions/93532/exporting-a-variable-with-dot-in-it

We should consider to change the naming convention in the future, and/or update spec to exclude the use

[2018-08-30 16:34] rotty3000 commented on #95
All, I've sent the following PR https://github.com/eclipse/microprofile-jwt-auth/pull/108 (note I've done this for all official microprofile projects). Thoughts welcome.

[2018-08-31 09:23] Emily-Jiang opened #109 "MP JWT to produce Json Web Token"
At the moment, different vendors choose different ways to produce Json Web Tokens,. It does not help with app's portability (contradicts with MP's portability mission). Should we define a common way to generate Json Web Token and maybe make MP as a token issuer?

[2018-09-06 15:36] Emily-Jiang commented on #109
Talked this on today's hangout. MP JWT can create a factory to abstract the Token creation layer and then microservice developer can just call the factory to get a JSON web token. This is a great abstract layer to hide the internal differences among different vendors to make microservices portable.

[2018-10-11 15:56] dblevins opened #112 "Support for Compressed JWTs"
JWTs with either Cookie-like data or many user roles can get quite large.  There are well established pattern for compressing the body and including that hint in the header:

 - https://tools.ietf.org/html/draft-ietf-jose-json-web-encryption-40#section-4.1.3

[2018-10-11 17:46] dblevins opened #113 "Fine-grained rules for authentication and authorization"
Current rules of MicroProfile-JWT is that when MP-JWT is enabled, all of the application requires a JWT for requests to be successful.  It should be possible to allow specific parts (endpoints or paths) of the application to not require a JWT.

While use of javax.annotation.security.PermitAll seems the most obvious, consider this usecase:

    @Path
    @RolesAllowed("artist")
    public ColorsEnd

[2018-10-11 18:37] dblevins opened #114 "Expand conversion types to include string constructor and static factory"
Our ability to convert Claims from strings to specific data types should be expanded to reach the same level of functionality found in JAX-RS or Config API.  Specifically, java types that have a public constructor that accept a string should be supported, as should java types that have a static factory method that accepts string as an argument and returns an instance of that type.

[2018-10-15 12:35] sberyozkin commented on #58
You are right, but it will mean the private keys manages by the AS will have to be exported into all of RS. Which is probably a key management challenge, though yes, out of scope for MP-JWT :-)

[2018-10-15 12:38] sberyozkin commented on #112
Hi David, that only applies to JWE. Perhaps it should be managed at the pure HTTP level with GZIP, etc

[2018-10-15 12:39] sberyozkin commented on #109
Hi, but tokens are issued by the authorization servers ?

[2018-10-18 21:18] chunlongliang-ibm opened #115 "Configuration support for multiple token issuers"
In trusted servers to server (n to 1) communications, the initiators can self-issue JWT to impersonate and vouch users. Each initiating server can be considered as a token issuer with its own signing key. The Microservice provider (token recipient) need configuration options to resolve the corresponding signature verification key for the issuer identified in JWT payload. We need somehow to support

[2018-11-15 16:14] tomas-langer opened #116 "TCK Challenge: PrimitiveInjectionTest not according to spec"
The spec clearly lists the supported types for injection in section 7.1.2.
The supported types are:
[code]
There is no mention of support for primitive types (in the whole spec document).
Yet the PrimitiveInjectionTest explicitly tests that the implementation support injection into a primitive type "long".

The TCK test is not according to the specification and as such it should be removed.

[2018-11-15 16:14] tomas-langer commented on #116
Version used: 1.1.1

[2018-11-16 11:30] tomas-langer opened #117 "TCK Challenge: ClaimValueInjectionTest and ProviderInjectionTest not according to spec"
According to specification section 4.3:
[code]
Yet the tests mentioned above break this requirement. Class `ClaimValueInjectionEndpoint` contains the following section:
[code]

Both are breaking the specification. There is a mention that "Optional<Long>" may get an Optional.empty() if the claim is not present (regardless of its possible types).
This is a strange note, as the "custom-missing" claim

[2018-11-16 11:40] tomas-langer opened #118 "TCK Challenge: Tests using URL location make a too restrictive assumption"
Tests
1. PublicKeyAsPEMLocationURLTest
2. PublicKeyAsJWKLocationURLTest
Make an assumption that the application is deployed at the time the JWT handling is configured.
If an implementation configures the JWT Auth handling at startup (as we do) and the key is not available at that time, the startup fails and the application never gets deployed.
The specification does not define WHEN the URL should

[2018-11-21 17:41] radcortez commented on #118
+1

[2018-11-23 16:20] arjantijms commented on #100
It's been a few months later now when I last proposed a convertor spec. Wonder how people think about it now.

[2018-12-04 15:21] sberyozkin commented on #70
I would be cautious about deprecating LoginConfig.
The reason is that the only login type which is supported now is MP-JWT. This does not layer with the existing deployments where the tokens are issued by OpenId Connect providers and the JAX-RS endpoint RPs are already protected by those provider adapters with the provider-specific configurations.
For example, if Keycloak issues a token, it will b

[2018-12-04 16:15] rmannibucau commented on #70
Hmm, is it right? I mean security mecanism will wrap themselves (you can see it as the plain old servlet filter chain but at principal level) so the one able to handle it will and there is still no need to have @LoginConfig on user land, no?

[2018-12-06 13:21] sberyozkin commented on #70
Romain, I don't understand what exactly are you questioning in my comment. I have tried to advocate that activating MP JWT with a non-default login type value should be possible for the reasons outlined above. IMHO it will make MP JWT more deployable.

Typical line could be "if you switch from a Keycloak/etc specific code to access the token in your service code to MP-JWT API then it will make you

[2018-12-06 13:29] sberyozkin commented on #70
@rmannibucau Have you really read what I've suggested ? I would like to access the tokens coming from Keycloak into my (JAX-RS) service code with MP-JWT API as opposed with Keycloak specific API. I don't need MP-JWT to activate Keycloak, I only need it to ensure the token access code is portable

[2018-12-06 13:38] sberyozkin commented on #70
@rmannibucau Though may be it is me who did not read your note carefully :-). However, it might not be realistic to implement what you are suggesting - by the time the servlet filter is hit it should already be secured.

[2018-12-06 13:48] rmannibucau commented on #70
@sberyozkin hmm, the security is done through a filter - or equivalent like a valve in tomcat or so - so you can always combine the MP-JWT one with another one to make what you describe with keycloak, i see no blocker to have it already, even without this annotation. This is even better cause it increases the decoupling between the security and the business code (which is not the case with this an

[2018-12-06 22:14] sberyozkin commented on #70
Romain, many thanks for the feedback, I thought about what you said... I'll need to experiment, cheers

[2018-12-07 16:10] radcortez commented on #118
My understanding on the spec is that the first load / key validation needs to happen at deploy time. From the spec:

_MicroProfile JWT implementations are required to throw a `DeploymentException` if the JWK
`kty` field is missing or JSON text is found, but does not follow either JWK or JWKS
format._

It doesn't make sense to throw a DeploymentException if you load the key after the application is

[2018-12-18 21:33] rmannibucau commented on #70
Doesnt deactivating the validations and implementing in a filter already works?

Will avoid to enrich mp-config genericly (dont think it will hit an annotation cause it is deployment related so config specific).

Alternative is to have a spi but it makes the lib quickly overcomplicated and therefore not used and reimplemented on need since this part is not crazy to do so personally i prefer to ens

[2018-12-19 20:42] sberyozkin commented on #70
I'm not sure I follow your line. It does not matter how a given MP-JWT implementation is done. But, it is important to recognize the fact that the existing configuration support is geared toward a 'local' token validation - which will work in some cases but will not in others, hence it would be good to support at the MP JWT level that this is one one, local, validation mechanism.
As I said, one ot

[2018-12-19 22:06] rmannibucau commented on #70
The point is that any toggable abstraction will likely make the spec complicated enough to use to be tempted to be bypassed by users. Since you can already add any validation and support any token - and multiple auth types, im not sure it is worth to take that risk *at spec level*, vendors can propose it and it would bring some user base to revise that in a year or so. All that does not need @Logi

[2018-12-20 12:38] sberyozkin commented on #70
I'm afraid you are missing the point I'm trying to make. The existing configuration can not handle various validation scenarios (I can expand again why - but I am not sure you will read) and servlet filters you are referring to is nothing to do with what I'm trying to say either.

[2018-12-20 12:49] sberyozkin commented on #115
Should it be supported instead by recognizing that the JWS headers may include X509 certs - since these impersonating servers are trusted ?

[2018-12-20 12:57] sberyozkin commented on #70
Only one more brief clarification re LoginConifg. Basically, I'm following Arjan's lead but I'm only suggesting to have one annotation that will activate MP-JWT subsystem, and another one - related to the validation configuration - that will easily enable the future versions of the specs to 1) support different validation requirements (ex - RFC7622) and other alternatives (ex 3rd party OIDC config

[2018-12-20 13:05] sberyozkin commented on #70
Oh, well :-), one more comment, sorry all. Romain, you said above " Since you can already add any validation and support any token"... - this is just not true that it can be done with the MP-JWT validation configuration and I'd challenge you to prove it otherwise (I'll be happy to offer you some test ideas).

[2018-12-20 13:46] rdebusscher commented on #70
I do not want to interfere with this discussion (as there is probably a good use case for multiple types of validation of the token), but basically, it comes to this (the discussion of the last 2 weeks o this issue)

Do we base ourself on Servlets or JAX-RS/CDI?

In light of that question, the answer is simple. We don't have servlets in MicroProfile. It was already discussed in the MP-JWT weekly h

[2018-12-20 13:49] rmannibucau commented on #70
@rdebusscher yes and no, if not integrated with servlet the servlet part of the TCK can't work portably on user side so the impl must be servlet related at the end - until you want to duplicate integrations without any gain. That said the same applies to JAX-RS filters so the point is exactly the same.

[2018-12-20 14:12] sberyozkin commented on #70
Hi Romain, of course you are right one can do it at the filter level (or at a pluggable validation factory leve) - this is something you clearly told me about earlier and yes, it works. But it is not what I'm after now :-). I spotted Arjan's proposal which introduces the annotation which has 2 aspects in it 1) MP-JWT activation and 2) MP-JWT validation configuration. So if such an annotation were

[2018-12-20 14:39] rmannibucau commented on #70
Yep. This issue is really about 1 and I really think we can drop the annotation, it doesn't bring anything. Now 2 is a real question, do we enable a default validator and put a config to switch it to something else - strictly speaking it is more a config than an annotation - at least overridable - cause it can depend where you deploy your app.

[2018-12-21 21:21] hrstoyanov commented on #109
I do need to create token out of an httt request, see https://github.com/OpenLiberty/open-liberty/issues/6087

[2018-12-23 01:18] hrstoyanov opened #120 "Is it possible to @Inject Optional<JsonWebToken> ?"
It would be really nice, if possible!

[2019-01-15 17:34] chunlongliang-ibm opened #121 "Add mpJwt audiences configuration property via mpConfig"
The audiences is a common claim in JWT. If JWT contains "aud", the recipient is required to verify the audiences. Current mpconfig have configurations to verify issuer and signature only, need address other verifiable claims.

[2019-03-03 23:57] tomas-langer opened #124 "Unclear expectations on secured endpoints"
When we implemented the specification, we assumed that when an application is annotated with `@LoginConfig`, the whole application is protected and each request should be authenticated.
When implementing the MP Starter project, it seems that other vendors chose the opposite - e.g. only endpoints that have `@RolesAllowed` annotation need authentication.
Unfortunately the TCK does not test either ap

[2019-03-11 15:40] sberyozkin commented on #109
@hrstoyanov but it is not about issuing the tokens. The token is either available in the HTTP request or not, if yes - it was either issued by the OIDC provider or self-issued by the client. I'd say your issue is more related to  #120.
For ex, issuing the tokens (access, id or refresh tokens), managing them as part of various SSO flows, etc, is all a complex process, which is not something  MP JWT

[2019-03-11 15:50] sberyozkin commented on #109
Though having a builder style API for generating the self-issued tokens as I believe implied by @Emily-Jiang may be a nice enhancement. I might give it a go and do a PR a bit later on

[2019-03-11 15:55] sberyozkin opened #125 "Introduce typed representations of common OIDC tokens"
It would be good to have IdToken and AccessToken types, possibly extending JsonWebToken and offering more specific methods relevant to these token types. This would make MP JWT easier/nicer to use as part of OpenIdConnect flows.

[2019-03-11 16:14] sberyozkin commented on #109
A bit of a challenge there is that JsonWebToken is, in case of MP JWT, an instance of JWS, and may also become an instance of JWE. That said this would be API should be as simple as possible, as opposed to becoming a complete JOSE builder API...have claim setters plus either the signing or encrypting (keys)

[2019-03-11 16:18] sberyozkin opened #126 "Support the cases where JWT token is not available in HTTP Authorization header"
For example, it can be bundled instead within the application payload - in which case the JAX-RS service code will manually submit it to MP-JWT to validate. It might also let MP-JWT be used with the non-HTTP protocols.

Another option is the token coming in the different HTTP header

[2019-03-11 17:46] hrstoyanov commented on #109
@sberyozkin
The question is why can't we do:
[code]

because the presence of JWT is optional in the request headers.

We can inject Optional config properties with MP-CONFIG, so why not the same for JWT?

[2019-03-13 23:34] starksm64 opened #127 "Spec needs clarification around injection of primitive types"
We just refer to RawTypes in section 7.1.2 but did not fully spell out the discussion around this we had here:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/microprofile/BTZw0TGVLY8/dYt7JPhxAgAJ

The types section needs to be more explicit about primitive types.

[2019-03-13 23:35] starksm64 commented on #116
This test was added after a discussion in the final discussion of the 1.0 spec here:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/microprofile/BTZw0TGVLY8/dYt7JPhxAgAJ

and this PR to define what RawTypes meant in section 7.1.2:
https://github.com/eclipse/microprofile-jwt-auth/pull/43

So RawTypes refers to the object and primitive types of the claim values. I have crea

[2019-03-13 23:47] starksm64 commented on #117
Yes, there is inconsistent handling of custom claim types when wrapped in a ClaimValue vs the raw type. ClaimValueInjectionEndpoint will need to be updated.

[2019-03-13 23:51] starksm64 commented on #118
Yes, agreed.

@radcortez Sure, create a PR to fix the test.

[2019-03-18 15:51] sberyozkin commented on #109
@hrstoyanov I'm not disagreeing with you :-), just saying IMHO this is not relevant to this specific issue

[2019-03-18 18:18] hrstoyanov commented on #109
@sberyozkin
Sorry then. I do remember filing #120 , not sure when it will be included int he MP JWT specs

[2019-03-31 08:01] IrminAuwerda commented on #115
I would also request the feature to allow for multiple issuers. The reason for my use case is slightly different.

Our services get accessed by several completely different user groups. They have different logins on different security realms, all resulting in a JWT. As such the issuer for each of these user groups is different (auth.xxx/auth/realms/realm-1 vs auth.xxx/auth/realms/realm-2). Some us

[2019-04-03 22:06] chunlongliang-ibm opened #128 "Need better clarify the Minimum MP-JWT Required Claims"
MP-JWT defines a set of "Minimum MP-JWT Required Claims". But it does not explicitly specify what is the "required" means. Do we mean JWT must contain all claims? or MicroService must support this set of claims if they are included in JWT?  Maybe we should clarify which claims must be included, and which claim must be supported?
For example, if user does not belong to any group, do we want to acce

[2019-04-12 14:23] sberyozkin opened #129 "Requiring the 'groups' claims is too restrictive"
I have just seen a user reporting that the MP-JWT runtime fails to validate Auth0 tokens. I think it is a major barrier to the wider adoption of MP JWT given that many popular OIDC providers will not be able to include the `groups`claim.
IMHO the 'group' claim should be treated somehow similarly to the (required) `upn` claim. For example, one option could be for the MP JWT implementation to defaul

[2019-04-12 20:03] crivera commented on #129
I like this idea.

In the properties file we define what the auth mechanism is:

`quarkus.smallrye-jwt.auth-mechanism: MP-JWT`

Maybe we could have a second one which is just regular JWT which would support Auth0 & Firebase Auth.

[2019-04-16 10:34] sberyozkin commented on #129
Thanks... `MP-JWT`is just a trigger for the MP-JWT implementations. The token can be coming from anywhere, self-issued or provider-issued, so the spec might require some minor adjustments to recommend what should be done if a `groups' claim is missing to ensure a given MP-JWT implementation can still get the current token accepted

[2019-04-20 06:42] masini commented on #126
Another use case is the use of httpOnly cookie to communicate in a safer way from a JavaScript public client and the Resource Server.

[2019-04-25 14:15] chunlongliang-ibm commented on #126
If JWT is too big, it may not fit into one header, I do see case that token is send in two headers.

[2019-05-03 11:27] readonlynetwork opened #130 "Custom JWT verifier"
Is it possible to use custom JWT verifier (in Thorntail or others)?
Example.: I would like to use Elliptic Curve (EC256 in doc) instead of RS256 with additional content (public key, like self signed cert where public key is the ID)

[2019-05-12 07:16] ospringauf commented on #129
+1 ... the `groups` claim gives me a major headache. Our OpenID provider has no access to fine-grained application/business roles and cannot provide them in the ID token. Therefore, it is currently incompatible with MP-JWT.
It would be great to have a default behavior for missing `groups` defined in the MP-JWT spec. Even better if we could plug in our own roles provider. I know I can do this with

[2019-05-20 11:07] sberyozkin commented on #129
We introduced a `smallrye.jwt.claims.groups` property which offers an optional default value if the token has no such a claim. We may generalize it to provide some other missing claims, example, `smallrye.jwt.claims.abc`.

So may be MP JWT can introduce a similar property, `mp.jwt.claims.groups` ?

[2019-05-20 11:13] sberyozkin commented on #130
@readonlynetwork is the JWS token sequence is all you would need or will you also require an access to the mutual TLS client cert (not sure what you meant by the the `publlic key is ID`)

[2019-05-21 04:58] readonlynetwork commented on #130
@sberyozkin I mean the principal name is generated from public key.

[2019-07-15 12:34] aerodc commented on #129
any updates on this?

[2019-07-26 11:41] MikeEdgar commented on #121
+1

This relates to smallrye/smallrye-jwt#110 and loosely to #63.

Suggested properties:
* Set/List of audiences -> `mp.jwt.verify.audiences`
* Whether the `aud` claim is required -> `mp.jwt.verify.requireaud`

As mentioned in the first comment, for the second property, it may be better to instead introduce a general property to allow specification of a list of required claims.

[2019-07-29 10:16] MikeEdgar commented on #121
I would suggest this issue be expanded to generally support claim verification in an extensible way. There was a great suggestion in the MP JWT 1.1 draft discussion proposing the following as a way to verify a particular claim:

And also a way to list the claims that are required:

Are there any thoughts on solving this audience configuration issue more broadly?

[2019-08-14 18:53] kenfinnigan opened #131 "Exclude EL API transitive dependency"
Explicitly exclude el-api from cdi-api dependency

See eclipse/microprofile#56

[2019-09-02 11:44] FreifeldRoyi opened #132 "Allow unverified JWT"
Hey,
Is it possible to allow unverified JWTs to be injected ?

Thnx
Royi

[2019-09-05 10:04] OndroMih opened #133 "Make dependency on servlet optional in TCK"
The JWT spec specifies interoperability with the Servlet container. This is covered by the `ServletTest` test. The problem is that this test fails when the runtime doesn't support servlets and thus this test should be optional.

We could introduce a test profile to be used by implementations that also support servlets. When this profile is activated (for implementations that support servlets), the

[2019-09-16 11:18] sberyozkin commented on #132
@FreifeldRoyi Hi, no, I don't think so. Well it depends on what the implementation you are working with. Why would you want to do it ?

[2019-09-18 05:56] FreifeldRoyi commented on #132
Hi =)
I'm working with Quarkus.. so... SmallRye JWT I guess, which (it seems) doesn't work when no public key is specified. I would like to skip the public key verification step and just inject the JWT.
To overcome this problem I just (un)Base64 it myself but that's a piece of code I wish I could just delete at some point.

[2019-09-18 06:41] rdebusscher commented on #132
It is a highly insecure practice to trust any value supplied through the JWT token when no verifications are made.
This means that anyone can just create a JWT token and use it against your service. You can use path, request or header parameters for your use case.

[2019-09-18 11:46] FreifeldRoyi commented on #132
@rdebusscher I agree. The JWT verification process is left for another service. The request can't "cascade" into the internal ecosystem if it is not verified by that service

[2019-09-21 13:17] MikeEdgar commented on #129
Another possible approach would be to update the spec to include a collision resistant namespace for the new claims introduced (i.e. `groups` and `upn`). For example, replace `groups` with `https://microprofile.io/jwt-auth/groups`, or something similar.

This would be in alignment with [RFC 7519, section 4.2](https://tools.ietf.org/html/rfc7519#section-4.2) and should be supported by Auth0, for ex

[2019-09-30 18:07] kenfinnigan opened #134 "Why does the TCK run tests that require EJBs?"
What's the reason for there being tests requiring a container to implement EJB functionality when it's not a requirement for MicroProfile?

[2019-09-30 18:33] rdebusscher commented on #134
I guess it has to do with the [Optional EJB container integration](https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/interoperability.asciidoc#recommendations-for-optional-container-integration) where a few requirements are defined for EJB container.

In the same section there is also mentioning about Servlet requirements although MP does not include servlets.

[2019-09-30 18:34] kenfinnigan commented on #134
If that's the case, then the tests for anything "optional" should be in a separate TCK module/artifact

[2019-10-06 22:46] kenfinnigan commented on #134
Going to close as there is a specific suite file to run them without EJBs

[2019-10-06 22:46] #134 closed

[2019-10-06 22:49] kenfinnigan opened #135 "Don't put `microprofile-config.properties` in META-INF"
Currently, there is a `microprofile-config.properties` file present within META-INF of the test module for the TCK.

This can cause issues as it's a valid location to be picked up on the classpath, and the test jar is needed to run the tests. It would be better if the file was in a different location and then added to the tests that require it present in the deployment

[2019-10-10 17:41] jclingan opened #136 "Javadoc warnings during MicroProfile 3.1 Release build"
The following Javadoc warnings were given during the [MicroProfile 3.1 release build](https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/258/console):

[INFO] [WARNING] /jobs/genie.microprofile/MicroProfile Releases/workspace/target/checkout/target/distro-javadoc-sources/microprofile-jwt-auth-api-1.1-sources/org/eclipse/microprofile/auth/LoginConfig.java:61: warning: no d

[2019-10-31 19:08] kenfinnigan opened #137 "Update to Jakarta EE8 APIs for MP 4.0 in Jun 2020"

[2019-11-07 21:04] FreifeldRoyi commented on #132
BTW, There are other jwt implementations that allow unverified access, e.g `pyjwt`

[2019-11-11 11:16] sberyozkin opened #140 "Introduce a maximum time to live property"
In order to restrict the tokens which have a very long time span

[2019-11-11 11:27] sberyozkin commented on #132
@FreifeldRoyi I'm not sure it can be supported at the MP-JWT level, I agree with @rdebusscher.
It is a custom verification where you'd like to replace the default MP-JWT one. Let me comment https://github.com/smallrye/smallrye-jwt/issues/144 with some smallrye-jwt specific suggestions

[2019-11-21 17:01] sberyozkin commented on #109
Hi All
I've started working on the API which I'm hoping to make available for the discussion and the team review in January 2020. Thanks.

[2019-12-09 17:56] benneq commented on #132
I have the need for unverified JWT, too. (using Quarkus + SmallRye JWT)

Reason: We have an API Gateway, that does the verification. And if the token is valid, it will forward the request to the corresponding Microservice. Though the Microservice shouldn't have to verify it again.

Maybe you could add some new Property like `mp.jwt.verify.enable=false` (default is `true`), to explicitly disable ve

[2019-12-12 13:52] rdebusscher commented on #132
And you are sure that the service can only be accessed from the API gateway only? That it is impossible to send a request to that service from any other location?

If not, you have a major security hole.

[2019-12-12 13:55] pilhuhn commented on #132
The scenario @benneq describes is not so uncommon apparently. I am in a similar situation.

[2019-12-12 14:34] Karm commented on #132
@pilhuhn @FreifeldRoyi  Why are you using JWT on that backend service then? Couldn't you pass on from the gateway only whatever data you need and proceed with that? (processing them manually in the service).  No need to use JWT at all if you don't need it IMHO.

I am looking at it from my TLS termination and client cert authentication POV.

 - client ID is baked into client certificate
 - httpd ve

[2019-12-12 15:15] benneq commented on #132
@rdebusscher You can achieve this pretty easily using Kubernetes or Docker with their internal network for inter-microservice-communication. And the only exposed port is 80, and this is routes straight to your gateway.

Or have you ever used Elasticsearch? It has no authentication at all. By default it only accepts requests from localhost, but can change that restriction to some specific IP or IP

[2019-12-12 15:26] rdebusscher commented on #132
Inside access is as important as outside access. But if you can guarantee it is ok.

Problem is that once you have such a possibility (not do the validation), users will start to misuse it.

[2019-12-12 15:39] benneq commented on #132
Is that really a concern? There's always a way to misuse software if you want to.

I can also write an endpoint with `@PermitAll` that exposes my private key, because I'm too lazy to setup an OAuth server for 3rd parties.

What I wanted to say: Security in a real application is no toy for unexperienced 12-year-old "devs".

But ... if you don't want to give us an easy way to allow unverified JWT, i

[2019-12-12 18:48] FreifeldRoyi commented on #132
@Karm I can think of a few valid use cases like _auditing_ or _storing for future use along with the data_ (which is also important for security).
A JWT is essentially a Base64 encoded JSON, and you already provide a way to parse it (and also do some verification).. I just need to inject it to my service without validation. As @benneq said, we're totally aware of the implications, but instead of u

[2019-12-13 07:29] ederks85 opened #141 "Milestone for MP 3.3 release"
As discussed in the MP Hangout at 12/10/2019, please create a Milestone for MP 3.3 that includes JWT Auth change for this release.

[2019-12-18 16:15] darranl opened #142 "Update minimum key size to 2014"
Section 9.2 of the specification states the required supported key sizes as: -

Section 4.1 states "alg" must be "RS256": -

However RFC7518 "JSON Web Algorithms (JWA)" specifically mandates a minimum key size of 2048: -

https://tools.ietf.org/html/rfc7518#section-3.3

I am raising this issue as I don't believe it would have been intentional to override the minimum supported key size.

[2019-12-18 16:51] sberyozkin commented on #109
It is in progress

[2019-12-18 16:54] sberyozkin commented on #58
I'm wiring the encryption support into the builder API I'm working upon

[2019-12-23 12:05] sberyozkin commented on #141
@ederks85 Can you please close this issue and update #137 instead ? Thanks

[2019-12-23 13:09] ederks85 commented on #141
Yes, this seems to be a duplicate.

[2019-12-24 15:52] ederks85 commented on #141
@sberyozkin I see the pull request but can you please create a Milestone that includes this change in order to satisfy https://github.com/eclipse/microprofile/issues/153? Thanks!

[2019-12-27 11:38] sberyozkin commented on #141
@ederks85 no problems, thanks...

[2020-01-09 09:29] darranl commented on #128
Just adding a +1 on this one as this has recently come up adding JWT support to the WildFly application server.

Within the spec of the "required" claims 'upn' is the one claim that has a description of how it is optional so if optional why listed with required claims?

Testing making the full set mandatory causes the TCK to fail so I believe at this stage even the TCK does not present the complet

[2020-01-09 19:29] kenfinnigan opened #144 "OSGi dependency in API should be "provided""

[2020-01-16 14:36] Emily-Jiang opened #145 "Propagate JWT token automatically"
MP JWT token is normally pushed as a http header. I think it makes sense to propagate this header to downstream microservices so that no manual push is required. MicroProfile Open Tracing can help with this. Thoughts?

[2020-01-16 14:38] kenfinnigan commented on #145
Isn't that handled by MP REST Client?

I don't think MP JWT can handle propagating itself to whatever might be called. Also, automatic propagation raises issues with passing security credentials when it shouldn't, as opposed to an "opt-in" approach

[2020-01-16 18:02] rdebusscher commented on #145
By defining a [ClientHeadersFactory](https://github.com/eclipse/microprofile-rest-client/blob/master/api/src/main/java/org/eclipse/microprofile/rest/client/ext/ClientHeadersFactory.java) this can be performed, so it can be defined with MP JWT spec itself.

But as Ken says, this should not be activated by default as the token can be used to authenticate during a call.

[2020-01-20 12:36] benneq commented on #132
There's a new infoQ talk by Netflix about how they do auth in they microservice landscape. And why they did change their former auth system. ( https://www.youtube.com/watch?v=eEZHZ806d6o )

**Short summary of the interesting parts:**
- There's an Edge Service (= Zuul API Gateway) that calls some service which is responsible for validating the auth Tokens coming from "the outside". (Minute 13:48)
-

[2020-01-20 13:01] sberyozkin commented on #145
The token propagation should be taken with some care and is out of scope for MP JWT IMHO. This is a realm of the token exchange protocol which has just been standardized at the RFC level, In general the direct propagation should be discouraged as it loses the original audience and possibly - scope claims

[2020-01-20 13:02] sberyozkin commented on #145
MP Context Propagation perhaps can help as well when it is deemed acceptable

[2020-01-21 07:13] rdebusscher commented on #132
How about the support for alg:none but only for injection of claims? So user from the call is still 'unauthenticated' (no valid SecurityContext.getUserPrincipal(), @RolesAllowed and isUserInRole() return always false, ...)

[2020-01-21 11:41] benneq commented on #132
@rdebusscher I think that's a bad idea.
If I made sure that the token is valid beforehand, then the user is authenticated.
The whole purpose behind this strategy is to access the claims and also use `@RolesAllowed` and any other authorization technique - but without re-validating a token that is already known to be valid.

[2020-01-21 18:44] sberyozkin commented on #109
I've asked our users to stress a bit the smallrye-jwt API, I'll start preparing a PR for the colleagues to review

[2020-01-21 18:50] sberyozkin commented on #109
Hi Emily @Emily-Jiang, basically the API I'll be submitting is structured around your idea, thank you :-). I hope it will be accepted well. It is not going as far as making MP JWT a fully fledged issuer as it will move it into a possibly out of scope territory. But what we can do is that when no issue claim is set by the user code, then the builder will default to something like `http://..../mpjwt

[2020-01-21 23:40] Emily-Jiang opened #146 "Enable semantic versioning plugin to version packages"
We need to semantic versioning packages correctly. Relying on eyeballing is not going to work. We need to get a tool to help us. I have done in the past for other spec but missed this one.

[2020-01-22 14:53] Emily-Jiang commented on #109
Thank you @sberyozkin for your update! I'm looking forward to seeing the PR!

[2020-01-22 14:55] Emily-Jiang commented on #145
I understand the potential risk of propagating the jwt token by default. If there is a way to opt in, it will be great.

[2020-01-27 15:51] #146 closed

[2020-01-30 12:15] sberyozkin commented on #142
@darranl Can you please provide a PR to the spec text dropping a requirement to support `1024` bits ? This change will not be a breaking one so would be good to go in the next release IMHO

[2020-01-30 12:26] sberyozkin commented on #133
@OndroMih Can you please consider a PR ? Having a profile seems like the simplest solution, though I believe it should be activated by default so that it would be up to the runtimes which don't support it to deactivate it

[2020-01-30 12:31] darranl commented on #142
Sure will do.

[2020-01-30 12:33] sberyozkin commented on #129
@MikeEdgar Not sure introducing the namespace would solve this issue though which is really about the implementations being effectively required to reject the tokens without the `groups` .
I suggest we make this claim optional as so many providers can't provide it which restricts MP JWT reach

[2020-01-30 12:46] sberyozkin commented on #128
Given the set of required claims at https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/interoperability.asciidoc, IMHO the following should be done:
- drop `kid` - it is not even a claim, and requiring the token providers to set a `kid` of the private key which may not be even in the JWK set is incorrect or may expose an internal key alias
- make `upn` optional - l

[2020-01-30 12:50] sberyozkin commented on #127
@starksm64 so it is just `long` and `boolean` we are talking about here, given the requirement to support `Long` and `Boolean` ?

[2020-01-30 12:51] sberyozkin commented on #125
I've opened this issue awhile back, going to close for now

[2020-01-30 12:51] #125 closed

[2020-01-30 12:56] sberyozkin commented on #121
@MikeEdgar I propose we follow your original idea and add `mp.jwt.verify.audiences` (only without `s`) as it is a well known claim and introduce something more generic at some later stage.

 @chunlongliang-ibm Can you please create a PR ?

[2020-01-30 13:04] sberyozkin commented on #118
@radcortez Hey Roberto, so please do this PR :-)

[2020-01-30 13:06] radcortez commented on #128
I'm wondering if the spec shouldn't be more "loose" in the sense of not requiring any particular claim, like the upn or groups (can't remember if there are others) and then provide a way to set by configuration the claims that should be required, so users can fine tune the validation of their JWT.

[2020-01-30 13:08] sberyozkin commented on #117
My understanding is that most implementations use `String` for simple claims which are actually strings, and to be honest I'd rather relax the spec to support it as opposed to requiring the users deal with JsonString while at the same tile letting them do `String` for the spec-visible claims

[2020-01-30 13:09] radcortez commented on #118
Ops, sorry. I guess I've forgotten about this. I'll put this on my priority list :)

[2020-01-30 13:10] sberyozkin commented on #117
Will try to come up with some text relaxing this requirement

[2020-01-30 13:53] sberyozkin commented on #115
Not sure if it is really in scope of MP JWT. Selecting a given MP JWT configuration set based on the request context (HTTP headers, token content) seems to be out of scope, at this moment of time at least IMHO

[2020-01-30 14:06] sberyozkin commented on #92
@rmannibucau Romain, this requirement looks reasonable to me. The backend does know how many JWKs are in the set.

[2020-01-30 14:09] sberyozkin commented on #128
Some like `exp` or `issuer` and few others are indeed needed, but this list should be as minimum as realistically possible

[2020-01-30 14:18] sberyozkin commented on #77
Hi Martin @mkouba, if you don't mind we can close this issue because it is more or less orthogonal as to where the resource handler is within the JAX-RS application, otherwise we'd need to have all the TCK tests updated to test both the regular and sub resources :-) but we'd not expand the MP JWT coverage but rather will test how a given container/JAX-RS is able to check subresources vs regular re

[2020-01-30 14:22] mkouba commented on #77
Well, I think it wouldn't hurt to test such a basic use case. But feel free to close this issue ;-).

[2020-01-30 14:23] sberyozkin commented on #63
Looks like the `aud` is not required now so let me close this issue

[2020-01-30 14:23] #63 closed

[2020-01-30 14:27] radcortez commented on #128
An interesting thing is that we require `iss` to be mandatory:

configured value. Any public key other than those that have been whitelisted by the container
configuration must be rejected with an HTTP_UNUATHENTICATED(401) error.

And when we reference `iss` we link to the JWT RFC:

The MP-JWT issuer. RFC7519, Section 4.1.1

That clearly says that `iss` is optional:

   The "iss" (issuer) claim id

[2020-01-30 14:41] sberyozkin commented on #128
@radcortez The JWT spec is a base spec to support a variety of requirements involving JWT and this is why it is all optional there. MP JWT is a higher level spec which builds upon it. Accepting the token with `iss` or `exp` or indeed without the `aud` is not sound from a security point of view, though the `aud` has gone now from the required set if claims.

[2020-01-30 14:45] radcortez commented on #128
I know, but my comment was more in the sense that maybe we could provide configuration to turn on / off required claims and make this more flexible. Well, implementors can always chose to do that, the question here is if this should be supported at the spec level.

[2020-01-30 15:10] sberyozkin commented on #128
In general it is good to be flexible but the spec should have some 'opinion' :-), but there should good practical reasons IMHO behind relaxing the requirements. The only problem with the current set I've seen are around `groups` which we will relax on, and `exp` - which, it is optional, in most cases, will make the applications exposed to anything...The issue is really about the minimum set and we

[2020-01-30 15:52] rdebusscher commented on #128
`upn` can be optional, but either, `upn`, `sub`, or `preferred_username` should have a value.

`exp` must stay as otherwise we allow for tokens which basically are valid forever which is a security risk. (if they want tokens which are valid forever then they can put next millennium in the exp value)

`kid` might be optional, but should be defined as it is required for the rotating key concept whic

[2020-01-30 15:55] rdebusscher commented on #142
To my understanding, this is a breaking change. Since a JWT which was signed with a 1024 bit key would no longer be accepted. Thus non backwards compatible.

[2020-01-30 16:02] darranl commented on #142
The specification still allows an implementation to support other key sizes so should an implementation wish to retain support for 1024 bit key sizes would still work.

However RFC7518 sets the minimum key size to 2048 bits so there are implementations already with this as a minimum size so 1024 bit key sizes don't guarantee an interoperability.

[2020-01-30 16:03] radcortez commented on #128
Unfortunately, there are many weird JWT tokens out there :)

At some point I was working with a GW that was placing the username in a non standard claim. We were to handle the issue, by implementing a config in SmallRye to allows us to specify the claim we wanted to use for the username.

I think we could keep `iss` and `exp` and the only required claims. Everything else make it optional and even

[2020-01-30 16:22] rdebusscher commented on #142
Verification of the signature doesn't check on the size of the key.

Does your statement means that JWT spec also implicitly takes into account all requirements of the RFC? Because there are no checks for that at the moment and no mentioning in the spec that it is the case today.

[2020-01-30 16:28] sberyozkin commented on #128
@rdebusscher sounds good, but as I noted it may not be even JWK from a set that is used to verify a token, hence if it is a local PEM file then requiring a `kid` won't do anything. It is a best practice indeed to have `kid` though with JWK sets and perhaps we should tweak text a bit.

[2020-01-30 16:29] chunlongliang-ibm commented on #93
Many existing applications have header
Authorization: Token <JWT here>
For example,  https://github.com/gothinkster/realworld/tree/master/api

[2020-01-30 16:34] darranl commented on #142
No my statement is just that the JWT mandates the algorithm that should be used and the definition for the algorithm mandates the minimum key size for use with the algorithm.  There are implementations of that algorithm that can and do check the size of the key they are provided with meet the minimum size of the key size.

The opposite approach could be to add a TCK test using a 1024 bit key size

[2020-01-30 17:17] sberyozkin commented on #142
@rdebusscher a `2048` requirement would be about simply enforcing the best practice which in this case has been strongly proposed in the JWA spec based on the RSA security experts' appreciation of the risks involved with the lower key sizes.
Same as we all think the `exp` claim is important, etc.
IMHO we should not be too concerned about dropping a requirement for `1024`.

[2020-01-30 17:26] sberyozkin commented on #93
We have 3 properties in `smallrye-jwt` to deal with it:
`smallrye.jwt.token.header`
`smallrye.jwt.token.cookie`
`smallrye.jwt.token.scheme`

The first 2 headers support non `Authorization` headers, the 2nd one - a cookie name if the 1st property is set to `Cookie` and the 3rd one - a custom `Authorization` scheme like `Token`.

We can have:
[code]

[2020-01-30 18:55] rdebusscher commented on #142
I agree that 2048 is almost used all the time and should be used. But defining that 1024 is no longer allowed is according to the rules a breaking change.

And switching to 2.0 because a 2014 key is no longer allowed is a bit harsh (but required in that case)

RFC7518 indeed defines the minimum key length as 2048, but RSASSA-PKCS1-v1_5 SHA-256 can also be used with keys of length 1024.

So we have

[2020-01-30 21:13] darranl commented on #142
This issue is not saying 1024 would be defined as no longer allowed, this issue is only to remove it from the list of key sizes an implementation is told it must support.

The text in the specification that states an implementation can also optionally support other key sizes would also not be removed by this issue so implementations could still choose to support 1024 bit key sizes.

But there is a

[2020-01-31 11:48] radcortez commented on #118
Ok, here is a fix for it:
https://github.com/eclipse/microprofile-jwt-auth/pull/148

On the other hand, I've started to think about this and I'm not completely sure if this should be the right behaviour from a spec point of view.

While it makes sense to load, validate the key if you have the key locally (file, classpath, etc) and fail the deployment if we are not able to validate, I'm not so sure

[2020-01-31 14:09] vp642 commented on #93
+1 to have a token in a cookie. I am working on a project that could have used this feature to make the code shorter.

[2020-01-31 16:06] radcortez commented on #145
You can use `org.eclipse.microprofile.rest.client.propagateHeaders=Authorization` to automatically propagate the authorization header (or any other header) via MP REST Client. Isn't this enough?

[2020-01-31 16:18] radcortez commented on #132
I think having a config to control if the JWT has to be validate or not is acceptable. By default is always on.

[2020-01-31 16:25] radcortez commented on #127
Any reason to not support int / Integer? JsonNumber supports it...

[2020-01-31 17:50] radcortez commented on #114
I think this will great to support. On the other hand we are seeing a lot of repetition around conversions. MP Config is pitching the idea of creating a Conversion spec to be used by all the other specs.

Most likely it would be good to push for such a spec, or even provide a way to access MP Config converters until something like this is available.

[2020-01-31 18:09] radcortez commented on #114
https://github.com/eclipse/microprofile-config/issues/514

[2020-01-31 18:22] radcortez commented on #113
I think this is related with https://github.com/eclipse/microprofile-jwt-auth/issues/124 which could use spec clarification.

Apparently some implementations only authenticate / validate if you have a `RolesAllowed` annotation.

[2020-01-31 18:24] radcortez commented on #101
Related with https://github.com/eclipse/microprofile-jwt-auth/issues/114

[2020-01-31 18:26] radcortez commented on #100
@arjantijms I think a converter spec makes sense. Did you propose this to a larger group, or just here? There is also a chat in MP Config about a converter spec: https://github.com/eclipse/microprofile-config/issues/514

[2020-01-31 18:34] radcortez commented on #113
https://github.com/eclipse/microprofile-jwt-auth/issues/70

[2020-01-31 18:37] radcortez commented on #57
What are we looking for to include JSR 375?

[2020-01-31 19:26] rmannibucau commented on #57
Adoption? What would it bring? Jsr375 is programmatic whereas jwtauth is contextual and selfsufficient, dont think it would be sane to make MP fatter to no new feature.

[2020-01-31 19:55] radcortez commented on #57
That what I'm asking. I don't think we will benefit from this, but I was interested if there was anything that people were interested in.

[2020-02-01 14:17] rdebusscher commented on #57
If I remember correctly, this issue was how the definition of the security mechanism (like @LoginConfig) would be more aligned with how Security API works.

But I do not remember the details anymore and this issue doesn't list them.

[2020-02-01 14:29] rdebusscher commented on #118
Although the key is only required when validation is required, checking the 'store' at deployment make sense, even if it is an external resource.

When application is deployed, it is ready to accept requests and thus key needs to be accessible for validation.
So if the remote resource is not available at deployment, it will likely not be available when the first request arrives a fraction of a sec

[2020-02-02 18:43] sberyozkin commented on #142
@rdebusscher but MP JWT refers to the `RS256` definition which is part of the JWA spec and that same spec requires that the key length of the keys must be `2048`. I don't think it is correct just to get some algorithm definition from the JWA spec and ignore everything that is advised about it.
In this case not requiring the implementations to support `1024` will be actually a bug fix.
And indeed,

[2020-02-02 19:00] sberyozkin commented on #118
@radcortez @rdebusscher IMHO it should be left up to the given container at what point the external key is available. Given the concerns of the hard dependency expressed by Roberto. We had to add a connection timeout in Quarkus for the OIDC adapter to wait till the OIDC server is uo and I would like to avoid `enforcing` the same on the pure `smallrye-jwt` implementations.
And with HTTPs JWKs and t

[2020-02-03 11:16] radcortez commented on #57
BTW, the Security Spec requires the Servlet spec. Not every MP implementation includes Servlet, so this might be an issue.

[2020-02-03 11:28] rmannibucau commented on #57
@radcortez Microprofile requires servlet too ;) (it relies on JAX-RS and JAX-RS defines SE and >= Servlet environments - others are not spec-ed so not an option for MP which does not define anything about that. SE case is excluded cause it is a programmatic registration of endpoints which is against MP too, so MP includes Servlet transitively whatever some vendor can say).

[2020-02-03 11:29] radcortez commented on #118
@rdebusscher It highly depends on your system. I think we cannot make that assumption. Just because I'm deploying an application it doesn't mean I'll be receiving request a few fractions of a seconds later. I could be starting nodes to warm them up and I can have rules to enforce dependencies once I'm ready to receive requests and add the app to a load balancer / expose to the actual clients.

Wha

[2020-02-03 12:55] rdebusscher commented on #118
So far the myth of microServices which are independent.

The UnresolvableKeyException is then the only option.

[2020-02-03 14:44] sberyozkin commented on #142
@darranl Hi Darran, would it be OK if we just updated the spec with the link to the JWA spec and said that support for `1024` is now deprecated and will be removed in the next major revision of the spec, something along these lines to address the concern of @rdebusscher ?
Hi @rdebusscher, just to double check, you'd be opposed to dropping `1024` for `1.2` ?

[2020-02-03 14:49] darranl commented on #142
@sberyozkin The problem I see with deprecation is I am aware of a few servers supporting JWT do not presently support 1024 bit key sizes so if the end result is to keep it as mandatory in the spec then maybe that should be addressed instead.  As it stands today the 1024 bit key sizes are not providing a level of interoperability.

[2020-02-03 14:55] sberyozkin commented on #118
Hi @rdebusscher I'd like to clarify that there is no way I'm going to push our own implementation agenda, I'll try my best anyway :-) and I look forward to discussing the issues with yourself and others..
But returning to what Roberto suggested, I was thinking yesterday after I signed off, and I came to the conclusion it was really MP JWT going a bit too far in trying to enforce at what point and

[2020-02-03 15:19] radcortez commented on #118
+1

[2020-02-03 16:08] rdebusscher commented on #142
@sberyozkin If we put the 1024 bit as no longer mandatory (but still possible to support) this is ok for me in the next version.

It depends on what the goals of the spec are. Since they are referring to RS256 but explicitly say that 1024 bit length MUST be supported, there was some reason behind it (although I do not know them). So bug-fix is not the correct word when you remove something intende

[2020-02-03 16:17] rdebusscher commented on #118
If there is a need from the users that failure should only be reported when the endpoints are used, that we should allow for it.

But deployment failure is much easier to diagnose and act upon than an exception for a user request which returns a 401 (and is lost in the logs). So basically, users are then shifting their problems to the end-users.

[2020-02-04 13:36] sberyozkin commented on #142
@darranl I believe the goal is to remove it asap, in 2.0, given that it appears technically impossible to do so for the `1.2`. And since TCK does not enforce that a `1024  key size is accepted, then so be it, `1024` requirement will remain for `1.2` and I thought a deprecation message would prepare the users who might be using these keys (if any at all) that in 2.0 they won't be supported. The dep

[2020-02-04 13:45] darranl commented on #142
I think this has gone round in circles a little bit.

The ONLY intent for this issue to remove the requirement from the specification that says a minimum key size of 1024 bits MUST be supported as it is contradictory.

IMO it is either mandatory or it is optional and if it is mandatory ALL implementations MUST support it or they are not compliant so I believe we should add to the TCK.

On the oppo

[2020-02-04 13:53] sberyozkin commented on #142
@darranl I'm not suggesting to have it both optional and mandatory. I agree it is a mistake but I don't see a way to drop it for 1.2. So that still makes it mandatory. Just because there is no TCK it does not make it less mandatory or optional. If you'd like, please provide a PR with a TCK (single test would be enough which uses a 1024 key). The deprecation message does not change anything either

[2020-02-04 13:57] darranl commented on #142
@sberyozkin thanks that makes it clearer.

So for this issue I will send in a PR to flag it as deprecated and include a TCK test to verify the 1024 bit keys are supported.

[2020-02-04 14:26] sberyozkin commented on #118
@rdebusscher A case of the bad log management is not a good reason IMHO not to support the dynamic key acquisition. IMHO there is a good compromise which is being proposed which also works for some key sets which are dynamic in nature

[2020-02-04 15:17] radcortez commented on #118
BTW, my proposal was to throw the exception `UnresolvableKeyException` anyway so you can see it in the logs, but send the 401 to the user so he doesn't get the exception.

Yes, I know this might be not the correct behaviour, since 4xx codes are usually things that the user got wrong and can correct with a new request. On the other hand, if we think about a user getting wrong credentials, there is

[2020-02-04 15:35] starksm64 commented on #142
That is a good resolution. We should raise an issue to drop support for 1024 bit keys in 2.0. @dblevins added the section on the key sizes, so perhaps there is a usecase in TomEE that requires the 1024 key size.

[2020-02-04 18:19] arjantijms commented on #100
@radcortez Didn't propose it so much to a larger group, though I did had a blog about it:

https://arjan-tijms.omnifaces.org/2014/08/high-time-to-standardize-java-ee.html

[2020-02-04 18:49] radcortez commented on #100
I think this should be proposed in the new groups (either MP or Jakarta). I guess your blog is from a time, when things were a little "dormant" so to say. Should have more acceptance now :)

[2020-02-04 20:15] arjantijms commented on #100
@radcortez Indeed, the either MP or Jakarta is however a new problem ;)

Since both groups are separate pending discussions, it does make quite a difference. If I'm not mistaken Jakarta can't use/depend on MP now, but MP can't (easily) add new Jakarta stuff since that would mean additional dependencies,

[2020-02-05 16:27] radcortez commented on #100
Well, right now it would be easier for MP to include stuff from Jakarta than the other way around. There are a few things being discussed in the MP group to allow Jakarta to use MP stuff. For instance, a lot of specs are interested and could benefit from MP Config.

I don't want in anyway way to "highjack" your work. Are you willing to try to propose this again to either group, and we can try to f

[2020-02-06 13:08] sberyozkin commented on #118
Hey, in the end of the day there is a very practical issue is that the HTTPs based location may only be available few seconds later after the MP JWT server starts, and IMHO we just should not introduce this uncertainty into the spec. I appreciate @rdebusscher's concern, but we can try to figure out how to make things obvious. Perhaps indeed for 2.0 we just always throw `UnresolvedKeyException`. An

[2020-02-06 13:20] sberyozkin commented on #141
@ederks85 the PR is linked to the `3.3` milestone so let me close this issue again :-), reopen please if needed

[2020-02-06 13:20] #141 closed

[2020-02-06 13:24] sberyozkin commented on #127
@radcortez No idea why it was not supported but we can't get it in for `1.2`. Perhaps for 2.0..., thanks

[2020-02-06 13:30] sberyozkin commented on #126
I'd like to close this issue as a duplicate of #93.
@chunlongliang-ibm IMHO supporting the case of the token being split across multple headers is a bit too far for MP JWT :-)

[2020-02-06 13:30] #126 closed

[2020-02-06 13:31] sberyozkin commented on #115
I'm sorry but I'd like to close this issue. As I've suggested, IMHO it is out of scope for MP JWT as how to a given MP JWT configuration set is selected

[2020-02-06 13:31] #115 closed

[2020-02-06 13:34] sberyozkin commented on #112
Hi David, @dblevins, let me close it for now, please reopen it if you feel we should still support it for the signed JWTs. Your link is valid and it can be transparently supported as part of the [JWE Encryption issue](https://github.com/eclipse/microprofile-jwt-auth/issues/58). So lets consider this issue be a valid but duplicate issue. Cheers

[2020-02-06 13:34] #112 closed

[2020-02-06 13:36] sberyozkin commented on #92
@rmannibucau Hi Romain, let me close this one, don't hesitate to reopen please if you think I've missed a point which may be true :-)

[2020-02-06 13:36] #92 closed

[2020-02-06 13:53] rmannibucau commented on #92
@sberyozkin the spec is not about the storage logic/how keys are loaded - mp-config abstracts it, therefore the spec can't enforce the presence of any field due to ambiguity. So yes, I assume most of the time kid will be needed but the spec can't decide at its level if it must fail or not. Relaxing the sentence with a should is fine for me but dropping this sentence enables more usages.

[2020-02-06 14:33] radcortez commented on #118
Sure.

[2020-02-06 15:03] sberyozkin commented on #145
@Emily-Jiang Hi Emily - @radcortez's hint resolves this issue, do you agree ?

[2020-02-06 15:08] sberyozkin commented on #72
Hi All, would you object if we have Jose4J for the tests ? (We use it internally, but it is not really relevant, Jose4j is a trusted and slim library, IMHO it can definitely produce a more compact (test) JWT generation API, telling after replacing an internal test Nimbus JWT code with the equivalent Jose4j one)

[2020-02-06 15:12] sberyozkin commented on #109
I'll be working soon on repackaging and documenting the design goals of this API and SPI code, https://github.com/smallrye/smallrye-jwt/tree/master/implementation/src/main/java/io/smallrye/jwt/build.
I appreciate we may decide to change few things in MP JWT, IMHO the linked code offers a very complete JWT generation API.
Thanks

[2020-02-06 15:36] rdebusscher commented on #72
Jose4J is a bit more complete in supported features (like claim checks) but API is not that clear as Nimbus JWT. ( personal opinion maybe)
But I don't like the usages of artifact version ranges in Nimbus JWT.

[2020-02-06 15:41] rdebusscher commented on #127
I guess the spec sticked to JSONValues due to the nature of the JWT.

We need to talk about converters also in the case we support primitives/POJOs etc ...

[2020-02-06 15:52] radcortez commented on #127
There are some talks of starting a converter spec... right now is ridiculous because most of the specs needs this kind of behaviour, we can keep duplicating it.

[2020-02-07 11:16] sberyozkin commented on #72
@rdebusscher sure, it is only to support the TCK (use an independent tool to generate a token) as we'll go ahead with out generation API anyway, so whatever is simpler from that angle will should work :-). I might give it a go and create PR later and will CC you.

[2020-02-12 17:25] asterisk360 commented on #109
Hello,   @sberyozkin, how can i help you to test this api?

[2020-02-12 17:42] sberyozkin commented on #109
Hi All, please see #149.
I'll follow up with some description tomorrow.
Will also follow up with a few basic TCK tests to start with nnce we are happy with it.
Thanks

[2020-02-18 18:22] sberyozkin commented on #145
Hi Emily, I'm sorry but I'm going to close it for now, IMHO it is important now to avoid the list of issues becoming stale and I'm not sure we will do anything specific about this issue for a while due to the support from MP RestClient and ContextPropagation :-). Don't hesitate to reopen if you disagree, cheers

[2020-02-18 18:22] #145 closed

[2020-02-18 18:23] sberyozkin commented on #140
Closing for now, we have a project specific property but I'm not sure the case is strong enough to have a standard property around it; if someone disagrees then please reopen

[2020-02-18 18:23] #140 closed

[2020-02-18 18:49] sberyozkin commented on #132
IMHO it can be `optionally` supported if `Principal` is not null, then if the property allowing for the non-validation is set, the token is parsed and it is asserted `JsonWebToken.getName()` returns the same name.
There must be some way at the low level spec level to enforce it. It is easy to document at the individual OIDC provider documentation page because it guarantees to its users the token w

[2020-02-24 14:07] sberyozkin commented on #101
Is it a duplicate of #100 ?

[2020-02-24 14:07] sberyozkin commented on #114
Is it a duplicate of #100 ?

[2020-02-24 14:17] sberyozkin commented on #77
Hi Martin, @mkouba, I actually do not see a single subresource locator method in this [endpoint class](https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/RolesEndpoint.java). I'm just  trying to minimize the list of issues keeping only those which are really relevant and for which I will try to find the time for, as the l

[2020-02-24 14:17] #77 closed

[2020-02-24 18:57] chunlongliang-ibm commented on #121
I would like to propose that we add mp-config property "mp.jwt.verify.audiences", and accept multiple audiences in comma delimited format, like
mp.jwt.verify.audiences=audience1, audience2, audience3

To maintain back-compatibility, there is no default value  for mp.jwt.verify.audiences. If mp.jwt.verify.audiences is not configured, and JWT contains "aud", it is up to service to interpret the defa

[2020-02-24 19:46] chunlongliang-ibm commented on #58
In addition to JWT API, we should consider to mpJWT configuration to decrypt JWE  for some common and simple scenarios, in particular, the dir ( symmetric key) scenario. Only JWE with 'dir' is supported.
1. The 'dir' alg is much simpler to be processed, and the symmetric key could be defined via mp-config.
2. The 'dir' scenario is also useful given that we now plan to support JWT builder API. If c

[2020-02-24 22:19] #136 closed

[2020-02-24 22:19] #144 closed

[2020-02-25 12:23] maxveit opened #151 "Support OIDC Relying Party / client mechanic"
I have the use-case, of migrating an JEE application that uses e.g. JSP to provide a web-based front-end to the user, to Microprofile. Typically, these kinds of applications have been implementing authentication and authorization using a LDAP repository.

In a modernization to cloud-native, often the LDAP, at least for authentication, is being replaced by OIDC. Since we still have front-end code i

[2020-02-26 13:55] sberyozkin commented on #114
Hi All and David in particular, @dblevins. David, don;t hate me please for closing another of your issues :-). I will copy this requirement to #100 and credit it to you; IMHO it should also be tied with a type safe retrieval of the claims. see you at #100 later on, cheers

[2020-02-26 13:55] #114 closed

[2020-02-26 13:57] sberyozkin commented on #100
Hi All, adding David's @dblevins requirement from #114, IMHO we'd be better off keeping it all within a single issue to do with type safe retrieval of the claims.
David's requirement:
[code]

[2020-02-26 13:59] sberyozkin commented on #101
Hi @ivanjunckes all, copying your requirement to #100, to keep it all centralized in one place;
CC @dblevins, @radcortez
thanks

[2020-02-26 13:59] #101 closed

[2020-02-26 13:59] sberyozkin commented on #100
And here is a related question/requirement from @ivanjunckes:
[code]

[2020-02-26 14:04] sberyozkin commented on #151
Hi @maxveit While it all makes sense, it is highly unlikely we'd take care of it at the MP JWT level as it would require providing a portable OIDC adapter implementation which is unrealistic in the medium term at least.
Sorry, I'm currently trying to keep the list to the minimum as it has been stale for a while, so I'm going to close this issue shortly. It will be reopened in due time if needed.
T

[2020-02-26 14:13] sberyozkin commented on #72
Working on the PR to update it to jose4j

[2020-02-26 14:29] rdebusscher opened #152 "update readme of repository"
The readme says it is 'a proposal' in the Status section.

With JWT 1.1 out and preparing for JWT 1.2, I would say this is no longer a proposal but something real.

[2020-02-26 14:55] maxveit commented on #151
Hi @sberyozkin that sounds reasonable.

What do you think about standardizing the Id, Access and Refresh token and how they should be accessed in case they are used? Then the adapter implementation would still be up to the individual implementing party of the MP spec, but from a developer PoV the access to relevant tokens would be standardized.

[2020-02-26 14:57] Emily-Jiang commented on #151
@sberyozkin I disagree. The issue board is to log requirements and the issue should not be closed because the team cannot do it in the short term. Besides artificially keeping the short list of issues does not make sense. If you cannot do it in the short term, you can file it to future. Personally, I think this issue is very valuable for end users. We should discuss to see how this can be fixed.

[2020-02-26 16:08] rdebusscher commented on #151
Probably `Authorization Code Flow` makes sense, not the others (as MP is a backend framework)

[2020-02-26 17:41] radcortez commented on #151
There was some discussion about bringing JSR-375 to align more with JWT here https://github.com/eclipse/microprofile-jwt-auth/issues/57.

@maxveit if you are on a server that supports both Jakarta and MP, maybe you can have a look into https://javaee.github.io/security-spec/ and see if you can implement a custom authentication mechanism that suits your needs.

In theory, you should be able to use

[2020-02-26 17:47] radcortez commented on #100
There is a discussion in MP Config about exposing the Converter facilities available. Since MP JWT depends directly from Config already, maybe we can leverage some of this work together.

[2020-02-26 17:49] maxveit commented on #151
@radcortez thanks - I'm good on the server I am on currently, it provides the features I need. But I would like to not use proprietary app server classes where possible.

[2020-02-26 17:54] radcortez commented on #151
Well, these are not proprietary. They are part of the Java EE (now Jakarta EE) APIs. The only proprietary thing would be your own implementations of those API's.

It might even be an opportunity to do some investigation work and figure out if these should be integrated with MP JWT to allow for custom authentication implementations.

[2020-02-26 17:58] wfrank2509 commented on #132
Having a related topic here for a product.
The information where to fetch the public key for verification is part of the JWT token.
It also contains other information (i.e. iss + some custom header fields) that are checked to verify the provided/computed url to fetch the public key is valid.

So the process needs to be 2 step when the token needs to be verified:

1. read unverified JWT token and c

[2020-02-27 10:48] maxveit commented on #151
Should have been more accurate - I don't want to open up to Jakarta EE, I want to stick with Microprofile only. I like the lightweight that Microprofile has and don't want to go back to EE.

[2020-02-27 10:51] radcortez commented on #151
Ah! That makes sense :)

Well in that case, you might be able to implement this in your end using a JAX-RS Filter. I believe most MP servers do it this way to implement JWT.

[2020-02-27 11:06] rdebusscher commented on #151
Problem is that OAuth2/OpenIdConnect flows send redirects to the login page of the provider.  Not all clients will be capable of handling this.

[2020-02-27 12:57] sberyozkin commented on #151
@maxveit Sure, but all of these flows you've mentioned are covered in OAuth2 and OIDC specs in particular. There is a ton of details there. Every proper OIDC adapter implementation requires a tight integration with the underlying HTTP mechanism. I honestly do not see what MP JWT, as a spec, can add to it, especially since it has not been designed to accept the OIDC produced tokens only. It is at t

[2020-02-27 13:15] sberyozkin commented on #100
@radcortez Sounds reasonable to have the typed claims retrieval and injection built around them.
Would those converters help with the complex claims (which are JSON objects), example, would it work if we write:

[code]
given this [Address claim](https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim) ?

I.e would the converter accept JSON objects so that the custom converter bind it to

[2020-02-27 13:28] radcortez commented on #100
If we use the current Converter API present in MP Config, the source object is always a String. So on your converter you could just use Jsonb and pick up the string and convert it into the object.

[2020-02-27 15:25] sberyozkin commented on #132
@wfrank2509 I've added it to the `JWT 2.0` milestone for us to review what can realistically be done...thanks

[2020-02-28 12:53] andreas-eberle opened #154 "Allow retrieving claims by using the Claims enum"
I think it would be a good idea to add a method `JsonWebToken.getClaim(Claims claim)` to allow retrieving claims by using the `Claims` enum. At the moment one is forced to write unnecessarily bloated code like `jwt.getClaim(Claims.groups.name())`. This is even true for the default methods given in the interface `JsonWebToken`. Adding this method could make code more readable.

Let me know if you w

[2020-02-28 13:48] #137 closed

[2020-02-28 13:52] sberyozkin commented on #151
Hi All, let me close it for now - @maxveit thanks for the proposal, if you will have some concrete ideas on how to support the authorization code flow (lets start from the one which is highly recommended in most cases) in MP JWT, then please reopen.

[2020-02-28 13:52] #151 closed

[2020-02-28 14:24] sberyozkin commented on #154
@andreas-eberle +1, `1.2` is the next version so we can't get the implementers updating the existing working code, but for `2.0`, yeah, why not. Though it would need to be tied with #100.
Thanks

[2020-02-28 14:31] rdebusscher commented on #154
This is a compatible change since it just adds a method, so it can be included in 1.2

[2020-02-28 14:32] sberyozkin commented on #100
@radcortez
Thanks; that won't really work for MP JWT though. The implementation would need to convert some arbitrary internal representation of a given complex claim which has already been parsed from JSON (Jose4J would have a map, other Jose libs that MP JWT implementation use - something else, and MP JWT may already have it converted to JSONB, ex, `smallrye-jwt`) back to String.
Accepting `Strin

[2020-02-28 14:37] sberyozkin commented on #154
@rdebusscher it is compatible for the users but requires the implementations to update their existing implementation code. I don't really mind to be honest from our own mplementation, but we can't just do it for the minor release ?

[2020-02-28 14:42] rdebusscher commented on #154
It is no problem that a minor release require a change to the implementation code. In fact, that is the general rule, otherwise not much will change.

However, It can't introduce a breaking change.

So I agree that this change, small (only a couple of lines) but very helpful for the developers.

[2020-02-28 14:42] sberyozkin commented on #154
@rdebusscher That said the focus is on the users, so well, I don't mind it be included in 1.2 then.

[2020-02-28 14:43] sberyozkin commented on #154
Sounds good. @andreas-eberle Go ahead please with your PR :-)

[2020-02-28 15:09] andreas-eberle commented on #154
I added the methods with default implementations forwarding to the old methods. So the code is doing exactly the same and other implementations also should not have to adapt anything.

[2020-02-28 15:35] sberyozkin commented on #100
We should probably not rush in any case :-), and discuss it properly in time for 2.0. IMHO this is the main area of improvement for 2.0

[2020-02-28 15:58] sberyozkin commented on #154
Very good, thanks

[2020-02-28 16:08] radcortez commented on #100
Yes, the proper way to solve this is to have a separate Converter spec flexible enough that each spec can use.

We are going to try to do some working prototype in the SmallRye project to extract the conversion code to its own library and figure out if we can make that an API on its own.

[2020-02-29 12:45] sberyozkin commented on #154
@andreas-eberle @rdebusscher
Please see #156 for the reasons why it had to be reopened. The PR for this issue needs to have a baseline plugin updated too. For now I'm changing the milestone to 2.0 but will be happy to put back to 1.1

[2020-02-29 12:47] sberyozkin commented on #154
My understanding of this plugin is that the interfaces can be changed, any idea how it can be fixed ?

[2020-02-29 12:56] sberyozkin commented on #154
MP Config has this configuration:
[code]
But I'm not sure what can we put there in our case to allow new method additions to the existing interfaces in 1.1. Has someone dealt with a similar issue before ? I can do a PR myself  once I know how to fix it

[2020-03-02 13:55] andreas-eberle commented on #154
From what I see in the pom, the used bnd plugin versions seem very old (October 2017) while there exist a newer version 5.0 from January 2020. Maybe these problems are fixed in the newer versions?

[2020-03-02 14:13] andreas-eberle commented on #154
@sberyozkin, @rdebusscher : It seems the relevant version is actually the version in the annotation here https://github.com/andreas-eberle/microprofile-jwt-auth/blob/add-get-claims-with-claims/api/src/main/java/org/eclipse/microprofile/jwt/package-info.java#L40 and not the dependency version.

The plugin wants us to increase this version from 1.0 to 1.1. It does not accept an increase from 1.0 to

[2020-03-02 14:14] andreas-eberle commented on #154
Btw, you can get more details on the error message when using the following as configuration for the bnd-baseline-maven-plugin.

[code]

[2020-03-02 16:27] sc3n commented on #55
@starksm64 can you please advise whether passing jwts as cookies might be considered in upcoming releases?

See also https://github.com/eclipse/microprofile-jwt-auth/blob/961ebac1ec28f05d9abca81e157e09dd7f5c6edb/spec/src/main/asciidoc/future-directions.asciidoc#passing-jwts-as-cookies

[2020-03-02 18:03] sberyozkin commented on #154
Hi @andreas-eberle Thanks, so the next version will be `1.2` (we are on `1.2-SNAPSHOT`) and the current tag is `1.1.1`. In that case the package property should be `1.1.1` ? What I don't understand is why the PR build passes. I agree with @rdebusscher that we need to fix the plugin anyway for us to be able to change the existing methods in the future.
Should we remove tat osgi package property, an

[2020-03-03 09:33] andreas-eberle commented on #154
Although I never really worked with osgi, I think it would make sense to have the same osgi version tag as the module version. However, you have two packages under the org.eclipse.microprofile main package with both having their own package-info.java file. This will mean you sometimes will increase the version of one of these packages without changing the classes in that package. Just so you are a

[2020-03-03 11:14] #72 closed

[2020-03-03 11:19] sberyozkin commented on #154
Hi @andreas-eberle You may have seen a microprofile forum thread, @Emily-Jiang explained how this plugin operates. So indeed, lets do the following:
- increase that OSI property to `1.1` to indicate we are doing the minor changes;
- add that full report property
- and update to the latest versiob

And please resubmit your PR alongside those changes;  please use `mvn clean install` to verify.
I've

[2020-03-03 11:22] sberyozkin opened #157 "Investigate what needs to be done to have PR builds doing a clean build"
@Emily-Jiang suggested that a PR build may not be including a `clean` task. Indeed, we only started getting the baseline plugin failures after we merged an otherwise green PR.
I guess the PR job configuration needs to be tweaked, I can probably do it myself; if someone knows how to then ping me please

[2020-03-03 13:53] andreas-eberle commented on #154
@sberyozkin: I added the changes to my branch and opened a new PR #158.

[2020-03-03 14:05] #154 closed

[2020-03-08 21:48] sberyozkin commented on #121
@chunlongliang-ibm sounds good to me, can you please start working on a PR ? Thanks

@MikeEdgar I guess since `aud` is such a well known claim, it makes sense to have a dedicated property for it, expanding it to `audiences` (similarly to `iss`->`issuer`). I'm not sure now about the generic mechanism for the required claims, may be we can discuss the idea further in another issue ? Please open if y

[2020-03-09 17:08] #131 closed

[2020-03-11 22:16] sberyozkin commented on #100
@radcortez That is a neat idea, but what would happen if an application combines several MP specs, each of them having their own Converter providers. If it works out it would be massive :-), but it may make sense also consider small type-converter facilities which are optimized for a specific spec. IMHO we'll need to get this issue done for the major release, i'm not sure, do we have just a few mo

[2020-03-12 11:34] sberyozkin opened #161 "Support ES256 signatures"
Right now only `RS256` is supported. However it is known that some providers/intermediaries will use `ES256`, for example, `AWS Load Balancer` which is referenced in #smallrye/smallrye-jwt/issues/143, but also independently confirmed in #auth0/node-jsonwebtoken/issues/514 and possibly in others.

Even without those issues, supporting a well known alternative to `RS256` (FYI, it has a higher `Recom

[2020-03-13 17:00] sberyozkin commented on #152
Also the following warning is produced during the build:
[code]

[2020-03-14 12:50] sberyozkin opened #162 "Fix TCK token utils test and other cleanup"

[2020-03-14 13:48] sberyozkin commented on #162
`TEST_GROUP_UTILS` is inlcuded in base/full TCK suites while it only tests `TokenUtils` and should be excluded, instead of the no longer existing `debug` group

[2020-03-16 14:13] sberyozkin commented on #162
My understanding `MPJWT_V_1_2` will need to be attached to the new TCK tests only, so I'll do it when needed.
I've found though that my earlier update to Jose4j introduced a small bug (Jose4J does not currently support the custom `NumericDate` claims such as `auth_time` as it is not a core claim and as such it does not know the context (convert to a milliseconds or seconds).
The other problem is t

[2020-03-16 22:31] sberyozkin commented on #157
OK, all I had to do was to login into Jenkins and add a `clean` task at https://ci.eclipse.org/microprofile/job/JWT-Auth-maven-snapshots/

[2020-03-16 22:31] #157 closed

[2020-03-17 11:48] #162 closed

[2020-03-17 12:03] sberyozkin commented on #161
I should mention a critical issue around the way some libraries were dealing with validating `ES256` back in 2017, [this post is informative](https://blogs.adobe.com/security/2017/03/critical-vulnerability-uncovered-in-json-encryption.html). Note it was not really an algorithm flaw, and it has been fixed across the spectrum of libraries, including jose4j, nimbus, and others. As it is often the cas

[2020-03-17 18:12] sberyozkin commented on #161
For the record, I've removed the comment where I've wrongly assumed there was a `ES256` vulnerability back in 2017 which in fact was related to the EC key based encryption and since was fixed across all the known libraries. (Which is quite embarrassing because I applied a relevant fix to my former project too at a time but it was awhile back :-)).
So all is good about `ES256` and the trust a speci

[2020-03-17 21:27] sberyozkin commented on #133
@OndroMih If you will have time to contribute to this issue before `JWT 1.2` then we can indeed make it part of `JWT 1.2`, thanks

[2020-03-18 17:54] sberyozkin opened #166 "DenyAll location error for ejb/EjbEndpoint and jaxrs/RolesEndpoint in Eclipse"
After rebuilding the Eclipse workspace I see
[code]

for the above 2 test resources.

`mvn clean build` is all good.

The eclipse workspace  has `DenyAll` imported via 2 dependencies, `jsr-250-api-1.0` and  `jakarta-annotation-api-1.3.5`, the former is coming from
[code]

and needs to be excluded

[2020-03-19 12:00] #152 closed

[2020-03-19 15:42] sberyozkin commented on #135
#164 is correct but is not complete, I was pretty sure I did run a Quarkus TCK but apparently I've missed it, as I was experimenting at a time with the new TCK tests

[2020-03-20 17:34] sberyozkin opened #170 "Update optional tests to include the properties with a key location and fix the full TCK suite"
Depends on #168 (it contains the file which will also be included)

[2020-03-20 21:35] sberyozkin commented on #129
I propose to resolve this issue by updating the spec text to note that
[code]
Something along these lines

[2020-03-22 18:40] sberyozkin commented on #129
However it appears we can't do it for `1.2` if such a text constitutes a breaking change. Example, processing a `scope` may lead to an unexpected successful call going through, so we can definitely drop a requirement to support `scope` and have it for `2.0`. Likewise, listing all those annotations is a bit too much for the spec text. Simply staring:
[code]
should be enough.

The only problem then

[2020-03-23 10:58] radcortez commented on #129
I see no issues in doing this for 1.2.

[2020-03-23 15:19] #135 closed

[2020-03-23 15:37] sberyozkin opened #173 "Set up MP JWT Google forum"
Hey @radcortez if you can find few cycles, please do it given your experience with setting the same for MP config, or describe what you did, I suppose it is a standard Google groups creating, but I'm not 100% sure
Cheers

[2020-03-23 18:59] radcortez commented on #173
It yes, but since I don't have any permission on it, it was @Emily-Jiang that handled the request.

@Emily-Jiang can you let us know what you did?

[2020-03-23 22:49] sberyozkin commented on #173
@radcortez Thanks
@Emily-Jiang Can you help us make MP JWT have its own forum :-) ?

[2020-03-24 10:54] rdebusscher commented on #129
Defining a required property to optional is not a breaking change. All tokens which are valid today are still valid with the change in groups and scope and will result in the same behavior.

So it can be included in 1.2

[2020-03-25 11:20] radcortez commented on #93
If it is ok, I'll work on this and try to submit a PR.

[2020-03-25 12:23] radcortez commented on #93
I've pushed the spec update in #176. If we are happy with it, I'll write the required TCK tests.

[2020-03-26 10:37] radcortez commented on #120
I'm not sure if we should support this.

`JsonWebToken` by nature is a `RequestScoped` bean, because of course, the JWT is tied to the request. This allows you to inject the `JsonWebToken` in `ApplicationScoped` beans and getting the right token.

Also, `RequestScoped` beans must be proxyable and the issue is that `Optional` is a final class, so it cannot be proxied, meaning that you are not able

[2020-03-26 11:07] radcortez commented on #129
Should we also provide a way to retrieve the roles from another claim? With a configuration property?

[2020-03-26 12:50] rdebusscher commented on #129
A Mapper SPI is more useful in that case, and the default mapper takes it from groups claim.

[2020-03-26 15:53] sberyozkin commented on #120
Hi Roberto - thanks a million for starting to look into it.

That pretty much says it that we can't support it unless some check can be made somewhere to enforce it can never be used with `ApplicationScoped` beans. I've had to deal with a number of issues where the users had the stale tokens leaked into the newer `ApplicationScoped` bean invocations before it was properly fixed, so we definitely d

[2020-03-26 16:07] radcortez commented on #120
Yes, I agree that it might do more harm than good to support this as is, even if we issue a warning in the documentation. Plus, it would be a bad user experience when in one case it works properly and the other case it doesn't.

In `ClaimValue` it does work, because `ClaimValue` is not `final` and can be proxied. The limitation here is that the object being injected has to be proxyable. Internally

[2020-03-26 17:11] radcortez commented on #120
An alternative is to inject the JWT with a Provider:

[code]

This should work right now, and the object is only injected when you call `providerJsonWebToken.get()`. It is not exactly the same thing as Optional, because you are safe to call Optional and in here you need to know if you are able to call `.get()` or not, which may require you to go to the `httpRequest` and manually verify there is a

[2020-03-26 18:38] sberyozkin commented on #120
@radcortez Thanks, something along the lines of
[code]
would be the best what we can do IMHO instead of making various compromises around `Optional`. `Optional<JsonWebToken>` looks neat but if a thread locality can not be guaranteed for `ApplicationScoped` beans then it does not work, or modifying `JsonWebToken`.

What about
[code]
?
Thanks

[2020-03-26 18:41] sberyozkin commented on #120
Even `Provider<JsonWebToken>` - which just doc that one should be prepared to check the exception if it is not resolvable.

[2020-03-26 18:45] radcortez commented on #120
`Provider<Optional<JsonWebToken>> providerJsonWebToken` doesn't work either because is still subject to the rules of creational bean. Basically is just allows you control when the injection is performed, but the rules are the same.

[2020-03-27 12:01] sberyozkin commented on #120
@radcortez thanks, I've been warming up to your proposal to just require a `NullJwtWebToken` be returned.
Then all the user has to do is (which is something we will document):
[code]
No new methods, thread-safety or RBAC compromises. But if all the user wants to do is to inject the value and introspect it manually - it will do just fine :-).

[2020-03-27 12:10] radcortez commented on #120
Yes,

I guess we could provide a `getAsOptional()` as a shortcut:

[code]

Will save:
[code]

But not really a strong opinion about it.

The important portion is the spec to specify that an Empty JWT object is injected if no JWT is found in the request. Then the user can do whatever he wants with it.

[2020-03-27 22:48] sberyozkin commented on #129
@radcortez @rdebusscher OK, if everyone is good with it then I'll relax the text with a couple of tests, thanks

[2020-03-27 22:50] sberyozkin commented on #129
@andreas-eberle See @rdebusscher's response to Roberto's proposal :-). May be we can do it for 2.0

[2020-03-27 23:09] sberyozkin commented on #120
@radcortez We already have `JsonWebToken.getRawToken()` method which returns String which is supposed to represent whatever was in `Authorization Bearer ...`, IMHO there is no need for more methods if we are happy with the empty JWT object idea.
We can tweak the text (your `an Empty JWT object is injected if no JWT is found in the request` is just fine :-) ) and add a simple test that all of `Json

[2020-03-28 13:32] radcortez commented on #120
I'm fine with this. I'll push a proposal for spec and implementation.

[2020-03-28 19:43] rdebusscher commented on #120
When there is no JWT token in the header, a status 401 should be returned and not the execution of the JAX-RS method.

Or am I missing something in the above discussion?

[2020-03-29 18:36] radcortez commented on #120
The use case is for endpoint that don't require any authentication / authorisation but may have a token sent on the request.

Here is the original issue reported in Liberty:
https://github.com/OpenLiberty/open-liberty/issues/6087

[2020-03-29 23:29] Emily-Jiang commented on #120
I am a bit confused with this. I think it makes sense to inject `null` when the token cannot be obtained. The producer is allowed to produce a `null`. As for injecting to an `ApplicationScoped` bean, all of the injection points are static and only inject once. I don't think this token has any special dealing with that though.

[2020-03-30 02:35] hrstoyanov commented on #120
I filed this issue as a possible solution to specific problem in OpenLiberty, which may have been mitigated since then.
See original here:
https://github.com/OpenLiberty/open-liberty/issues/6087

[2020-03-30 09:40] radcortez commented on #120
Per the spec, null cannot be injected if the scope of the producer is something else than `Dependent`. In this case, the spec marks `JsonWebToken` as RequestScoped. Here is the text from the CDI spec as well:

_If a producer method sometimes returns a null value, then the producer method must have scope @Dependent. If a producer method returns a null value at runtime, and the producer method decla

[2020-03-30 09:42] radcortez commented on #120
Yes, I had a look into it, to understand better the use case. Do you think you still require something like this? As explained above, allowing injection of `Optional<JsonWebToken>` has a few limitations and I don't think we should allow it.

[2020-03-30 16:08] hrstoyanov commented on #120
If it is possible to dynamically check for the presence of token, or OpenLiberty got rid of that irritating error log,  I have no problem you guys closing this issue.

[2020-03-30 16:25] radcortez commented on #120
@hrstoyanov In Liberty, when you inject a token that is not present, what is the value that you get? Null? or just an exception?

[2020-03-30 17:42] radcortez commented on #142
I guess this needs to be moved to the 2.0 milestone?

[2020-03-30 18:23] radcortez commented on #128
Did we reach any consensus here?

[2020-03-30 18:30] radcortez commented on #127
I think that at the very least, we should support the counterpart primitive types for `Long` and `Boolean`, since the wrapper type are officially supported. There is already TCK tests for it, so we just need to add the primitive type to the spec.

If we are ok with this, I can push a PR for it.

[2020-03-30 18:33] radcortez commented on #127
Support for other primitive types / wrappers can be included in 2.0, but implementations are free to support them (no changes requires in the spec for it).

[2020-03-30 18:44] radcortez commented on #117
How about if we just drop the current requirement and say something along the lines of these:

**Original Text**:
Custom claims not handled by the Claims enum are required to be valid JSON-P `javax.json.JsonValue` subtypes. The
current complete set of valid claim types is therefore, (excluding the invalid Claims.UNKNOWN Void type):

* java.lang.String
* java.lang.Long
* java.lang.Boolean
* java.ut

[2020-03-30 22:16] Emily-Jiang commented on #120
@radcortez I remember there was a choice between making JsonWebToken as Dependent or RequestScoped. Obviously 'RequestScoped` was picked. I think with this issue, we should revisit this area and I think it simplies the solution a great deal if we update the JsonWebToken impl to be a Dependent bean. This release is the perfect one to do so.

[2020-03-30 22:31] sberyozkin commented on #142
I'm waiting for @darranl to check what can realistically be done for 1.2

[2020-03-30 22:46] radcortez commented on #120
Please, check the previous discussion about it here:
https://github.com/eclipse/microprofile-jwt-auth/issues/27

My concern about changing `JsonWebToken` from `RequestScoped` to `Dependent` is that it is potentially a huge backwards incompatible change. My guess is that a lot of developers inject `JsonWebToken` in `ApplicationScopedBeans` and we would just be breaking all of their apps with this c

[2020-03-30 22:47] sberyozkin commented on #120
@Emily-Jiang Changing the scopes is too late for 1.2 and IMHO it is not worth going for such a significant change just to address this issue anyway while a simple solution such as injecting `JsonWebToken` returning null for all of its getters works. The amount of work across all containers would be pretty massive and I'd rather avoid doing it unless there were a very convincing reason for it. @Req

[2020-03-30 22:52] sberyozkin commented on #120
@rdebusscher The use case there is to support the situation where the user code itself wants to manage what to do. I'm pretty sure I recall one of the TCK tests hitting the endpoint without a token, this is how I actually noticed raw `null` can not be returned :-).
I think this needs to be clarified

[2020-03-31 07:55] darranl commented on #142
Thanks for the reminder, will make this one a priority.

[2020-03-31 08:05] darranl commented on #128
I suspect on this one we would be better preparing a list of all claims, declaring them all as either mandatory or optional and then any where there is a disagreement can be discussed further.

[2020-03-31 08:49] rdebusscher commented on #120
This is what we do already. so

    @Inject
    private JsonWebToken jwt;

succeeds and jwt.getRawToken() return null when there is no token in the header.

So if we clarify this behaviour in the spec (If there is no JWT, an EmptyToken is injected with all values to null), we are good to go.

[2020-03-31 09:04] radcortez commented on #120
@rdebusscher yes, this was the proposal. If we have a consensus here, I'll push a PR for this.

[2020-03-31 12:29] sberyozkin commented on #94
@jeanouii `aud` is always good to check because without it there is no way for the service to check this token is indeed intended for this service. Which among other things opens an attack space where the bad intermediary forwards the token intended originally/only for it to the next target, etc.
We are bringing an option to let the users enforce the audience if they need to.

We can keep this iss

[2020-03-31 12:34] sberyozkin commented on #93
#176 introduces support for the cookies and also makes it clear the other headers/schemes can be optionally supported. IMHO it would be better to resolve this issue now and instead open new issues going forrward dedicated to providing a 1st class support for the alternative well known schemes, headers (not just any headers). The spec is enough open enough for the implementers to support whatever t

[2020-03-31 12:35] #93 closed

[2020-03-31 12:40] sberyozkin commented on #120
@radcortez Please do, as we have one more independent agreement :-)
CC @chunlongibm, @dblevins, Emily, others, FYI, hope it will work for everyone

[2020-03-31 19:04] chunlongliang-ibm commented on #120
we are good with latest proposal from @rdebusscher .  If there is no JWT in request, the bean will still be injected, and but the bean return the claims as null.

[2020-04-01 09:37] Emily-Jiang commented on #128
+1!

As a minimum, we need to made `upn` and `groups` as optional because MP JWT introduces these claims.

[2020-04-01 09:39] Emily-Jiang commented on #173
You can just create a google mailing list by following [this instruction](https://support.google.com/groups/answer/2464926?hl=en).

[2020-04-01 11:22] radcortez commented on #120
Made a proposal for spec update and added TCK: #178

[2020-04-02 11:37] sberyozkin commented on #173
Good to know we don't need to have some special permissions :-)

[2020-04-02 11:57] Emily-Jiang commented on #173
You should use the naming convention microprofile-jwt-auth for your google group name.

[2020-04-03 17:57] sberyozkin commented on #128
Hi All, IMHO we really should be a bit more careful with just allowing everything in but I agree about `upn` and `groups`.
PR for making `groups` optional is now open.
`upn` is actually optional - it is listed in the required set because essentially what is required there is that a named principal must be available at the end (either via `upn` or listed fallbacks) and I've spent may be 30 mins on

[2020-04-04 16:09] sberyozkin commented on #127
@radcortez Hi Roberto, +1, lets just add `long` and `boolean` clarification for 1.2 and for 2.0 we'll try to support everything else. Please create a PR, cheers

[2020-04-04 16:32] sberyozkin commented on #117
Listing JSON types is more descriptive as it is a limited set, we won't save much by the optimization like `including all subtypes`.
So to have
[code]
working, your text should be fine except that we don't really need IMHO to differentiate between standard and custom claims, having your
[code]

This will cover everything. The only problem is that I don't think we can actually fix it for `1.2`, bec

[2020-04-04 16:54] sberyozkin commented on #78
Hi Scott @starksm64 I'm quite keen to close this issue :-) We have added support for Cookies with some limited advice about avoiding putting the sensitive info into the signed tokens.
We really only re-introduced it to support some users who choose to use JWT as cookie, but we also noted that creating the secure cookies is out of scope. Putting much more visibility into it can likely draw more att

[2020-04-04 17:00] sberyozkin commented on #56
@starksm64 Hi Scott, Roberto is looking into a generic Conversion support so we'll let users eventually use JSONB inside their custom converters if they prefer

[2020-04-04 17:00] #56 closed

[2020-04-04 17:08] sberyozkin commented on #49
Hi @arjantijms

I'm really not sure why we should look into this use case where someone would write a code such as `logout` following by `authenticate`. MP JWT can't cover all the strange variations IMHO

[2020-04-04 17:08] #49 closed

[2020-04-04 22:53] arjantijms commented on #49
I'm not convinced that "Logging out" is really a strange variation. Note that the issue's description talks about the scope of the token and the logout action itself. NOT necessarily about authenticating again.

Authenticating again is something that *could* be done. That action too is not strange, as it's often used to implement `runAs` functionality, but if it's confusing forget about that.

The

[2020-04-05 10:40] radcortez commented on #117
Even if we cannot make the complete fix in `1.2` and have consistency between injection and programatic lookup, we should fix the injection part.

Right now, the specs just says:

So this is leaving any other supported type out. And since we mention that conversion only happens at injection point, I think it is fine to leave it as is, since there is no conversion happening in the programatic API.

[2020-04-05 14:52] sberyozkin commented on #46
Hi John, @johnament, this test may have been intentionally left out, and it looks incorrect now to me, i.e, we definitely expect `@ApplicationScoped` beans working correctly with the RequestScoped tokens.
I've marked #45 for `JWT 1.2` - I'll fix it by just copying one the tests which would run against an ApplicationScoped endpoint
Cheers !

[2020-04-05 14:53] #46 closed

[2020-04-05 14:54] sberyozkin commented on #45
Hi All, I'll add a TCK test which verifies it works for ApplicationScoped beans

[2020-04-05 17:42] sberyozkin commented on #45
I've opened a draft PR at #180.

[2020-04-05 17:47] starksm64 commented on #78
Understood.

[2020-04-05 17:47] #78 closed

[2020-04-06 11:54] sberyozkin commented on #117
+1.

[2020-04-06 17:27] radcortez commented on #117
Ok, so new proposed text:

The current complete set of valid claim types are:

* java.lang.String
* java.lang.Long (and primitive long)
* java.lang.Boolean (and primitive boolean)
* java.util.Set<java.lang.String>
* javax.json.JsonValue.TRUE/FALSE
* javax.json.JsonString
* javax.json.JsonNumber
* javax.json.JsonArray
* javax.json.JsonObject

The claims are automatically converted to the type used

[2020-04-06 21:59] #120 closed

[2020-04-07 07:32] rdebusscher commented on #128
yes, but the `exp` claim is much more important.

[2020-04-07 07:49] darranl commented on #128
For each claim I think there are two questions: -

1. Must the issuer of the token include that claim in the token.
2. Where a claim is present in the token must the MP JWT implemented process it.

As this specification is in relation to being the recipient of the claims I don't believe this specification should be mandating the contents created by the issuers.

However I do believe if a claim is

[2020-04-09 09:18] #45 closed

[2020-04-09 09:56] sberyozkin commented on #124
I believe the way out of it (given that some implementations start dealing with the token only if `RolesAllowed` is used) is to clarify that having `@PermitAll` is equivalent to the Authentication only mode.

[2020-04-09 10:12] #121 closed

[2020-04-13 16:23] #58 closed

[2020-04-13 16:36] sberyozkin commented on #80
Hi @OndroMih, all, I'm closing this question/issue as #70 is about LoginConfig clarifications too, thanks

[2020-04-13 16:56] sberyozkin commented on #70
Hi All, I'm going to close this issue for the following reasons:
* too many different issues have been discussed here and even I managed to have a good discussion with Romain, as we have always had before :-)
* IMHO, doing anything with `LoginConfig` is not worth spending the time/energy upon. Please don't take me wrong, it is not perfect, but it works for all.
* I'm against narrowing the scope of

[2020-04-13 16:56] #70 closed

[2020-04-13 17:08] sberyozkin commented on #113
@dblevins Hi David, I've suggested to clarify that for the purpose of this spec `@PermitAll` allows for the authentication-only flow. I'll create a PR and CC to you

[2020-04-13 17:42] rmannibucau opened #182 "Drop @LoginConfig"
Follow up issue of https://github.com/eclipse/microprofile-jwt-auth/issues/70 (hoping the scope of this one is clear and narrowed :))

This annotation has a lot of pitfalls:

1. it is not defined in a way which enables it to be portable,
2. it requires to hardcode the security config in the application (same as @*Definition are never used anywhere else than in demo in JakartaEE land, we should lea

[2020-04-13 18:42] arjantijms commented on #70
This is essentially already there, `LoginConfig` just specifies that the JWT-AUTH authentication mechanism should be used. I implemented JWT-AUTH myself using EE Security, and there it's treated exactly as that:

See https://github.com/omnifaces/jwt/blob/master/src/main/java/org/omnifaces/jwt/cdi/CdiExtension.java#L110

This is the same as annotations for other EE Security authentication mechanism

[2020-04-14 11:53] rdebusscher opened #183 "Clarify ClaimValue in combination with @SessionScoped"
Now that `ClaimValue` can be 'injected' into Application and Session scoped beans (See changes in spec doc in PR #180), the usage of SessionScoped beans can lead to exception as `ClaimValue` is not `Serializable`.

[2020-04-14 11:56] rdebusscher commented on #183
Possible solutions

1. Keep the Deployment exception for SessionScoped beans (as Session scope doesn't make much sense in REST applications.
2. Explicitly indicate that construct like this

       @Inject
       @Claim(...)
       private ClaimValue<sometype> xyz;

can lead to Exceptions.

[2020-04-14 12:17] sberyozkin commented on #182
@rmannibucau Sure, this is more concrete, no doubt about it :-)

[2020-04-14 12:18] #116 closed

[2020-04-14 12:18] #127 closed

[2020-04-14 12:21] sberyozkin commented on #183
@rdebusscher I'd just go for 1. Thanks

[2020-04-14 12:24] sberyozkin commented on #183
@rdebusscher How about we just drop completely a reference to `SessionScoped` (option3) if you say it does not make much sense anyway to use them ?

[2020-04-14 12:36] sberyozkin commented on #182
Hey @rmannibucau I've added a 2.0 milestone, though I'll resist as much as possible :-) because we have the users (and likely not only us) using it, unfortunately with more than MP-JWT, so there has to be a strong reason to make them update their applications. Few quick questions:

What is not portable about sticking it to the JAX-RS `Application` ?

Do you mean its optional `realm` property ?

MP

[2020-04-14 12:49] rmannibucau commented on #182
It is an annotation so if not in the classpath it is ignored, no update to do :).

It is not defined yet ;). It also has the issue to conflict with other EE specs (servlet and security out of my mind) which have their own security mecanism/annotations. Who wins? Who wraps who?

No, the jwt-auth activation itself. With all the proxies we have these days in k8s and friends, it is likely we'll have d

[2020-04-14 14:50] radcortez commented on #183
I would probably say to do 1, so users can be educated that they is not intended to work with `SessionScoped` :)

[2020-04-14 15:03] sberyozkin commented on #182
Hi Romain,

But the legacy project is relying on a user application telling it via `LoginConfig` what it wants

Then its docs can be updated

It can - but we are talking about the new projects here.

No, it is not related to KC.

Some immediate clarity would definitely helped though. We can say:
- the use of `LoginConfig` is optional - the implementations which depend on it may check `JAX-RS Appli

[2020-04-14 15:42] rmannibucau commented on #182
@sberyozkin before saying I agree or not, can you clarify you propose to make this annotation support optional as "implementation can or not support it" (I'm ok with it) or something else?

[2020-04-14 16:40] sberyozkin commented on #183
@radcortez I don't really mind, though it would be simpler just to drop it. But if someone would like a TCK then let it be part of the full TCK run only, I'm only going to restore the text to do with SessionScoped.

[2020-04-15 11:41] #129 closed

[2020-04-15 14:36] sberyozkin commented on #182
@rmannibucau Yes, optional would imply it, but I'm not 100% to be honest right now.

[2020-04-15 14:40] rmannibucau commented on #182
@sberyozkin nothing urges but think we should try to relax that soon, if bothersome (= we get negative feedback of making it optional) we could rethink about an useful and not conflicting configuration (can be as simple as enabling to handle a JAXRS interceptors set programmatically in an user feature to enable/disable that, it could even enable to make it dynamic in apps compared to today ;)).

[2020-04-16 10:41] radcortez commented on #117
@sberyozkin I believe this one can also be closed with https://github.com/eclipse/microprofile-jwt-auth/pull/181

[2020-04-16 17:28] sberyozkin commented on #182
@rmannibucau Are you OK with renaming this issue to `Make @LoginConfig optional` ? Once we fix this one we can open `Deprecate LoginConfig` if needed, if having optional will not be enough.

[2020-04-16 17:40] rmannibucau commented on #182
@sberyozkin works for me (maybe with another wording since "make @loginConfig optional" sounds like it can be there or not whereas we want to emphasis it can be supported or not).

[2020-04-17 13:40] #183 closed

[2020-04-17 17:16] sberyozkin commented on #182
@rmannibucau Making it optional is the very first step - once it is optional it effectively means no one has to support it but only those containers which prefer it will do it.

By the way, the package.info has:
[code]

So there is a reference to `Application`.

But in any case, I'm fine with updating its docs as the 1step as suggested earlier (drop the ref to all but MP JWT methods)

[2020-04-17 18:53] rmannibucau commented on #182
Yep works for me.

Side note: resources are used by jaxrs apps but not always referenced so javadoc does not remove all the ambiguity and clearly encourages the one with EE ecosystem so good to slowly move to dropping it from default required api.

[2020-04-21 21:40] #117 closed

[2020-05-14 09:43] #161 closed

[2020-06-02 12:26] tomas-langer commented on #118
What about removing the TCK tests I mentioned, and just leave this decision to the implementation?
As was mentioned before - the spec should describe how to validate authentication and authorization when accessing resources.
The key management itself can be vendor specific.

If you still want to use an URL to retrieve the keys, could you please handle it using WireMock or some other way that would

[2020-06-11 13:33] sberyozkin commented on #142
Hi All, lets try to finalize it for `1.2`. As @darranl has been saying, supporting `1024` bit length keys is a spec requirement which is not TCK enforced. Therefore if we want to keep this requirement in `1.2` then we need to try to enforce it is actually supported by the implementations and tune the underlying Jose implementations as needed.

[2020-07-02 11:37] sberyozkin commented on #170
Lets discuss what does it mean to have a full TCK compliance in 2.0

[2020-07-02 11:55] sberyozkin opened #192 "Update gitignore 'build' exclusion"
Hey @radcortez Are you working with Intellij by any chance ? `build` is excluded right now to eliminate some InteliJ build artifacts according to the comment, but it affects a package like `build`, I had to change from `build` to `builder` in the JWT generation PR.
Is it possible to make in more specific as opposed to just `build` ? Not urgent or critical...

[2020-07-02 14:51] radcortez commented on #192
I am.

If I remember correctly, IntelliJ does not use a `build` folder for Maven based projects. At least, I don't remember ever seeing one, so I think we can remove it from the ignore list.

[2020-07-02 15:30] teddyjtorres opened #193 "Fix minor typo in configuration.asciidoc for mp.jwt.decrypt.key.location"
The description for mp.jwt.decrypt.key.location refers to mp.jwt.verify.decryptkey.location when it should refer to mp.jwt.decrypt.key.location.  It should read like this instead,

mp.jwt.decrypt.key.location

The mp.jwt.decrypt.key.location config property allows for an external or internal location of Private Decryption Key to be specified. The value may be a relative path or a URL. Please see m

[2020-07-02 18:13] sberyozkin opened #195 "Introduce a token age property"
We have discussed this idea with @teddyjtorres, in our project we use a 'lifespan' property but `age` is more aligned to the definition of what `iat` is about.
By introducing something like `mp.jwt.verify.token.age` property we will be able to enforce the `exp` - `iat` constraint better and limit the tokens which have been around for an unreasonably (per the deployment specific considerations) lon

[2020-07-07 17:56] sberyozkin opened #197 "Add TCK test which confirms that JWTs signed with RSA keys of 1024 bit length are verified"

[2020-07-07 17:58] sberyozkin commented on #142
This issue has been moved to MP JWT 2.0, #197 is for MP JWT 1.2

[2020-07-07 17:59] #197 closed

[2020-07-08 13:52] #193 closed

[2020-07-10 14:26] #128 closed

[2020-07-12 19:00] vsmid opened #199 "mp.jwt.verify.publickey format clarification"
Hi,

I noticed that OpenLiberty requires -----BEGIN/END PUBLIC KEY----- header/footer headers when setting **mp.jwt.verify.publickey** value. For example, I tried the same thing on Payara and Quarkus and it didn't work. They both work without headers.

It does say in the docs that MicroProfile JWT implementations must inspect the supplied Public Key body for the -----BEGIN PUBLIC KEY----- header a

[2020-07-13 16:33] sberyozkin commented on #199
@vsmid In general, the implementations are allowed to support things which have not been explicitly allowed for in the spec.
Re this specific issue, it appears, from a pure practical point of view, is that putting the Base64 encoded value directly is something a user can do easily, but adding ` -----BEGIN PUBLIC KEY-----` and ` -----END PUBLIC KEY-----` is really meant for the `mp.jwt.verify.publi

[2020-07-13 16:34] sberyozkin commented on #199
CC @rdebusscher @radcortez @teddyjtorres

[2020-07-13 16:37] sberyozkin commented on #199
I.e, one would most likely have to wrap that into `"` double quotes - but that adds the extra porcessing requirements (strip the double quotes which is not needed for processing PEM)

[2020-07-13 18:21] vsmid commented on #199
@sberyozkin Thanks. Perhaps both formats(with and without headers) can be acceptable? I mean, it is a bit confusing when switching servers the same thing acts very differently. Maybe docs could say a little bit more about this.

[2020-07-14 09:27] rdebusscher commented on #199
Seems the headers are more or less standard these days (as also defined in an RFC), so probably we want to indicate this in the spec that headers are required (2.0 as this is breaking change)

[2020-07-14 11:53] sberyozkin commented on #199
@vsmid Thanks; I'm pretty sure the PEM key without the headers (as `mp.jwt.verify.publickey`) should also work with Open Liberty, I think we have a TCK test for it :-).
We can add a new test in 2.0 with the headers inlcuded...

[2020-07-14 13:23] sberyozkin opened #200 "Release MP JWT 1.2-RC1"
Creating this issue to let everyone know I'm planning to release soon, 20 July Mon at the latest.

CC @rdebusscher @teddyjtorres @radcortez, others

The release job is here:
https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/build?delay=0sec

It will be the 1st time I'll be releasing MP JWT, so, `releaseVersion`/`tag` will be set to `1.2-RC1`, `snapshotVersion` will remai

[2020-07-26 16:02] #200 closed

[2020-07-26 16:06] sberyozkin opened #203 "Baseline plugin build failure"
Currently the build is failing with:
[code]
I'm travelling tomorrow and I don't have time now to investigate it.
Is it related to that Warning ? FYI, I've tried to update 2 package-info files to `1.2.1` but it did not help, I really don't get what is going on.
Would appreciate if someone can have a look
CC @radcortez @rdebusscher @Emily-Jiang

[2020-07-27 10:18] radcortez commented on #203
I can have a look.

[2020-07-27 12:18] rdebusscher commented on #203
There is already a 1.2-RC1 on Maven central. https://mvnrepository.com/artifact/org.eclipse.microprofile.jwt/microprofile-jwt-auth-api/1.2-RC1

[2020-07-29 11:33] Emily-Jiang commented on #203
The reason is that the current branch compares to the latest released 1.2-RC1. Since there are changes, the tool asks for update. However, we pushed the RCx just for testing purpose and we compare against the latest final release. Therefore, I have added the base to 1.1. It fixes the issue. I will follow up with bnd tools to see whether we can configure towards comparing with the latest final rele

[2020-08-16 15:12] sberyozkin commented on #203
Hi Emily @Emily-Jiang thanks for providing a fix, let me close this issue

[2020-08-16 15:12] #203 closed

[2020-08-27 15:20] sberyozkin commented on #182
CC @teddyjtorres.

[2020-09-23 16:39] ayoho opened #209 "404 reported in verifyTokenWithoutName because test endpoint does not exist"
Running the TCK against my product shows the following failure in the [org.eclipse.microprofile.jwt.tck.container.jaxrs.RequiredClaimsTest.verifyTokenWithoutName](https://github.com/eclipse/microprofile-jwt-auth/blob/f2a0557d1ec0544b9c404216ff847dc401814fb4/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/RequiredClaimsTest.java#L283) test:

[code]

I believe this is a bug in the

[2020-09-24 22:09] #209 closed

[2020-11-05 11:03] sberyozkin opened #218 "Update TCK to depend on MP Config 2.0"
CC @radcortez @Emily-Jiang @teddyjtorres @ayoho @rdebusscher

Hi All, we will proceed with MP JWT 1.2 release once this issue gets resolved

[2020-11-06 13:31] sberyozkin commented on #218
In meantime I'll try to get 1.2.RC2 out

[2020-11-08 11:41] sberyozkin opened #219 "Release MP JWT 1.2-RC2"
@radcortez @Emily-Jiang
Hi Roberto, Emily

https://ci.eclipse.org/microprofile/job/JWT-Auth-maven-snapshots/1355/display/redirect

has failed with
[code]

Have you seen similar failures with `MP Config 2.0-RC*` recently ?
What is the best course of action, retry `1.2-RC2` or start the next `1.2-RC3` ?

thanks

[2020-11-09 12:44] radcortez commented on #219
I've seen that before and usually it means that there is some sort of issue with Central. Give it another try to see if it works now.

[2020-11-09 16:35] sberyozkin commented on #219
@radcortez Thanks, if it fails then I'll try with RC3 I guess

[2020-11-09 17:49] sberyozkin commented on #219
It was a bit embarrassing :-), I forgot to set a tag name, thought it would be deduced from the release name (which may be a good enhancement I guess for the release script)

[2020-11-09 18:32] radcortez commented on #219
No worries. Did it work now?

[2020-11-09 22:19] sberyozkin commented on #219
@radcortez Hey Roberto

No, [from](https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/463/console)
[code]
Man, I I forgot all about the release processes, need to revert that one

[2020-11-09 22:42] sberyozkin commented on #219
Another try, https://ci.eclipse.org/microprofile/view/Release/job/MicroProfile%20Releases/465/

[2020-11-09 22:52] sberyozkin commented on #219
That one passed

[2020-11-09 22:56] sberyozkin commented on #219
I see it Nexus in Releases so looks like the staging repo has been closed, will check tomorrow

[2020-11-10 10:31] radcortez commented on #219
Great!

[2020-11-10 11:02] sberyozkin commented on #219
Hey @radcortez
So here,
`https://oss.sonatype.org/#nexus-search;gav~org.eclipse.microprofile.jwt~microprofile-jwt-auth-spec~~~~kw,versionexpand`

I can see it in `orgeclipsemicroprofile-1359 (staging: closed)`

Is it what you and @Emily-Jiang were noticing as well for MP Config ? The artifacts are not in Central, how to help them to make it there :-) ?

[2020-11-10 11:17] radcortez commented on #219
Hey @sberyozkin

Yes, when you do the release, the artefacts are first staged in central (so they can be reviewed, tested, etc). If you are happy with them, you just "Release" in the repository and they will be pushed and made public in central.

[2020-11-10 12:12] sberyozkin commented on #219
@radcortez yeah so much I remember from the old days :-), but I don't see any Staging Repository as such here `https://oss.sonatype.org/#stagingRepositories`, I've only managed to find these `1.2-RC2` artifacts with `Search` and all it points out is to this `orgeclipsemicroprofile-1359 (staging: closed)`, `staging-closed` is no my comment

[2020-11-10 12:24] radcortez commented on #219
Ah, most likely because you don't have permissions on Central to release the groupId. I'm able to see it. Do you want me to release? In the meanwhile, open up an issue in Central so we can give you permissions. Here is a sample: https://issues.sonatype.org/browse/OSSRH-61814

[2020-11-10 12:32] sberyozkin commented on #219
@radcortez Yeah, that must be it, I was just about to spam the microprofile list asking if it was a permission issue :-)
Let me open that Nexus issue, if they resolve it fast enough then I'd be happy enough to test it and Release, just so that I could go the full path before we do `1.2` final.
I'll ask you for help if the issue won't be resolved today, thanks Roberto :-)

Cheers

[2020-11-10 12:45] sberyozkin commented on #219
Hey @radcortez Can you please confirm at https://issues.sonatype.org/browse/OSSRH-61914 ?

[2020-11-10 13:15] radcortez commented on #219
Yes!

[2020-11-10 16:22] sberyozkin commented on #219
Verified the staged artifacts against smallrye-jwt and pressed that Release button. will close this issue once it gets to Central, thanks Roberto for helping out

[2020-11-10 17:43] radcortez commented on #219
Great!

[2020-11-10 20:29] sberyozkin commented on #219
@teddyjtorres @ayoho FYI, you can test 1.2-RC2 now

[2020-11-10 20:29] #219 closed

[2020-11-10 20:58] ayoho commented on #219
@sberyozkin Thanks! Do you know when we should anticipate the new artifacts being available under https://mvnrepository.com/artifact/org.eclipse.microprofile.jwt/microprofile-jwt-auth-tck ?

[2020-11-11 00:30] radcortez commented on #219
Not sure when that gets updated, but they are already available in Central: https://search.maven.org/artifact/org.eclipse.microprofile.jwt/microprofile-jwt-auth-api/1.2-RC2/jar

[2020-12-01 23:07] ghunteranderson opened #225 "Clarification on "Recommended Headers and Claims""
I may be a bit late to the party here 🙂.

Reviewing the new differentiation between required and recommended claims, I was a little confused who the recommendation is directed at; MP-JWT implementers or token issuers.

At first, I assumed it is recommended but optional for token issuers provide recommended claims. Then, to maintain interoperability, I would expect those recommended claims be optio

[2020-12-03 14:49] sberyozkin commented on #225
@ghunteranderson Hi,

`recommended` is about the best practice but it is not a requirement to be MP JWT compliant for a given IDP provider to include all those recommended claims - I'd say all the certified providers do include them, but since we are also deaking with the self-issued tokens we are keeping the option open for such clients to continue operating.

Every implementation should always h

[2020-12-03 16:19] ghunteranderson commented on #225
Hey @sberyozkin,

Thanks for taking time to respond 🙂. This clears up the intent some for me.

That's a really good point. I cannot argue with this. Reducing the the lest common denominator isn't a good idea when we're talking about security.

I suppose my concern is just that a compliant IDP might not work with a compliant server because servers have the freedom to make recommended claims require

[2020-12-03 22:00] sberyozkin commented on #225
What happens beyond the compliance requirements of MP JWT 1.2 is not our concern. A given implementation enforcing a given recommended claim as required has nothing to do with the MP JWT 1.2 compliance which is enforced by the TCK test suite.

How what are you suggesting is different to MP JWT 1.2 stance that the recommended claims can be made required my a given MP JWT server ? You are just turn

[2020-12-04 10:16] sberyozkin commented on #225
One thing I would like to comment upon: there is no such thing as an `MP JWT compliant IDP` - it will never happen that all popular IDPs in use will start issuing their tokens by default such that these tokens can be accepted by MP JWT servers.  It is the other way around - it is in the interests of MP JWT to be able to accept as many tokens issued by IDPs as possible without setting a barrier bey

[2020-12-04 17:34] sberyozkin opened #227 "SmallRye Compatible Certification Request for MicroProfile JWT RBAC 1.2"
- [x] Organization Name ("Organization") and, if applicable, URL:<br/>
  Red Hat

- [x] Product Name, Version and download URL (if applicable):<br/>
  [SmallRye JWT 3.0.0-RC1](https://repo1.maven.org/maven2/io/smallrye/smallrye-jwt/3.0.0-RC1/)

- [x] Specification Name, Version and download URL:<br/>
   MicroProfile JWT RBAC 1.2

- [x] Public URL of TCK Results Summary:<br/>
  https://github.com/s

[2020-12-04 17:35] ghunteranderson commented on #225
It sounds like we're saying that it is not the goal of this specification to provide token issuers with a set of requirements that, if met, would guarantee compatibility with all compliant MP JWT implementations. Instead, the specification is only intended to provide the minimum requirements for a server without restriction on additional requirements. Token issuers could not know that their tokens